

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1300px) {
	
	.container-header{width:1230px;}
}
@media only screen and (max-width: 1200px) {
	
	.container-header{width:1136px;}
}
@media only screen and (max-width: 1100px) {
	
	.container-header{width:100%;}
	.conteiner-menu ul{margin-left:55px;}
	footer .conteiner-menu ul{margin-left:0px;}
	.main-slider .box-container{padding:24px 0px;width:100%;}
	section.content-about{display:none;}
	/*section.content-about .about-info{width:100%;}
	section.content-about .about-info h4{display:none;}
	section.content-about .about-logo {float:none;margin:auto;width:100%;text-align:center;}
	section.content-about .about-logo img{width:89px;}
	section.content-about .about-text {width:100%;}*/
	.visitor-message div.leftb{width:100%;float:none;font-size: 12px;}
	.visitor-message div.rightb{width:100%;float:none;text-align:left;}
	
}
@media only screen and (max-width: 1140px) {
	
	.along-content{width:100%;min-width:100%;}
	.along-content-1{width:100%;}
	.article-block{margin-left:10px;}
	
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	.main-slider{
		background: url('../images/slider-1.png') bottom center no-repeat #121e2d;
		background-size: 100% 875px;
	}
	h1{ font-size: 45px; }
	h2{ font-size: 3em; }
	h3{ font-size: 21px; }
	.container-header{width:100%;}	
	.conteiner-menu{width:100%;margin-left:-15px;margin-right:-15px;}
	/* ---------------------------------
	3. MENU
	--------------------------------- */
	
	header .conteiner-menu .main-menu{display:none;}
	
		/*header .main-menu{ text-align: left; display: none; float: none; clear: both; max-height: 400px;
			overflow: auto; border-top: 1px solid #000;  background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.8));margin-left:0px;position: absolute;width: 100%;top: -7px;z-index: 20; }
		
		header .main-menu > li{ display: block; float: none; border-bottom: 1px solid #000; }
		
		header .main-menu > li:last-child{ border-bottom: 0; }
		
		header .main-menu li > a{ display: block; border: 0; line-height: 1; height: auto; padding: 15px; background: none; }
		.conteiner-menu li a.menu-1,
		.conteiner-menu li a.menu-2,
	.conteiner-menu li a.menu-3,
	.conteiner-menu li a.menu-4,
	.conteiner-menu li a.menu-5,
	.conteiner-menu li a.menu-7,
	.conteiner-menu li a.menu-6{width:100%;}
	.conteiner-menu li a.menu-6{border:none;margin-left:0px;}
*/

	header .main-menu li.drop-down > ul.drop-down-menu{ position: static; box-shadow: none; }	
	header .main-menu li.drop-down > ul.drop-down-inner li:first-child{ border-top: 1px solid #444; }
	
	
	
	/* NAV ICON */
	
	.menu-nav-icon{ display: inline-block; float: right; }
	.box-line{width:100%;}
	.box-titles{font-size:13px;}
	.content-managers div.box{width:100% !important;}
}



/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	.container-header{width: 100%}
	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2.5em; }
	h3{ font-size: 21px; }
	h4{ font-size: 1.5em; }
	h5{ font-size: 1.2em; }
	
	/* ---------------------------------
	2. COMMONS FOR PAGE DESIGN
	--------------------------------- */

	.section{ padding: 50px 0 20px; }

	.section .heading{ padding-bottom: 20px; }
	
	.section .heading .heading-bottom{ margin-top: 10px; }
	
	
	/* ---------------------------------
	3. MENU
	--------------------------------- */
	
	header{ top: 0; border-bottom: 1px solid rgba(255,255,255, .1); }
	
	header .logo{ margin: 10px 0; height: 40px; }
	
	
	/* BOTTOM AREA */
	
	.box-bonuses-row{margin-bottom:20px;}

	
	
	
	
	/* ---------------------------------
	11. FOOTER
	--------------------------------- */
	
	footer ul > li > a{ padding: 10px 7px; }
	
	footer .newsletter .email-area{ width: 90%; }
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 14px;  }
	.container-header{width:100%;}
	.box-buttons{height:125px;}
	.current-timer{margin-top: 9px;}
	.button1{margin-right: 0px;margin-bottom:10px;}
	.box-bonuses-row{margin-bottom:10px;}
	.main-slider{
		background: url('../images/slider-1.png') bottom center no-repeat #121e2d;
		background-size: cover;
		background-position-y: -42px;
	}
	


}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 375px) {

	body {
		max-width: 375px;
		overflow-x: hidden;
		min-width: 375px;
	}

	header {
		position: relative;
		margin-bottom: -25px;
		z-index: 1;
		margin-bottom: -65px;
	}

	/*a.logo {*/
		/*position: static !important;*/
	/*}*/

	/*.menu-nav-icon {*/
		/*position: absolute;*/
		/*top: 0;*/
		/*right: 20px;*/
	/*}*/

	#top-message {
		display: none;
	}

	.language-block {
		display: none;
	}

	.menu-nav-icon {
		margin-right: 0;
		z-index: 99999999;
		position: relative;
	}

	.container-header {
		position: relative;
	}

	a.logo {
		position: absolute;
		top: -7px;
		right: 130px;
	}

	header {
		border: none;
	}

	.slider-content h1 {
		font-size: 32px;
		padding-bottom: 200px;
		background: linear-gradient(to bottom, #121e2d, transparent),
		url(../images/combined-header.svg?new=6) bottom center no-repeat,
		url("../images/Earth Photo.png") bottom center no-repeat #121e2d;
		/*background-size: contain ,contain, contain;*/
		background-size: contain ,contain, 108% 250px;
	}

	.hendy {
		width: 100%;
		display: block;
		padding-top: 125px;
		background-image: none;
		height: auto;
		position: relative;

	}

	.main-slider {
		background-image: none;
		background-size: contain;
	}

	.main-slider .box-container {
		margin-top: -80px;
		margin-left: 16px;
		margin-right: 16px;
		width: calc(100% - 32px);
		position: relative;
		padding-top: 140px;
		height: auto;
	}

	body.mainer .main-slider {
		height: auto;
		background: linear-gradient(0deg, #0F253A 0%, rgba(15,37,58,0.48) 0%, rgba(17,32,48,0.88) 37.95%, #121E2D 100%);
	}



	section.content-videos {
		overflow: hidden;
	}

	.schema-image {
		width: 375px;
	}

	#core_team_block {
		width: 375px;
		min-width: auto;
		background-image: url("/images/blue-fon.png");
		background-size: cover;
		background-position: 0px -2px;
		padding-top: 113px;
	}

	#core_team_block h5.bold_900 {
		font-size: 26px;
		font-weight: 900;
		line-height: 34px;
	}






	section.content-partner, section.content-faq, footer, #content-meetings, section.content-discover {
		overflow: hidden;
	}



	.box-container .button-simple {
		position: absolute;
	}

	.box-container .button1 {
		top: 50px;
		left: 57px;

	}

	.box-container .button2 {
		top: -32px;
		left: 58px;
		border: 1px solid rgba(255,255,255,0.5);
		border-radius: 8px;
		background: linear-gradient(36.85deg, #00AAE6 0%, #5ADBFE 100%);
		box-shadow: 0 6px 16px 0 rgba(49,197,243,0.5), 0 11px 22px 0 rgba(0,0,0,0.21);

	}

	.button2 span  {
		color: #FFFFFF;
	}

	.button2 i {
		background-image: url("/images/arrow-left-white.svg") !important;
	}

	.boxbutton-text,  .current-timer {
		display: none;
	}

	.box-buttons {
		height: 0px;
	}

	.box-line {
		flex-direction:column;
		width: 30px;
		height: 400px;
		margin-left: 65px;
	}

	.box-line li:first-of-type .line-circle {
		display: none;
	}

	.box-active-line {
		width: 30px !important;
		height: 29px;
		margin-top: 0px;
	}

	.line-circle.full {
		background-color: #66CCFF;
	}

	.box-titles-row {
		display: flex;
		flex-direction:column;
		position: absolute;
		left: 108px;
		align-items:stretch;
	}

	.box-titles {
		width: 200px;
		max-width: none;
		margin-bottom: 45px;
		margin-top: 20px;
		text-align: left;
	}

	#write-about-us .titleblock {
		margin-left: 15px;
		margin-right: 15px;
	}

	#write-about-us .sliderblock-wrapper {
		margin-left: 0px;
		margin-right: 0px;
	}

	section.content-number {
		margin-top: 0;
		height: auto;
		width: calc(100% - 32px);

		margin-left: 16px;
		margin-right: 16px;
		min-width: auto;
	}

	section.content-rotate {
		display: none;
	}

	section.content-managers {
		height: 310px;
	}

	.contribution-block {
		height: auto;
		width: 100%;
		flex-direction: column;
		margin-top: -60px;
	}

	.currency-shadow {
		display: none;
	}

	.contribution-block {
		align-items:center;
		position: absolute;
		top: -50px;
		background-color: transparent;

	}

	section.content-number {
		margin-top: 130px;
		background-color: #233042;
		border: 1px solid rgba(0,0,0,0);
		border-radius: 16px;
		height: 1330px;
		position: relative;
	}

	.currency-block.unifox .currency-body {
		height: 263px;
		width: 212px;
		border-radius: 16px;
		background-color: #2EC3F3;
		box-shadow: 0 7px 16px rgba(0,0,0,0.14);
	}

	.currency-block.unifox img {
		margin-top: 16px;
	}

	.currency-block.unifox  .currency-button-text {
		/*border: 1px solid rgba(255,255,255,0.5);*/
		/*border-radius: 8px;*/
		/*background-color: #FFFFFF;*/
		/*box-shadow: 0 16px 18px 0 #22B2E0, 0 11px 22px rgba(0,0,0,0.21);*/
		/*color: #2EC3F3;*/
		margin-bottom: 30px;
	}

	#mobile-timer {
		display: block !important;
		width: 100%;
		height: 50px;

		margin-top: 40px;
	}

	#mobile-timer .current-timer {
		color: #FFFFFF;
		display: block;
	}

	#mobile-timer .current-timer span {
		color: #FFFFFF !important;
	}

	#mobile-timer .current-timer span.bold-blue {
		color: #2EC3F3 !important;
	}

	.articles {
		background: none;
		/*width: calc(100% - 32px);*/
		/*margin: 0 auto;*/
		width: 100%;
	}

	.articles .container {
		flex-direction: column;
	}

	.article-text {
		width: auto;
		height: auto;
	}

	.article-header {
		margin-bottom: 32px;
	}

	.first-article {
		margin-bottom: 0;
	}

	.third-article {
		height: auto;

	}

	.article-left-second {
		margin-top: 80px;
		margin-bottom: 20px;
	}

	.article-right {
		display: block;
		height: auto;
	}

	.video-play, .video-injoy {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
	}

	.video-injoy iframe {
		width: 345px !important;
		height: auto !important;
	}

	.button-simple-partner {
		margin-bottom: 40px;
	}

	.button-simple-blue {
		margin-left: 100px;
	}

	.second-article {
		background-image: url("/images/Path 2.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 375px;
		margin-left: -16px;
		margin-right: -16px;
		padding: 16px;
		background-position-y: 410px;
	}

	.second-article h2 {
		margin-top: 50px;
	}

	.button-simple-partner.video {
		margin-left: 100px;
		margin-bottom: 100px;
	}

	h1.schema-header {

		margin-left: 16px;
		margin-bottom: 0;
		font-size: 26px;
		font-weight: 900;
		line-height: 34px;
		text-shadow: 0 2px 16px 0 #121E2D, 0 2px 16px 0 #121E2D;
		text-align: left;

	}

	.schema-image {
		height: auto;
	}

	section.content-discover {
		height: auto;
		background-image: url("/images/blue-fon2.png");
		background-repeat: no-repeat;
		/*background-size: 1018px 964px;*/
		background-size: contain;
	}

	.discover-box {
		flex-direction:column;
		align-items: center;
	}

	.discover-block {
		margin-bottom: 42px;
	}

	section.content-roadmap h5 {
		text-align: left;
		margin-left: 16px;
	}

	.content-roadmap .box-conteiner {
		margin-left: 16px;
	}

	.w-detail {
		float: right!important;
		width: 92%;

	}

	.w-detail .box {
		width: 85%;
		margin-left: 35px !important;
	}

	.w-detail.left:after {
		left: -15px;
	}

	.wedding-details:after {
		margin-left: -160px;
	}

	.core-team-block {
		flex-direction:column;
		background-image: none;
		/*background-size:  625px 988px;*/
		/*background-repeat: no-repeat;*/
		align-items:center !important;
		padding-top: 30px;
		padding-bottom: 78px;
	}


	.advisory-block.first {

		overflow-x: scroll;
	}

	.mob-hui {
		width: 100%;
		overflow-x: scroll;
        outline: none;
	}


	 .advisor-container {
		flex-wrap: nowrap;
		/*width: auto;*/
		max-width: none;
		overflow-x: scroll;
		justify-content: flex-start;
		width: 1888px;
	}

	.advisor-container.two {
		width: 1500px;
	}


	.photo-block {
		overflow: hidden;
	}

	.advisor {
		width: 226px;
		min-width: 226px;
		display: inline-block;
	}

	.otherteam-inner {
		flex-direction:column;
	}

	.otherteam-col {
		width: 100%;
	}

	.meeting-one {
		width: 100%;
		margin-bottom: 0px;
	}

	.faq-element {
		width: calc(100% - 32px);
		position: relative;
	}




	.faq-element > span {
		width: auto;
		margin-left: 20px !important;
	}

	.faq-description {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	.faq-description img {
		width: 100% !important;
	}

	footer {
		height: 266px;

	}

	footer .container-footer {
		background: url("../images/Base Border.svg") top center no-repeat;
		background-size: 401px 265px;
		position: relative;
		background-color: transparent;

	}

	footer .copyright {
		position: absolute;
		bottom: 0px;
		text-align: center;
		width: 100%;
	}

	footer .footer-links {
		display: none;
	}

	footer .social-icons {
		top: 0px;
		left: 0px;
		right: 0px;
		width: auto;
		padding: 58px;
	}

	footer .social-icons li a {
		height: 44px;
		width: 44px;
	}

	span.mob-block {
		display: block;
	}

	.schema-image > img {
		width: calc(100% - 32px);
		margin-left: 16px;
		margin-right: 16px;
	}

	.core-team-block .person-block {
		margin-bottom: 20px;
	}


	/**  DOC */

	.page-container {
		width: calc(100% - 32px);
	}

	.button-simple-document {
		margin-bottom: 26px;
	}

	.advisor-line {
		display: none;
	}

	.jspDrag {
		height: 5px !important;
		border-radius: 2.5px;
		background-color: #465465 !important;
	}

	.content-partner .partner-slider {
		width: 375px;
	}

	.partner-slider .owl-next {
		right: 5px!important;
		top: 235px!important;
	}

	.partner-slider .owl-prev {
		left: 5px!important;
		top: 235px!important;
	}


	.faq-element {
		position: relative;
		padding-right: 40px;
	}

	.faq-element > span {


	}

	.faq-element i {
		position: absolute;
		top: 50%;
		right: 12px;
	}

	.faq-element.active span i {
		top: 38px;
	}
	section.content-about{display:none;}
	/*section.content-about .about-info{width:100%;}
	section.content-about .about-info h4{display:none;}
	section.content-about .about-logo {float:none;margin:auto;width:100%;text-align:center;}
	section.content-about .about-logo img{width:89px;}
	section.content-about .about-text {width:100%;}*/
	.visitor-message div.leftb{width:100%;float:none;font-size: 12px;}
	.visitor-message div.rightb{width:100%;float:none;text-align:left;}
}


/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {

	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	.container-header{width:100%;}
}


