/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html{ font-size: 100%; height: 100%; overflow-x: hidden;margin: 0px;  padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; font-family: 'Roboto', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #ffffff; }
body.mainer{background:#0C1622;}
body.document{background:#2ec3f3;}
h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }
p{ line-height: 1.5;}

h1{ font-size: 56px;font-weight: 900; }
h2{ font-size: 56px; font-weight: 900;}
h3{ font-size: 26px;font-weight: normal;text-align:center; }
h4{ font-size: 20px; }
h5{ font-size: 26px;text-align:center; }
h6{ font-size: 26px; text-align:center;font-weight: 200;}

a{color:#fff;}

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFF; }

b{ font-weight: 500; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }
.left{float:left;}
.right{float:right;}
.bold_900{font-weight: 900;}

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.btn{ padding: 15px 30px; border-radius: 1px; letter-spacing: 2px; 
	border: 1px solid #E45F74; background: #E45F74; color: #fff; }

.btn:hover{ color: #E45F74; background: none; }

.btn-2{ font-size: .9em; padding: 15px 30px; border-radius: 1px; letter-spacing: 2px; 
	border: 1px solid #E45F74; }

.btn-2:hover{ background: #E45F74; color: #fff; }

.border-btn{ font-size: .9em; padding-bottom: 5px; background: none; color: inherit; border: 0; 
	position: relative; overflow: hidden; }

.border-btn:after{ content:''; position: absolute; bottom: 0; left: 0; right: 0; height: 2px; 
	transition: all .3s; background: #E45F74; }

.border-btn:before{ content:''; position: absolute; bottom: 0; left: 0; right: 0; height: 2px; 
	transform: translateX(-130%); transition: all .3s; background: #E45F74; }
	
.border-btn:hover:after{ transform: translateX(130%); }

.border-btn:hover:before{ transform: translateX(0%); }
.background-121e2d{background-color:#121e2d;}
.along-content{min-width:1440px;margin-left: auto;margin-right: auto;width:100%;}
section.content-managers-short{height:75px;}
section.content-managers{height:260px;line-height: 34px; background-image: url(../images/earth-bg-small.png);background-repeat:no-repeat; background-position:center center;padding-top:71px;}
section.content-managers div.box{width:827px;margin:auto;background:#121E2D;padding:7px 0px 13px 0px;}
section.content-number{margin-top:-235px;height: 350px;}
section.content-videos{margin-top:125px;background: url(../images/video-leftbg.svg) bottom left no-repeat;}

	
section.content-projects{margin-top:135px;}
section.content-discover{margin-top:85px;background: url(../images/discover-bg.svg) bottom center no-repeat;background-size:100% 386px;height:386px;}
section.content-roadmap{margin-top:115px;}
section.content-team{margin-top:135px;background: url(../images/core-team-bg.png) bottom center no-repeat;background-size:100% 432px;height:432px;padding-top:37px;}

section.content-marketing{margin-top:125px;}
section.content-marketing .text-box{width:800px;padding-bottom:110px;border-bottom:1px solid #1F3045;}
section.content-partner{margin-top:95px;}
section.content-about{margin-top:150px;}
section.content-about .box{}
section.content-about > h3{font-weight: 900}
section.content-faq{margin-top:95px;background: url('../images/faq_bck.png') top center no-repeat #121e2d;background-size:100% 250px;}
section.content-faq > h3{font-weight: 900}
section.content-rotate{height: 266px;background: url('../images/circle-bg.svg') top center no-repeat;transform: rotate(180deg);background-size:100% 947px;}



.center-text{ text-align: center;} 

.color-white{ color: #fff; }

.display-table{ display: table; height: 100%; width: 100%; }

.display-table-cell{ display: table-cell; vertical-align: middle; }



::-webkit-input-placeholder { font-size: .9em; letter-spacing: 1px; }

::-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

:-ms-input-placeholder { font-size: .9em; letter-spacing: 1px; }

:-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

.clear{clear:both;}
.flex{display:flex;display: -webkit-flex; }
/* ---------------------------------
3. MENU
--------------------------------- */

header{ position: absolute; left: 0; right: 0; top: 30.2px; z-index: 1000; color: #fff; }
.container-header,
.container-header{position: relative;margin-left: auto;margin-right: auto;width:1372px;height:62px;}

.conteiner-menu{width:928px;margin:auto;position:relative;}
.conteiner-menu ul{margin-left:30px;}

/* MIDDLE AREA */

header .logo{font-family: Roboto;font-size: 20px;line-height: 26px;position:absolute;padding-top: 15px;}
header .logo span{font-weight: 900;}
header .logo .logo-img{height: 53px;width:56px;overflow:hidden; margin-right:10px;align-items: center;margin-top:-15px;}

header .logo .logo-img img{width: 127px;}


/* BOTTOM AREA */


header .main-menu,
footer .main-menu{ font-weight: normal;}

header .main-menu > li > a{ display:block; height: 62px; line-height: 53px; border-bottom: 2px solid #2CBBE9; background: transparent; text-align:center;text-transform: uppercase;font-size:16px;}
.conteiner-menu li a img{ width:10px;}
.conteiner-menu li a.menu-1{ width:47px; margin-right: 3px;}
.conteiner-menu li a.menu-2{ width:193px;}
.conteiner-menu li a.menu-3{width:101px;}
.conteiner-menu li a.menu-4{width:86px;}
.conteiner-menu li a.menu-5{ width:115px;}
.conteiner-menu li a.menu-7{ width:167px;}
.conteiner-menu li a.menu-6{ margin-left:25px; width:162px;border:2px solid #ffffff;border-radius:8px;}

header .visible.main-menu{ display: block; }


/* DROPDOWN MENU STYLING */

header .main-menu li.drop-down{ position: relative; text-align: left; }

header .main-menu li.drop-down > ul.drop-down-menu{ display: none; position: absolute; top: 50px; left: 0; 
	min-width: 200px; box-shadow: 0px 3px 10px rgba(0,0,0,.3); background: #333; }

header .main-menu li.drop-down > ul.drop-down-menu li{ display: block; border-top: 1px solid #444; }

header .main-menu li.drop-down > ul.drop-down-menu li > a{ display: block;}

header .main-menu li.drop-down > ul.drop-down-inner li:first-child{ border-top: 0; }

header .main-menu li i{margin-left: 10px; }


/* DROPDOWN SUBMENU */

header .main-menu li.drop-down > ul.drop-down-inner{ top: 0; left: auto; left: 100%; }


/* DROPDOWN HOVER */

header .main-menu > li > a:hover,
header .main-menu li a.mouseover{ color:#2DC2F2;border-color: #fff; font-weight:900;}

header .main-menu li.drop-down a.mouseover + ul.drop-down-menu{ display: block; 
	animation: full-opacity-anim .2s forwards; }


@keyframes full-opacity-anim{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}

/* NAV ICON */

.menu-nav-icon{ display: none; height: 60px; width: 50px; text-align: center; line-height: 60px; cursor: pointer; 
	font-size: 1.8em; margin-right:40px;}

	
	
/* ---------------------------------
4. SLIDER
--------------------------------- */

.main-slider{position: relative;background: url('../images/slider-1-big.png') bottom center no-repeat #121e2d; background-size:100% 875px;} 
body.mainer .main-slider{height: 875px;}
body.document .main-slider{height: 875px;}

.element-slider-2{background: url('../images/slider-2.png') bottom center no-repeat;}
.main-slider:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; 
	z-index: -1; background: rgba(0,0,0,.3); }

.slider-content .date{ margin: 10px 0 0; }

.slider-content i{ line-height: 1; }

.slider-content i.small-icon{ font-size: 2.5em; }

.slider-content .title i{ transform: translateY(10px); font-size: .8em; color: #E45F74; }
.hendy{padding-top:153px; font-weight:900; background: url('../images/combined-header.svg') bottom center no-repeat;background-size:100% 194px;}
.hendy span{color:#2CBBE9; }
.main-slider .box-container {height:293px;margin-top:291px;width:1100px;background:#fff;padding:24px 70px;margin-left:auto;margin-right:auto;border-radius:16px;color:#000000;font-weight:normal;font-size:20px;box-shadow: 0 2px 130px 0 rgba(0,0,0,0.32);}

/* ---------------------------------
5. FOOTER
--------------------------------- */
.container-footer{position: relative;margin-left: auto;margin-right: auto;height:293px;}
footer{ position: relative; z-index: 1; padding-top: 70px; }	
footer .container-footer{background: url('../images/top-footer.png') top center no-repeat #2ec3f3; background-size:100% 91px;}
footer .copyright{ color:#fff;padding: 70px 0 30px; }
/*FOOTER MENU*/
footer .footer-links > li > a{ display:block; height: 62px; line-height: 53px; border-bottom: 2px solid #2CBBE9; background: transparent; text-align:center;text-transform: uppercase;font-size:16px;margin-top:98px;}
footer .footer-links > li > a:hover,
footer .footer-links li a.mouseover{border-color: #fff; font-weight:900;}
footer .social-icons{position:absolute;bottom:-105px;right:21px;width:141px;}
footer .social-icons li{float:left;margin:13px 13px 0px 0px;}
footer .social-icons li a{display:block;width:32px;height:32px;}
footer .social-icons li a img{width:100%;}
/*
6. BOX-CONTAINER ELEMENTS
*/

.box-titles {
	font-size: 20px;
	font-weight: bold;
}
.box-line {
	display: flex;
	height: 21px;
	width: 950px;
	border: 1px solid #C7E6F0;
	border-radius: 10.5px;
	background-color: rgba(0,67,87,0.2);
	box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1);
	line-height: 21px;
	align-items: center;
	margin-bottom: 12px;
}
.box-active-line{
	position: absolute;
	height: 21px;
	width: 650px;
	background: linear-gradient(90deg, #22B8EE 0%, #3CD2FB 69.27%, #5DDFFF 100%);
	box-shadow: 4px 0px 5px -3px rgba(0,0,0,0.35);
	border-radius: 10.5px;
}
.box-titles-row {
	margin-bottom: 26px;
}
.line-circle {
	display: inline-block;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	border: 3px solid #FFFFFF;
	background-color: #55DCFE;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.five-slice {
	position: relative;
	flex-grow: 1;
	/*padding: 0;*/
}
.box-bonuses-row{
	display: flex;
	width: 930px;
	margin-bottom: 48px;
}
.box-bonuses{
	font-size: 18px;
	font-weight: bold;
}
.box-buttons{
}

.content-number{
	display: flex;
	justify-content: center;
}
.contribution-block {
	display: flex;
	position: relative;
	height: 396px;
	width: 900px;
	background-color: inherit;
	justify-content: center;
	margin:0px auto 157px auto;
}
.currency-block{
	/*display: flex;*/
	z-index: 2;
	position: relative;
	height: 368px;
	width: 212px;

}
.currency-hover{
	visibility: hidden;
	position: absolute;
	height: 240px;
	width: 212px;
	border-radius: 16px;
	background-color: #2EC3F3;
	box-shadow: 0 7px 16px 0 rgba(0,0,0,0.14);
	/*background-color: inherit;*/
	top: 84px;
	z-index: 5;
	cursor:pointer;
}
.currency-val {
	height: 66px;
	width: auto;
	color: #FFFFFF;
	font-size: 50px;
	font-style: italic;
	font-weight: 900;
	line-height: 66px;
	text-align: center;
}
.currency-logo{
	text-align: center;
	z-index:7;
	position:relative;
}
.currency-logo > img {
	height: 127px;
	width: 127px;
	
}
.currency-shadow{
	position: absolute;
	height: 248px;
	width: 900px;
	border-radius: 16px;
	background-color: #213043;
	box-shadow: 0 16px 65px 0 rgba(0,0,0,0);
	top: 100px;
	z-index: 1;
}
.current-timer{
	position: absolute;
	bottom: 67px;
	z-index: 2;
	height: 24px;
	width: 285px;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}
.bold-blue{
	color: #2EC3F3;
	font-weight: bold;
}
.articles{
	display: flex;
	background: url(../images/video-rightbg.svg) top right no-repeat;background-position-y: 40px;
}
.article-header{
	height: 34px;
	width: auto;
	color: #FFFFFF;
	font-size: 26px;
	font-weight: 900;
	line-height: 34px;
	text-shadow: 0 2px 16px 0 #121E2D, 0 2px 16px 0 #121E2D;
}
.article-left{
	display: inline-block;
}
.article-text{
	height: auto;
	width: 522px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-shadow: 0 2px 16px 0 #121E2D, 0 2px 16px 0 #121E2D;
	margin-bottom: 37px;
}
.first-article{
	display: inline-block;
	margin-bottom: 175px;
}
.article-block{
	margin-left: 171px ;
}
.first-article-header{
	/*display: block;*/
	/*margin-left: 171px ;*/
	/*margin-bottom: 37px;*/
}
.article-right{
	position: relative;
	display: inline-block;
	/*margin-left: 22px;*/
	height: 783px;
	top: 15px;
	left: -275px;
	/*float: right;*/
}
.video-play {
	height: 360px;
	width: 565px;
	
}
.second-article{
	background-image: inherit;
}
.third-article{
	display: inline-block;
	height: 681px;
	width: 998px;
	background-image: inherit;
}
.article-left-second{
	margin-top: 207px;
}
.point-list{
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-shadow: 0 2px 16px 0 #121E2D, 0 2px 16px 0 #121E2D;
	margin-bottom: 32px;
	list-style: disc;
}
.point-list > li{
	list-style: disc inside none;
}
.point-list > li > i{
	background: inherit;
	color: #2EC3F3;
	font-size: 6px;
	vertical-align: middle;
}
.schema{
	text-align: center;
}
.schema-header{
	display: block;
	height: 74px;
	width: auto;
	font-size: 56px;
	font-weight: 900;
	line-height: 74px;
	text-shadow: 0 2px 16px 0 #121E2D, 0 2px 16px 0 #121E2D;
	margin-bottom:70px;
}
.schema-image{
	display: block;
	height: 1245px;
	width: 1022px;
	text-align: center;
	margin:auto;
}
.discover-box{
	display: flex;
	justify-content: center;

}
.discover-block{
	position: relative;
	margin-right: 16px;
	margin-left: 16px;
	height: 310px;
	width: 250px;
	border-radius: 16px;
	background-color: #FFFFFF;
	box-shadow: 0 7px 16px 0 rgba(0,0,0,0.14);
	text-align: center;
}
.discover-text{
	color: #0C1622;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	padding-top:22px;
}
.discover-button{
	position: absolute;
	bottom: 35px;
	right: 35px;
	width: 180px !important;
	box-shadow:none !important;
}
.discover-text{
	position: relative;
}
.discover-logo-first{
	position: relative;
	top: 29px;
	margin-bottom: 28px;
}
.discover-logo-second{
	position: relative;
	top: 34px;
	margin-bottom: 39px;
}
.discover-logo-third{
	position: relative;
	top: 28px;
	margin-bottom: 24px;
}
.discover-logo-first > img{
	width: 50px;
}
.discover-logo-second > img{
	width: 63px;
}
.discover-logo-third > img{
	width: 55px;
}


.wedding-details{ overflow: hidden; position: relative;max-width:905px;margin:65px auto 0px auto;}
.content-roadmap .box-conteiner{  background: url(../images/roadmap.svg) center center no-repeat; }
.wedding-details:after{ content:''; position: absolute; top: 0; bottom: 0; left: 50%; margin-left: -8px;width: 20px; background: linear-gradient(180deg, #FFFFFF 90%, rgba(12,22,34,0) 100%); border-radius:10px;}
.w-detail{ width: 50%; margin-bottom: 51px; position: relative; clear: both; min-height:180px;}
.w-detail .box{width: 324px;}
.w-detail .box p{padding-top:10px; font-size: 20px; font-weight: 300;}
.w-detail:after{ content:''; position: absolute; top: 0px; border-radius: 50%;	z-index: 1;	height: 32px;width: 32px;border: 3px solid #FFFFFF;	background-color: #55DCFE;	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15); }
.w-detail.right{   float: right; }
.w-detail.right .box{margin-left:113px;}
.w-detail.right:after{ left: 0; margin-left: -14px; }	
.w-detail.left{   float: left; }
.w-detail.left .box{ margin-right:113px;}
.w-detail.left:after{ right: 0; margin-right: -18px;}
.button-roadmap{text-align:center;padding-bottom: 127px;margin-top:-1px;}

.box > h4{font-weight: 900}

.core-team-block{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.c-person{
	height: 260px;
	width: 174px;
	text-align: center;
}
.c-photo{
	border-radius: 50%;
	height: 128px;
	width: 128px;
	border:1px solid #67d4f8;
	margin: 0 auto 30px;
	overflow: hidden;
	position: relative;
}
.c-photo img{position:absolute; top:-13%; left: 0px; width:100%; height: auto;text-align:center;vertical-align:middle;}
.c-name{
	font-weight: bold;
	text-align: center;
	margin-bottom: 6px;
}
.c-status{
	font-size: 18px;
	text-align: center;
	font-weight: normal;
}
.marketing-support{
	margin-bottom: 113px;
}
.m-line-workers{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	height: 120px;
	margin-bottom: 72px;
}
.m-person{
	height: 120px;
	width: 133px;
}
.m-photo{
	width: 89px;
	height: 89px;
	border-radius: 50%;
	margin: 0 auto 7px;
	border:1px solid #666c74;
	overflow: hidden;
}
.m-photo img{width:100%;text-align:center;vertical-align:middle;}
.m-name{
	font-size: 18px;
	text-align: center;
	font-weight: bolder;
}
.content-marketing > h5{
	margin-bottom: 101px;
}
.line-bottom{
	height: 1px;
	width: 800px;
	background-color: #1F3045;
	margin: 0 auto ;
}
.partner-slider{
	position: relative;
	width:1086px;
	height:345px;
	margin: 61px auto 0px auto;
}

.partner-slider .owl-nav div{position:absolute;top:150px;height: 56px;width: 56px;box-shadow: 0 11px 13px 0 rgba(0,0,0,0.28);border-radius: 50%;}
.partner-slider .owl-nav div.owl-prev{left:-13px;background: url('../images/button-prev.png') center center no-repeat #2EC3F3;}
.partner-slider .owl-nav div.owl-next{right:-13px;background: url('../images/button-next.png')  center center no-repeat #2EC3F3;}
.partner-slider .owl-nav .disabled{opacity:0.8;}
.p-block{
	position: relative;
	height: 345px;
	width: 330px;
	border-radius: 16px;
	background-color: #FFFFFF;
	box-shadow: 0 7px 16px 0 rgba(0,0,0,0.14);
	margin-left: 16px;
	margin-right: 16px;
}

.p-logo{
	width: 164px;
	height: 84px;
	margin: auto;	
	padding-top:30px;
}
.p-logo img{height:100%;}
.p-name{
	margin-top: 28px;
	color: #0C1622;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}
.p-description{
	color: #0C1622;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	width: 272px;
	margin: auto;
	height:100px;
	padding-bottom:10px;
}
.slide-point{
	display: inline-block;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background-color: #1F3045;
	margin: 0 6px;
}
.active-point{
	border-radius: 50%;
	height: 19px;
	width: 19px;
	border: 1px solid #35CAF5;
	display: inline-block;
	margin: 0 6px;
}
.in-active-point{
	background-color: #35CAF5;
	margin: 2px 2px;
}
.about-block{
	margin-top: 53px;
}
.about-info{
	margin: auto;
	width: 800px;
	position:relative;
	height:auto;
	margin-bottom:25px;
}
.about-info h4{padding-bottom:10px; font-weight: 900}
.about-logo{
	height: 86px;
	width: 86px;
	display: inline-block;
	float: left;	
}
.about-logo img{width:100%;}
.about-text{
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	width: 647px;	
	margin-left:14px;
}
p.about-text a{font-size: 16px;font-weight: 500;text-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);color: #2EC3F3; text-decoration:underline;}
.about-button{
	margin: auto;
	display: block !important;
}
.about-quotes{
	width: 27px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 72px;
	font-weight: 900;
	position:absolute;	
	line-height: 0;
}
.about-quotes.left-quate{left:-36px;bottom: -29px;}
.about-quotes.right-quate{top:30px;right:0px;}
/*
BUTTON
*/
.box-button{
	display: inline-block;

}
.button-simple{
	display: inline-block;
	height: 62px;
	width: 220px;
	border: 2px solid #32C6F4;
	border-radius: 8px;
	box-shadow: 0 6px 24px 0 rgba(49,197,243,0.3), 0 11px 22px 0 rgba(0,0,0,0.21);
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
}
.button-simple:hover{
	border: 1px solid rgba(255,255,255,0.5);
	background: linear-gradient(36.85deg, #00AAE6 0%, #5ADBFE 100%);
	
}
.box-button:hover .button-text , .button-text > img {
	color: white;
}
.button-text{
	color: #32C6F4;
	height: 21px;
	width: auto;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	text-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
	vertical-align: middle;
}
.button1 {
	margin-right: 16px;
}
.button-simple span i{display: inline-block;line-height: inherit;width:12px;height:10px;background: url('../images/arrow-left.svg');}
.button-simple:hover span i{background: url('../images/arrow-left-white.svg');}
.currency-button{
	margin-top: 32px;
	display: flex;
	justify-content: center;
	position:relative;
	z-index:9;
}
.currency-button-text {
	height: 62px;
	width: 180px;
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 6px 24px 0 rgba(49,197,243,0.3), 0 11px 22px 0 rgba(0,0,0,0.21);
	line-height: 62px;
	vertical-align: center;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	text-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
}

.currency-button span i{display: inline-block;line-height: inherit;width:12px;height:10px;background: url('../images/arrow-left.svg');}
.currency-button-text:hover{
	background: #fff;
	color:#32C6F4;
	box-shadow: 0 6px 16px 0 rgba(49,197,243,0.5), 0 11px 22px 0 rgba(0,0,0,0.21);
}
.button-simple-blue{display: inline-block;
	height: 62px;
	width: 220px;
	border-radius: 8px;	
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 10px 20px -2px rgb(38, 188, 240);
	background: linear-gradient(36.85deg, #00AAE6 0%, #5ADBFE 100%);
	color:#fff;
}
.button-simple-blue span i{display: inline-block;line-height: inherit;width:12px;height:10px;background: url('../images/arrow-left-white.svg');}
.button-simple-blue span.button-text{color:#fff;}
.button-simple-blue:hover{background:#fff;color:#32C6F4;}
.button-simple-blue:hover span.button-text{color:#32C6F4;}
.button-simple-blue:hover span i{background: url('../images/arrow-left.svg');}
.button-simple-partner{
		display:block;
		height: 62px;
		width: 180px;
		border-radius: 8px;	
		line-height: 62px;
		text-align: center;
		text-transform: uppercase;
		border: 2px solid #2EC3F3;		
		background:#fff;
		margin:auto;
	}
.button-simple-partner span.button-text{color:#32C6F4;}
.button-simple-partner span i{display: inline-block;line-height: inherit;width:12px;height:10px;background: url('../images/arrow-left.svg');}
.button-simple-partner:hover{background: linear-gradient(36.85deg, #00AAE6 0%, #5ADBFE 100%);}
.button-simple-partner:hover span.button-text{color:#fff;}
.button-simple-partner:hover span i{background: url('../images/arrow-left-white.svg');}
.second-article .button-simple-partner{width:220px;margin-left:0px;}
.button-simple-document{
	display:block;
	height: 62px;
	width: 220px;
	border-radius: 8px;	
	line-height: 62px;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #2EC3F3;		
	background:#fff;
	margin:auto;
	color:#32C6F4;
	position:relative;
}
.button-simple-document i{display: inline-block;line-height: inherit;color:#32C6F4;}
.button-simple-document:hover{background: linear-gradient(36.85deg, #00AAE6 0%, #5ADBFE 100%);color:#fff;}
.button-simple-document:hover i{color:#fff;}
i.arrow{position:absolute;top:0px;right:15px;font-size: 12px}
.button-simple-document.margin-top{margin-top:26px;}
.button-simple-document.colarize{opacity:0.2;}

/*PARTNER-SLIDER*/

.owl-dots{display: flex;flex-grow: 1;justify-content: center;align-items: center;margin-top:41px;}
.owl-dot{display: inline-block;border-radius: 50%;height: 12px;width: 12px;background-color: #1F3045;margin: 0 6px;cursor:pointer;}
.owl-dot.active{height: 19px;width: 19px;background-color: #1F3045;border: 1px solid #35CAF5;cursor:default;}
.owl-dot.active span{display:block;height: 11px;width: 11px;background-color: #35CAF5;border-radius:50%;margin: 3px;}

.faq-elements{
	margin-top: 60px;
	padding-bottom: 100px;	
}
.faq-element{
	height: 80px;
	width: 900px;
	box-shadow: 0 16px 65px 0 rgba(0,0,0,0);
	border-radius: 8px;
	background-color: #213043;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
	text-align: left;
	line-height: 80px;
	max-height: 80px;
	cursor:pointer;
}
.faq-element > span{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 900;
	line-height: 25px;
	margin-left: 45px;
	vertical-align: middle;
	width: 821px;
}
.faq-element i{
	position: relative;
	top: 10px;
	float: right;
	display: inline-block;
	line-height: inherit;
	height: 9.5px;
	width: 16px;
	background: url('../images/arrow-down.svg');	
}
.faq-description{
	display: none;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
}
.faq-element.active,.faq-element:hover {	
	background: #FFFFFF;
}
.faq-element.active span,.faq-element:hover span{
	color: #000000;
}
.faq-element.active p{
	display: inline-block;
	margin-left: 45px;
	margin-right: 107px
} 
.faq-element.active {
	max-height: 800px;
	height: auto;
	cursor:default;
}
.faq-element.active span i{
	height: 12px;
	width: 16px;
	background: url("../images/arrow-up.svg");
}


footer{
	padding-top: 0;
}
.video-injoy{width:560px;height:315px;}
.video-injoy iframe{border-radius:20px;-webkit-border-radius: 20px; -moz-border-radius: 20px;}
.video-modal .modal-dialog{max-width:593px !important;}
.video-modal .modal-dialog .button-simple-blue{display:block;margin:auto;}

/*OTHER PAGES*/
.page-container{width:920px; background:#fff;box-shadow: 0 2px 130px 0 rgba(0,0,0,0.32);border-radius: 16px;padding:41px 59px;margin:auto;position:relative; margin-top:-570px;min-height:570px;}
.page-section{padding-bottom:100px;}
.page-container h2,.page-container h3,.page-container h4,.page-container h5{color:#000000;text-align:left;font-weight:900;}
.page-text{color: #000000;	font-family: Roboto;	font-size: 20px;	font-weight: 300;	line-height: 26px;	text-shadow: 0 2px 16px 0 #121E2D, 0 2px 16px 0 #121E2D;margin-top:12px;}
.page-text span{color:#D0021B;}
.page-button{margin-top:32px;width:60%;}
.rowbutton{padding-bottom:46px; border-bottom:1px solid rgba(46,195,243,0.37);margin-bottom: 27px;}

.pdf-icon{
	font-size: 1.6em;
	position: absolute;
	left: 45px;
}
.language-icon{
	position: absolute;
	/*float: right;*/
	display: inline-block;
	width: 32px;
	height: 32px;
	top: 0px;
	right: 0px;
	background-color: transparent;
	background-image: url('../images/globe-language.svg');
	background-position: centert center;
	background-repeat: no-repeat;
	z-index: 5;
	border-radius: 50%;
}

.language-block{
	top: 13px;
	right: 0px;
	position: absolute;
	width: auto;
	height: auto;
	background-color: transparent;
}
.language-list{
	position: absolute;
	left: 20px;
    line-height: 36px;
    width: 113px;
	background-color: transparent;
}

ul.language-list > li > a{
	font-size: 18px;
	font-weight: 300;
	color: #000000;
}
.language-list > li > a:hover{
    font-weight: 900;
}
.language-list-block{
    background-color: #FFFFFF;
    border-radius: 8px;
    position: relative;
    min-width: 113px;
    height: 206px;
    top: 50px;
    left:20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.06);
}
.language-list-block:after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 65px;
    border-bottom: 12px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
.btn-primary.language-icon:hover,.btn-primary.language-icon:active,.btn-primary.language-icon:focus{background-color: transparent;border:none;background-image: url('../images/globe-language.svg');}

.invisible-box {
    display: none;
}
.box-container .button-simple{box-shadow: none;}
.box-container .button-simple:hover{	box-shadow: 0 5px 16px 0 rgb(38, 188, 240), 0 11px 22px 0 rgb(255, 255, 255);}
.line-circle.no{background-color: #E0F9FF;}
.button-simple-partner.video{box-shadow: 0 16px 18px 0 #22B2E0, 0 11px 22px 0 rgba(0,0,0,0.21);}
.along-content-1{width:1440px;}