<div class="row">
	<div class="col-xs-9 verification">	
		<form action="/personal/bounty" class="bounty-form" method="post" id="<?=$key_form?>" onsubmit="return false;">
			<input name="task_recieve" type="hidden" value="<?php echo $key_form?>"/>
			<?foreach($view['task'][$key_form] as $v):?>
				<div class="row bounty-row">
					<div class="col-xs-5">
						<label class="form-label"><?=$v['name']?></label>
						<?if($v['comment']!=""):?>
							<div class="desc"><?=$v['comment']?></div>
						<?endif;?>	
					</div>
					<div class="col-xs-5">						
						<input class="form-control" type="text" name="<?=$v['row_key']?>" placeholder="<?=__tr('personal.enter the link here')?>"/>						
					</div>
					
				</div>					
			<?endforeach;?>	
			<?if($view['isAirdrop']):?>
				<div class="row">							
					<div class="col-xs-12 text-center">							
						<button id="send-bounty" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"><?=__tr('personal.Save')?></button>
						<div class="loader-page"></div>
					</div>
				</div>
			<?endif;?>	
		</form>
	</div>
	<div class="clearfix"></div>
	<div class="row" id="<?=$key_form?>_taskBlock">		
		<div class="col-xs-9 list-user-tasc">
			<h4 style="text-align:center;"><?=__tr('personal.Tasks in progres')?></h4>
			<table class="table table-striped table-hover" style="font-size:12px;" id="<?=$key_form?>_user-task">
				<thead>
					<tr>
						<th width="15%">
                            <?=__tr('personal.Date')?>
						</th>
						<th width="10%">
                            <?=__tr('personal.System')?>
						</th>
						<th width="55%">
                            <?=__tr('personal.Task')?>
						</th>
						<th width="20%">
                            <?=__tr('personal.Status')?>
						</th>									
					</tr>
				</thead>
				<tbody>
				</tbody>				
				<?/*include 'user_task_list.html'*/?>
			</table>
			<div>	
				<button type="button" class="btn btn-primary btn-lg has-gradient-to-right-bottom" id="next_tasks" style="width:100%"><?= __tr('personal.More') ?></button>	
			</div>
			<div class="loader-page" style="height:40px;"></div>	
		</div>
		
	</div>	
</div>