<?if(count($view['task'])==0):?>
	<tr>
		<td colspan=4 style="text-align:center;">
			<?=__tr('personal.No data')?>
		</td>			
	</tr>
<?else:?>
	<?foreach($view['task'] as $task):?>
		<tr>
			<td>
				<?=date('d/m/Y',$task['date_update'])?>
			</td>
			<td>
				<?=$task['type']?>
			</td>
			<td>
				<?=$view['task_key'][$task['row_key']]['name']?>
			</td>
			<td>
				<?if($task['status']==1):?>
					<span class="status-task inprogres"><?=__tr('personal.In progress')?></span>
				<?endif;?>
				<?if($task['status']==2):?>
					<span class="status-task declined"><?=__tr('personal.declined')?></span>
				<?endif;?>
				<?if($task['status']==3):?>
					<span class="status-task ok">+ <?=$task['stakes']?> <?=__tr('personal.stakes')?></span>
				<?endif;?>
			</td>
		</tr>
	<?endforeach;?>
<?endif;?>