<div class="row airdrop">
	<div class="col-xs-12">
	
		<?foreach($view['list_social'] as $k=>$v):?>
			<form action="/personal/airpod" method="post" class="airdrop-form" id="<?=$k?>_form"  onsubmit="return false;">
				<input name="airpod_id" type="hidden" value="<?php echo @$view['data']['id']?>"/>
				<input name="wallets" type="hidden" value="<?php echo @$view['wallets']['wallet']?>"/>
				<input name="airpod_name" type="hidden" value="<?php echo $k?>"/>
				<div class="col-lg-6 no-pl">
					<div class="form-group">
						<label class="form-label"><?if($v['href']):?><a target="_blank" href="<?=$v['href']?>"><?=$v['name']?></a>:<?else:?><?=$v['name']?><?endif;?></label>
						<?if($v['comment']):?><span class="question-mark" data-tooltip="<?=$v['comment']?>"><i class="fa fa-question-circle"></i></span><?endif;?>
						<div class="controls">
							<input class="form-control" type="text" value="<?php echo @$view['data'][$k]?>" name="<?=$k?>" <?if(isset($view['error'][$k])):?>readonly disabled="true"<?endif;?>/>							
						</div>
					</div>
				</div>
				<div class="col-lg-2 no-pl">
					<div class="row" style="margin-top:37px;">
						<?if(!isset($view['error'][$k])):?>
							<?if($view['data']['status']==2):?>
								<div class="col-lg-6">
									<div style="color:#f63b23;"><?= __tr('personal.not cofirmed')?></div>
								</div>
								<div class="col-lg-6">
									<button type="button" class="btn btn-primary btn-corner right15" id="send"><i class="fa fa-check"></i> <?= __tr('personal.Update') ?></button>	
									<div class="loader-page"></div>
								</div>
								
							<?endif;?>
							<?if($view['data']['status']==1):?>
								<div class="col-lg-6">
									<div style="color:#ffb204;"><?= __tr('personal.in process')?></div>
								</div>	
							<?endif;?>
							<?if($view['data']['status']==3):?>
								<div class="col-lg-6">
									<button type="button" class="btn btn-primary btn-corner right15" id="send"><i class="fa fa-check"></i> <?= __tr('personal.Update') ?></button>	
									<div class="loader-page"></div>
								</div>	
							<?endif;?>
							<?if($view['data']['status']==0):?>
								<div class="col-lg-6">
									<button type="button" class="btn btn-primary btn-corner right15" id="send"><i class="fa fa-check"></i> <?= __tr('personal.Update') ?></button>	
									<div class="loader-page"></div>
								</div>	
							<?endif;?>
								
						<?endif?>
						<?if(isset($view['error'][$k])):?>
							<div class="col-lg-6">
								<div style="color:#6fc334;"><?= __tr('personal.cofirmed')?></div>
							</div>
						<?endif?>
						<div class="clearfix"></div>
					</div>
				</div>
			</form>	
			<div class="clearfix"></div>
		<?endforeach?>
	
		<?/*
		
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href="https://t.me/Unifoxofficial"></a>:</label>
				
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['telegram_link']?>" name="telegram_link"  <?if(!isset($view['error']['telegram_link']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href=""><?= __tr('personal.Follow us on Twitter, share this tweet, tag 2 friends and provide your profile URL') ?></a>:</label>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['twitter_link']?>" name="twitter_link"  <?if(!isset($view['error']['twitter_link']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href=""><?= __tr('personal.Subscribe to us on Youtube, comment the video and provide your profile URL') ?></a>:</label>
				<span id="question-mark" data-description="<?= __tr('personal.Subscribe to the official UniFox youtube channel and leave a comment on a video that you are linked to') ?>"><i class="fa fa-question-circle"></i></span>

				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['youtube_link']?>" name="youtube_link"  <?if(!isset($view['error']['youtube_link']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href="https://reddit/r/UniFoxNetwork"><?= __tr('personal.Follow us on Reddit, upvote one post and provide your profile URL') ?></a>:</label>
				<span id="question-mark" data-description="<?= __tr('personal.Choose one of the posts already shared by UniFox and upvote it') ?>"><i class="fa fa-question-circle"></i></span>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['rebit_link']?>" name="rebit_link"  <?if(!isset($view['error']['rebit_link']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>						
		<div class="clearfix"></div>

		<!--next -->

		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href="https://medium.com/unifox"><?= __tr('personal.Follow our blog channel on Medium') ?></a>:</label>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['medium_link']?>" name="medium_link"  <?if(!isset($view['error']['medium_link']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href="https://www.instagram.com/unifox.io/"><?= __tr('personal.Follow us on Instagram and provide your username') ?></a>:</label>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['instagram_link']?>" name="instagram_link"  <?if(!isset($view['error']['instagram_link']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><a target="_blank" href="https://bitcointalk.org/index.php?topic=4456595.20"><?= __tr('personal.Leave a comment about UniFox on Bitcointalk ANN') ?></a>:</label>
				<span id="question-mark" data-description="<?= __tr('personal.Leave a constructive comment with at least 10 words&#46 Posts such as &quot;Moon/When lambo/good project&quot; or bad words will not be counted&quot;') ?>"><i class="fa fa-question-circle"></i></span>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['comment_1']?>" name="comment_1"  <?if(!isset($view['error']['comment_1']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><?= __tr('personal.Leave a comment about UniFox on Bitcointalk Bounty ANN') ?>:</label>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['comment_2']?>" name="comment_2"  <?if(!isset($view['error']['comment_2']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-6 no-pl">
			<div class="form-group">
				<label class="form-label"><?= __tr('personal.Add 3 friends to official Telegram group and provide their usernames') ?>:</label>
				<span id="question-mark" data-description="<?= __tr('personal.Fake usernames, already used usernames or other suspicious answers will disqualify you from the airdrop reward') ?>"><i class="fa fa-question-circle"></i></span>
				<div class="controls">
					<input class="form-control" type="text" value="<?php echo @$view['data']['friends_name']?>" name="friends_name"  <?if(!isset($view['error']['friends_name']) and $view['data']['status']==2 ):?>style="border-color:red;"<?endif;?>/>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		*/?>
		<?/*<div class="pull-left">
			<?if($content['personal_user_info']['is_airdrop']==1):?>
				<h5 class="bold no-mb">		
					<i class="fa fa-check-circle-o complete f-s-14"></i> <?= __tr('personal.Verified')?>									
				</h5>
			<?else:?>
				<?if(!isset($view['data']['status'])):?>
					<i class="fa fa-check-circle-o complete f-s-14" style="color:red;"></i><?= __tr('personal.Not verified')?>
				<?endif;?>
				<?if($view['data']['status']==1):?>
					<h5><i class="fa fa-info-circle color-primary" style="font-size:15px;"></i> <?= __tr('personal.Your request has been sent to the moderator for review')?></h5>
				<?endif;?>
				<?if($view['data']['status']==2):?>
					<h4><i class="fa fa-exclamation-triangle" style="color:red;"></i><small style="color:red;"> <?= __tr('personal.Some fields are invalid')?></small></h4>
				<?endif;?>								
			<?endif;?>							
		</div>							
		<div class="pull-right" id="button-airpod-block">
			<?if($view['_button']):?>
				<button type="button" class="btn btn-primary btn-corner right15" id="send-airpod"><i class="fa fa-check"></i> <?= __tr('personal.Update') ?></button>	
				<div class="loader-page" style="height:40px;"></div>	
			<?endif;?>							
		</div>*/?>
	</div>
</div>
