<div class="row airdrop">
	<div class="col-xs-12">
		<?$button=false;?>
		
		<form action="/personal/airpod" method="post" class="airdrop-form" id="<?=$s_type?>_form"  onsubmit="return false;">
		<input name="airpod_id" type="hidden" value="<?php echo @$view['data']['id']?>"/>
		<input name="airpod_type" type="hidden" value="<?php echo $s_type?>"/>
		<input name="wallets" type="hidden" value="<?php echo @$view['wallets']['wallet']?>"/>
		<input name="error_id" type="hidden" value="<?php echo @$view['error']['id_error']?>"/>
		<?foreach($view['list_type'][$s_type] as $row):?>
			<?
				$v=$view['list_social'][$row];
				$k=$row;				
			?>
			
			
			<div class="col-lg-6 no-pl">
				<div class="form-group">
					<label class="form-label"><?if($v['href']):?><?=str_replace('{LINK}',$v['href'],$v['name'])?>:<?else:?><?=$v['name']?><?endif;?></label>
					<?if($v['comment']):?><span class="question-mark" data-tooltip="<?=$v['comment']?>"><i class="fa fa-question-circle"></i></span><?endif;?>
					<div class="controls">
						<input class="form-control" type="text" value="<?php echo @$view['data'][$k]?>" name="<?=$k?>" <?if(isset($view['error'][$k]) and $view['error'][$k]>0):?>readonly disabled="true"<?endif;?>/>							
					</div>
				</div>
			</div>
			<div class="col-lg-2 no-pl">
				<div class="row" style="margin-top:37px;">
					<?if(!isset($view['error'][$k])):?>
						<?$button=true;?>
					<?endif?>
					<?if(isset($view['error'][$k])):?>
						<div class="col-lg-6">						
							<?if($view['error'][$k]==0):?>
								<div style="color:#f63b23;"><?= __tr('personal.not cofirmed')?></div>
								<?$button=true;?>
							<?endif;?>
							<?if($view['error'][$k]==1):?>
								<div style="color:#6fc334;"><?= __tr('personal.cofirmed')?></div>
							<?endif;?>
							<?if($view['error'][$k]==2):?>
								<div style="color:#ffb204;"><?= __tr('personal.in progress')?></div>
							<?endif;?>
							
						</div>
					<?endif?>
					<div class="clearfix"></div>
				</div>
			</div>		
			<div class="clearfix"></div>
		<?endforeach?>
	
		<div class="pull-left">
							
		</div>							
		<div class="pull-right">
			<?if($button):?>
				<button type="button" class="btn btn-primary btn-corner right15" id="send"><i class="fa fa-check"></i> <?= __tr('personal.Update') ?></button>	
				<div class="loader-page" style="height:40px;"></div>	
			<?endif;?>							
		</div>
		</form>	
		
	</div>
</div>
