<div class="verification adm">
	<form action="/admin/airdrop/" method="post" onsubmit="return false;" id="bounty">
		<input name="bounty_id" type="hidden" value="<?php echo @$view['data']['id']?>"/>
		<input name="id_user" type="hidden" value="<?php echo @$view['data']['id_user']?>"/>
		
		
		<div class="row">
			<div class="col-xs-12">
				<label class="form-label"><?=$view['row']['name']?>:</label>							
			</div>
			<div class="col-xs-12 param-val" style="word-wrap: break-word;word-break: break-all;">
				<a href="<?php echo @$view['data']['val']?>" target="_blank"><?php echo @$view['data']['val']?></a>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-7">
				<label class="form-label">Stakes:</label>							
			</div>
			<div class="col-xs-5">
				<?if($view['data']['status']==1):?>					
					<input type="text" name="stakes" value="<?=$view['row']['stakes']?>" />
					<span class="error"></span>
				<?endif;?>
				<?if($view['data']['status']==2):?>
					<input type="text" name="stakes" value="<?=$view['row']['stakes']?>" />
					<span class="error"></span>
				<?endif;?>
				<?if($view['data']['status']==3):?>
					+ <?=$view['data']['stakes']?> stakes
				<?endif;?>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<label class="form-label">Info task:</label>							
			</div>
			<div class="col-xs-8" style="font-size:12px;">				
				<?=$view['row']['name']?>
				<div style="font-style:italic;color:#ccc;"> <?=$view['row']['comment']?></div>
				<div>
					Default stakes: <?=$view['row']['stakes']?>					
				</div>
			</div>
			
		</div>
		
		
		
			<div class="row no-btm">	
				<div class="col-xs-12 text-center" id="button-b">	
					<?if($view['data']['status']==1):?>
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" onclick="confirm_()"> Confirm </button>
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom dangers" onclick="decline_()"> Declined </button>
					<?endif;?>
					<?if($view['data']['status']==2):?>
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" onclick="confirm_()"> Confirm </button>						
					<?endif;?>
					<?if($view['data']['status']==3):?>						
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom dangers" onclick="decline_()"> Declined </button>
					<?endif;?>
				</div>
				<div class="loader-page"></div>				
			</div>
		
		
		
	</form>
</div>
