

<table class="table table-striped table-hover list">
	<?if($view['obj']['count_row']>0):?>
		<tr>
			<thead>
				<th>id user</th>
				<th>email</th>
				<th>task</th>
				<th>system</th>
				<th>date</th>
				<th>status</th>
				<th></th>
			</thead>
		</tr>
	<?foreach($view['obj']['list'] as $data):?>
		<tr data-id="<?=$data['id']?>">
			<?$name=$data['email']=="" ? $data['name'] : $data['email'];?>
			<td style="width:10%;"><?php echo $data['id_user'];?></td>	
			<td style="width:15%;"><?php echo $name;?></td>		
			<td style="width:40%;font-size:12px;" ><?=$view['row'][$data['type']][$data['row_key']]['name']?></td>
			<td style="width:10%;"><?=$data['type']?></td>
			<td style="width:10%;"><span class="msg_time"><?=date('d.m.Y',$data['date_update'])?></span></td>
			<td style="width:10%;" data-name="status" class="status val<?=$data['status']?>">
				<?=$view['status_list'][$data['status']]?>			
			</td>
			<td style="width:5%;text-align:right;"><a class="task-show" data-id="<?=$data['id']?>" href="javascript:void(0);"><i class="fa fa-pencil"></i></a></td>
		</tr>
	<?endforeach?>
	
	<?if($view['obj']['count_page']>1):?>
		<tr >
			<td  colspan=7>
				<ul class="pagination pagination-sm pull-right">	
					<?for($i=1;$i<($view['obj']['count_page']+1);$i++):?>
						<?$act='';$link_pag='&page='.$i;
							if($view['obj']['active_page']==$i)
								$act='class="active"';			
							if($i==1)
								$link_pag='';
						 ?>
						<??>
						<li <?php echo $act;?>><a href="/admin/bounty/<?php echo $view['link_get'].$link_pag?>"><?=$i?></a></li>
					<?endfor;?>
				 </ul>
			</td>			
		</tr>
	<?endif?>
	
	<?else:?>
		<tr >
			<td class="open-view" colspan=7>
				No request
			</td>			
		</tr>
	<?endif;?>
	
</table>
<div class="modal fade col-xs-12" id="task-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

				<div class="loader-modal" ></div>

			</div>
			
		</div>
	</div>
</div>