<div class="verification adm">
		<div class="row">
			<div class="col-xs-4">
				<label class="form-label">Airdrop verification:</label>							
			</div>
			<div class="col-xs-6 param-val">
				<?if($view['is_airdrop']==1):?>
					<span style="color:green;">completed</span>
				<?else:?>
					<span style="color:red;">not completed</span>
				<?endif?>
			</div>				
		</div>
		
		<div class="row">
			<div class="col-xs-4">
				<label class="form-label">Wallet:</label>							
			</div>
			<div class="col-xs-6 param-val">
				<?=$view['data']['wallets']?>					
			</div>				
		</div>
		
		
		<?foreach($view['list_type'] as $type=>$list_row):?>
			<form action="/admin/airdrop/" method="post" >
				<input name="airpod_id" type="hidden" value="<?php echo @$view['data']['id']?>"/>
				<input name="id_user" type="hidden" value="<?php echo @$view['data']['id_user']?>"/>
				<input name="type" type="hidden" value="<?php echo $type?>"/>
				
				
				<div class="row">
					<div class="pull-left">
					<h3><?=$type?></h3>
					</div>
					<div class="pull-right">
						Status:
						<?if($view['list_type_status'][$type]==1):?><span style="color:green;">CONFIRMED</span><?endif;?>						
						<?if($view['list_type_status'][$type]==0):?><span style="color:red;">NOT CONFIRMED</span><?endif?>					
						<?if($view['list_type_status'][$type]==2):?><span style="color:red;">IN PROCESS</span><?endif?>					
					</div>	
				</div>
				<?foreach($list_row as $v):?>
					<div class="row">
						<div class="col-xs-4">
							<label class="form-label"><?=$view['info_key_name'][$v]?>:</label>							
						</div>
						<div class="col-xs-6 param-val">
							<?php echo @$view['data'][$v]?>
						</div>
						<div class="col-xs-2">
							<?$button=false;?>
							<?if(isset($view['error'][$v])):?>
								<?$button=true;?>
								<select name="<?=$v?>_confirmation" class="param-val">							
									<option value="0" <?if($view['error'][$v]==0):?>selected<?endif;?>>not confirmed</option>
									<option value="1" <?if($view['error'][$v]==1):?>selected<?endif;?>>confirmed</option>
								</select>
							<?else:?>
								in process
							<?endif;?>
							
						</div>
					</div>
				<?endforeach;?>
				<?if($button):?>	
					<div class="row no-btm">	
						<div class="col-xs-12 text-center">	
							<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"> Save </button>
						</div>			
					</div>
				<?endif;?>
			</form>	
		<?endforeach;?>	
</div>
