<div class="verification adm">
	<form action="/admin/affiliate/" method="post" onsubmit="return false;" id="affiliate">
		
		<input name="id_user" type="hidden" value="<?php echo $view['users_info']['id_referal_user']?>"/>
		
		
		<div class="row" style="border:none;">
			<div class="col-xs-1">
				<label class="form-label">User email:</label>							
			</div>
			<div class="col-xs-2 param-val">
				<?=$view['users_info']['email']?>				
			</div>
			
		</div>
		<div class="row" style="border:none;">
			<div class="col-xs-1">
				<label class="form-label">Affilite stakes:</label>							
			</div>
			<div class="col-xs-2 param-val" id="all_bonus">
				<?=$view['bonus']?>				
			</div>
			
		</div>	
		<div class="row" style="border:none;">
			<div class="col-xs-4">
				<input type="hidden" name="old_bonus" value="<?=$view['bonus']?>" />
				<input type="text" name="bonus"  style="text-align:right;"/> <a class="btn btn-primary btn-lg has-gradient-to-right-bottom" id="save-bonus" onclick="saveBonus()" style="padding:4px;font-size:15px;"> Add stakes </a>
				
				<span class="error"></span>
			</div>
						
		</div>	
	</form>	
		<div class="row" style="border:none;">
			<div class="col-xs-12">
				<h2>Invited users</h2>							
			</div>		
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-hover list">
					<thead>
						<tr>
							<th style="width:10%;">
								Id
							</th>
							<th style="width:20%;">
								Email
							</th>
							<th style="width:20%;">
								Status
							</th>
							<th style="width:20%;text-align:left;">
								Count transaction
							</th>
							<th style="width:20%;text-align:left;">
								Total summa
							</th>
							
							
						</tr>
					</thead>
					<?if(count($view['users_list'])>0):?>
						<?foreach($view['users_list'] as $user):?>
							<?$name=$user['email']=="" ? $user['fb_id'] : $user['email'];?>
							<?
								if(isset($view['total_transaction']['user_list'][$name]))
									$trans=$view['total_transaction']['user_list'][$name];
								else $trans=array('total_cnt'=>0,'total_sum'=>0);
							?>
							<tr>
								<td>								
									<?=$view['total_transaction']['user_info'][$name]['id']?>									
								</td>
								<td>
									<?=$name?>
								</td>
								<td>
									<?if($view['total_transaction']['user_info'][$name]['is_verification']):?>
										<span style="color:green;">verificated</span>
									<?else:?>
										<span style="color:red;">not verificated</span>
									<?endif;?>
								</td>
								<td>
									<?=$trans['total_cnt']?>
								</td>
								<td>
									<?=$trans['total_sum']?>
								</td>
							</tr>
						<?endforeach;?>
					<?else:?>
						<tr><td colspan="3">no data</td></tr>
					<?endif;?>
				</table>				
			</div>		
		</div>
		
		
		
		
			<?/*<div class="row no-btm">	
				<div class="col-xs-12 text-center" id="button-b">	
					<?if($view['data']['status']==1):?>
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" onclick="confirm_()"> Confirm </button>
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom dangers" onclick="decline_()"> Declined </button>
					<?endif;?>
					<?if($view['data']['status']==2):?>
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" onclick="confirm_()"> Confirm </button>						
					<?endif;?>
					<?if($view['data']['status']==3):?>						
						<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom dangers" onclick="decline_()"> Declined </button>
					<?endif;?>
				</div>
				<div class="loader-page"></div>				
			</div>*/?>
		
		
		
	
</div>
