

<table class="table table-striped table-hover list">
	<thead>
		<tr>
			<th style="width:10%;">
				Id user
			</th>
			<th style="width:40%;">
				User
			</th>
			<th style="width:20%;text-align:left;">
				Count users
			</th>
			<th style="width:20%;text-align:left;">
				Stakes(Affiliate)
			</th>
			<th style="width:10%;text-align:right;">
				
			</th>
			
		</tr>
	</thead>
	<?if($view['obj']['count_row']>0):?>
	<?foreach($view['obj']['list'] as $data):?>
		<tr data-id="<?=$data['id']?>">
			<?$name=$data['email']=="" ? $data['name'] : $data['email'];?>
			<td ><?php echo $data['id_referal_user']?></td>
			<td ><?php echo $name;?></td>		
			<td ><?=$data['c_us']?></td>			
			<td ><?=$data['point']?></td>			
			<td ><a class="task-show"  href="/admin/affiliate/?ID_USER=<?php echo $data['id_referal_user']?>"><i class="fa fa-pencil"></i></a></td>
		</tr>
	<?endforeach?>
	
	<?if($view['obj']['count_page']>1):?>
		<tr >
			<td  colspan=5>
				<ul class="pagination pagination-sm pull-right">	
					<?for($i=1;$i<($view['obj']['count_page']+1);$i++):?>
						<?$act='';$link_pag='&page='.$i;
							if($view['obj']['active_page']==$i)
								$act='class="active"';			
							if($i==1)
								$link_pag='';
						 ?>
						<??>
						<li <?php echo $act;?>><a href="/admin/affiliate/<?php echo $view['link_get'].$link_pag?>"><?=$i?></a></li>
					<?endfor;?>
				 </ul>
			</td>			
		</tr>
	<?endif?>
	
	<?else:?>
		<tr >
			<td class="open-view" colspan=5>
				No users
			</td>			
		</tr>
	<?endif;?>
	
</table>