<table class="table table-striped table-hover" style="font-size:12px;">
	<thead>
		<tr>			
			<th width="15%">
				<?=__tr('personal.Amount')?>
			</th>
			<th width="5%">
				
			</th>			
			<th width="15%">
                <?=__tr('personal.Wallet')?>
			</th>
			<th width="10%">
                <?=__tr('personal.Date')?>
			</th>			
			<th width="15%">
				<?=__tr('personal.Fee')?>
			</th>
			<th width="15%">
				<?=__tr('personal.Fee blockchain')?>
			</th>
			<th width="10%">
                <?=__tr('personal.Status')?>
			</th>			
		</tr>
	</thead>
	<?if(count($view['list'])>0):?>
		<?foreach($view['list'] as $m):?>
			<?
			if($m['type']=='out')
			{		
				$wallet=$m['to'];
				$spanding='fa-arrow-right cancelled';
				$plus='<i class="fa fa-minus cancelled normal f-s-10"></i>';	
			}
			else 
			{
				$wallet=$m['from'];
				$spanding='fa-arrow-left complete';
				$plus='<i class="fa fa-plus complete normal"></i>';
			}
				
			
			?>
		
			<tr>
				<td>
					<?=$plus.' '.$m['amount']?> <?=CURENCY?>
				</td>
				<td>
					<i class="fa <?=$spanding?>"></i>
				</td>
				<td>
					<?=$wallet?>
				</td>
				<td>
					<?=$m['date']?>
				</td>
				<td>
					<?=$m['fee']?>
				</td>
				<td>
					<?=$m['fee_blockchain']?>
				</td>
				<td>
					<span class="status-<?=$view['status'][$m['status']]['css']?>"><?=__tr('personal.'.$view['status'][$m['status']]['name'])?></span>
				</td>			
			</tr>
		<?endforeach;?>
		<?if($view['paging']['count_page']>1):?>
			<tr>
				<td  colspan=7>
					<ul class="pagination pagination-sm pull-right">	
						<?for($i=1;$i<($view['paging']['count_page']+1);$i++):?>
							<?$act='';$link_pag='page='.$i;
								if($view['paging']['active_page']==$i)
									$act='class="active"';			
								if($i==1)
									$link_pag='';
							 ?>
							<??>
							<li <?php echo $act;?>>
								<?if(!$view['is_ajax']):?>
									<a href="/personal/transaction?<?php echo $link_pag?>"><?=$i?></a>
								<?else:?>
									<a href="javascript:void(0);" onclick="TransactionFox.get(<?=$i?>)"><?=$i?></a>
								<?endif;?>	
							</li>
						<?endfor;?>
					 </ul>
				</td>			
			</tr>
		<?endif?>
	<?else:?>
		<tr>
			<td colspan=7>
                <?=__tr('personal.No transaction')?>
			</td>			
		</tr>
	<?endif;?>
</table>