<table class="table table-striped table-hover" style="font-size:12px;">
	<thead>
		<tr>
			<th width="10%">
                <?=__tr('personal.Transaction ID')?>
			</th>
			<th width="10%">
                <?=__tr('personal.Date')?>
			</th>
			<th width="25%">
                <?=__tr('personal.Wallet from')?>
			</th>
			<th width="25%">
                <?=__tr('personal.Wallet to')?>
			</th>
			<th width="15%">
				Amount
			</th>
			<th width="15%">
				Fee
			</th>			
		</tr>
	</thead>
	<?if(count($view['list'])>0):?>
		<?foreach($view['list'] as $m):?>
			<tr>
				<td title="<?=$m['hash']?>">
					<?=substr($m['hash'],0,20)?>...
				</td>
				<td>
					<?=$m['date']?>
				</td>
				<td>
					<?=$m['from']?>
				</td>
				<td>
					<?=$m['to']?>
				</td>
				<td>
					<?=$m['amount']?> <?=CURENCY?>
				</td>
				<td>
					<?=$m['fee']?>
				</td>			
			</tr>
		<?endforeach;?>
		<?if($view['paging']['count_page']>1):?>
			<tr >
				<td  colspan=6>
					<ul class="pagination pagination-sm pull-right">	
						<?for($i=1;$i<($view['paging']['count_page']+1);$i++):?>
							<?$act='';$link_pag='page='.$i;
								if($view['paging']['active_page']==$i)
									$act='class="active"';			
								if($i==1)
									$link_pag='';
							 ?>
							<??>
							<li <?php echo $act;?>>
								<?if(!$view['is_ajax']):?>
									<a href="/personal/transaction?<?php echo $link_pag?>"><?=$i?></a>
								<?else:?>
									<a href="javascript:void(0);" onclick="TransactionFox.get(<?=$i?>)"><?=$i?></a>
								<?endif;?>	
							</li>
						<?endfor;?>
					 </ul>
				</td>			
			</tr>
		<?endif?>
	<?else:?>
		<tr>
			<td colspan=6>
                <?=__tr('personal.No transaction')?>
			</td>			
		</tr>
	<?endif;?>
</table>