<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?=__tr('personal.Account Verification')?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-12">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Account Verification')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">
					
					<div class="col-xs-12 anchor-con" data-anchor="link" anchor-id="email_togle">
						<div class="option-identity-wrapper" >
							<div class="option-icon">
								<img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/two-factor.png" class="tab-img-icon" alt="icon">
							</div>
							<div class="tab-head" >
								<h4 class="bold mb-5 no-mt"><?=__tr('personal.Email Verification')?></h4>
								<h4 class="no-mt"><small><?=__tr('personal.EmailVerificationInfo')?></small></h4>

								<h5 class="bold no-mb" id="<?=__tr('personal.Verified')?>_email" <?if($view['is_verification']['is_email']!=1):?>style="display:none;"<?endif;?>>		
									<i class="fa fa-check-circle-o complete f-s-14"></i> <?=__tr('personal.Verified')?> 									
								</h5>
								<h5 class="bold no-mb" id="<?=__tr('personal.Verified')?>_email" <?if($view['is_verification']['is_email']==1):?>style="display:none;"<?endif;?>>		
									<i class="fa fa-times-circle cancelled f-s-14"></i> <?=__tr('personal.Not verified')?>
								</h5>
							</div>
						</div>
					</div>
					<?if($content['personal_user_info']['is_company']):?>
						<div class="col-xs-12 anchor-con" data-anchor="link" anchor-id="company_info">
							<div class="option-identity-wrapper no-mb">
								<div class="option-icon">
									<img src="<?php echo $content['DOMAIN']?>/images/logo_b.png" class="tab-img-icon" style="padding:20px;width:80%;" alt="icon">
								</div>
								<div class="tab-head">
									<h4 class="bold mb-5 no-mt"><?=__tr('personal.Company Info')?></h4>
									<h4 class="no-mt"><small><?=__tr('personal.CompanyInfoInfo')?></small></h4>

									<h5 class="bold no-mb">
										<?if($view['is_verification']['is_company']==1):?>
											<i class="fa fa-check-circle-o complete f-s-14"></i> <?=__tr('personal.Verified')?>
										<?else:?>
											<i class="fa fa-times-circle cancelled f-s-14"></i> <?=__tr('personal.Not verified')?>
										<?endif;?>	
									</h5>
								</div>
							</div>
						</div>
					<?endif;?>
					
					<div class="col-xs-12 anchor-con" data-anchor="link" anchor-id="personal_togle">
						<div class="option-identity-wrapper">
							<div class="option-icon">
								<img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/default-avatar.png" class="tab-img-icon" style="padding:20px;width:80%;" alt="icon">
							</div>
							<div class="tab-head">
								<h4 class="bold mb-5 no-mt"><?=__tr('personal.Personal Information')?></h4>
								<h4 class="no-mt"><small><?=__tr('personal.PersonalInformationInfo')?></small></h4>

								<h5 class="bold no-mb">
									<?if($view['is_verification']['is_personal_info']==1):?>
										<i class="fa fa-check-circle-o complete f-s-14"></i> <?=__tr('personal.Verified')?>
									<?else:?>
										<i class="fa fa-times-circle cancelled f-s-14"></i> <?=__tr('personal.Not verified')?>
									<?endif;?>	
								</h5>
								
							</div>
						</div>
					</div>
					<div class="col-xs-12 anchor-con" data-anchor="link" anchor-id="upload_togle">
						<div class="option-identity-wrapper">
							<div class="option-icon">
								<img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/upload-id.png" class="tab-img-icon" alt="icon">
							</div>
							<div class="tab-head">
								<h4 class="bold mb-5 no-mt"><?=__tr('personal.Upload your ID to withdraw and deposit')?></h4>
								<h4 class="no-mt"><small><?=__tr('personal.UploadandDepositInfo')?></small></h4>

								<h5 class="bold no-mb">
									<?if($view['is_verification']['is_document']==1):?>
										<i class="fa fa-check-circle-o complete f-s-14"></i> <?=__tr('personal.Verified')?>
									<?else:?>
										<i class="fa fa-times-circle cancelled f-s-14"></i> <?=__tr('personal.Not verified')?>
									<?endif;?>	
								</h5>
								
							</div>
						</div>
					</div>
					<?/*
					<div class="col-xs-12 anchor-con" data-anchor="link" anchor-id="address_togle">
						<div class="option-identity-wrapper no-mb">
							<div class="option-icon">
								<img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/home-location.png" class="tab-img-icon" alt="icon">
							</div>
							<div class="tab-head">
								<h4 class="bold mb-5 no-mt"><?=__tr('personal.Proof of Residential Address')?></h4>
								<h4 class="no-mt"><small><?=__tr('personal.ProofofAddressInfo')?></small></h4>

								<h5 class="bold no-mb">
									<?if($view['is_verification']['is_adres']==1):?>
										<i class="fa fa-check-circle-o complete f-s-14"></i> <?=__tr('personal.Verified')?>
									<?else:?>
										<i class="fa fa-times-circle cancelled f-s-14"></i> <?=__tr('personal.Not verified')?>
									<?endif;?>	
								</h5>
							</div>
						</div>
					</div>
					*/?>
				</div>
			</div>
	</section>
</div>

<div class="clearfix"></div>
<div class="col-lg-12" id="email_togle">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Authentication Settings')?></h2>
			</header>
			<div class="content-body">    
				<?include 'confirmation/email_form.html';?>
			</div>
	</section>
</div>
<div class="clearfix"></div>
<?if($content['personal_user_info']['is_company']):?>
	<div class="col-lg-12" id="company_info">
		<section class="box has-border-left-3">
				<header class="panel_header">
					<h2 class="title pull-left"><?=__tr('personal.Company Info')?></h2>
				</header>
				<div class="content-body">    
					<?include 'confirmation/company_form.html';?>
				</div>
		</section>
	</div>
	<div class="clearfix"></div>
<?endif;?>



<div class="col-lg-12" id="personal_togle">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Personal Information')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">				   
					<div class="form-container">						
						<?include 'confirmation/personal_form.html';?>						
					</div>
				</div>
			</div>
	</section>
</div>

<div class="clearfix"></div>


<div class="col-lg-12" id="upload_togle">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Upload photo of your ID')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">				   
					<div class="form-container">
						<?include 'confirmation/documents_upload_form.html';?>							
					</div>
				</div>
			</div>
	</section>
</div>

<div class="clearfix"></div>
<?/*
<div class="col-lg-12" id="address_togle">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Address Proof')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">				   
					<div class="form-container">						
						<?include 'confirmation/adres_form.html';?>						
					</div>
				</div>
			</div>
	</section>
</div>
*/?>

<div class="clearfix"></div>

