<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.Affiliate program') ?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-8">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"></h2>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-md-12">                                           

					<h4 class="bold no-mt"><?=__tr('personal.UniFox Affiliate Program')?></h4>
                    <h4><small><?=__tr('personal.Unifox Affiliate Program info')?></h4>
									
					<h5 class="mt-20 bold mb-20"><?=__tr('personal.Your Affiliate Link is')?></h5>
					<div class="form-group has-focus">
						<div class="input-group">
							<input type="text" class="form-control bg-white" id="affilate" value="<?php echo $content['DOMAIN'].$view['user_link']?>" <?if($view['user_link']==""):?>disabled="disabled"<?endif;?>>
							<a href="javascript:void(0);" class="input-group-addon"  id="copy-to-buffer"  data-clipboard-action="copy" data-clipboard-target="input#affilate"><i class="fa fa-copy text-dark"></i></a>
						</div>
					</div>						
					
					
								
					<?if(count($view['faq'])>0):?>
						<div class="panel-group no-mb faq-panels" id="accordion">
							<?foreach($view['faq'] as $faq):?>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq_<?=$faq['id']?>"><?=$faq['question']?></a>
								</h4>
									</div>
									<div id="faq_<?=$faq['id']?>" class="panel-collapse collapse">
										<div class="panel-body">
											<p><?=$faq['answer']?></p>
										</div>
									</div>
								</div>
							<?endforeach;?>
						</div>
					<?endif;?>				
						
						
						
										
					
					<!--end_faq-->
					
					
				</div>
				   
				<div class="clearfix"></div>					
			</div>
			
			
		</div>
	</section>
</div>
<div class="col-lg-4">
	<section class="box has-border-left-3">
			
			<div class="content-body">    
				<div class="row">
					<div class="tile-progress bg-accent has-gradient-to-right-bottom" style="margin-left:15px;margin-right:15px;margin-top:25px;">
						<div class="content">
							<h4><i class="fa fa-group icon-sm"></i> <?= __tr('personal.Total Users') ?></h4>
							<div class="affilate-param"><?=$view['count']['users']?></div>
						</div>
					</div>

					<div class="tile-progress bg-accent has-gradient-to-right-bottom" style="margin-left:15px;margin-right:15px">
						<div class="content">
							<h4><i class="fa fa-random icon-sm"></i> <?= __tr('personal.Total Purchases') ?></h4>
							<div class="affilate-param"><?=$view['count']['transaction_sum']['count_t']?></div>
						</div>
					</div>

					<div class="tile-progress bg-accent no-mb has-gradient-to-right-bottom" style="margin-left:15px;margin-right:15px">
						<div class="content">
							<h4><i class="fa fa-dollar icon-sm"></i> <?= __tr('personal.Total bonus stakes') ?></h4>
							<div class="affilate-param"><?=$view['count']['bonus_points']?></div>
						</div>
					</div>
				</div>
			</div>
	</section>
</div>

<div class="clearfix"></div>
