<div class='col-xs-12'>
	<div class="page-title">
		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.Airdrop program') ?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-12">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?= __tr('personal.Airdrop program') ?></h2>
			</header>
			<div class="content-body">    
				<div class="row">
					
					<div class="col-xs-12 anchor-con">
						<div class="option-identity-wrapper">
							<div class="option-icon">
								<img src="<?php echo $content['DOMAIN']?>/images/logo_b.png" class="tab-img-icon" style="padding:20px;width:80%;" alt="icon">
							</div>
							<div class="tab-head">
								<h4 class="bold mb-5 no-mt"><?= __tr('personal.Airdrop Verification') ?></h4>
								<h4 class="no-mt"><small><?= __tr('personal.AirdropVerificationInfo') ?></small></h4>

								<?/*<h5 class="bold no-mb">
									<?if($content['personal_user_info']['is_verification']==1):?>
										<i class="fa fa-check-circle-o complete f-s-14"></i> Verified
									<?else:?>
										<i class="fa fa-times-circle cancelled f-s-14"></i> Not verified
									<?endif;?>	
								</h5>*/?>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
	</section>
</div>

<?/*if(!isset($_GET['type'])):?>
	<div class="col-lg-12">
		<section class="box has-border-left-3">
				<header class="panel_header">
					<h2 class="title pull-left"><?= __tr('personal.Airdrop program') ?></h2>
				</header>
				<div class="content-body">				
					<?include 'airdrop/form.html'?>				
				</div>
		</section>
	</div>
	<div class="clearfix"></div>
<?else:?>
		
<?endif;*/?>


<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Facebook') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Facebook'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Telegram') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Telegram'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Twitter') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Twitter'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Youtube') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Youtube'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Reddit') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Reddit'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>	

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Medium') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Medium'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Instagram') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Instagram'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>
<?/*
<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Bitcointalk') ?></h2>
		</header>
		<div class="content-body">
			<?$s_type='Bitcointalk'?>
			<?include 'airdrop/form_type.html'?>				
		</div>
	</section>
</div>
<div class="clearfix"></div>
*/?>

<div class="col-lg-12">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?= __tr('personal.Claim your Gift Card!') ?></h2>
			</header>
			<div class="content-body ">    
				<?include 'giftcard/form.html'?>				
			</div>
	</section>
</div>
<div class="clearfix"></div>

<div class="col-lg-12 codesale" style="display:none;">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?= __tr('personal.Promotion Code') ?></h2>
			</header>
			<div class="content-body">
										
			</div>
	</section>
</div>
<div class="clearfix"></div>

<?/*


<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"></h2>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-6 verification">	
					<form action="/personal/airpod" method="post" id="preloader" onsubmit="return false;">
						<input name="airpod_id" type="hidden" value="<?php echo @$view['data']['id']?>"/>
						<input name="wallets" type="hidden" value="<?php echo @$view['wallets']['wallet']?>"/>
						<div class="row">
							<div class="col-xs-4">
								<label class="form-label"><a href="/personal/profile"><?= __tr('personal.Add contact details') ?></a>:</label>
							</div>
							<div class="col-xs-6">
								
									<?if($content['personal_user_info']['is_verification']==1):?>							
										<span class="true_program"><?= __tr('personal.completed') ?></span>
									<?else:?>
										<span class="color_red"><?= __tr('personal.not completed') ?></span>
									<?endif;?>
								
							</div>
							<div class="col-xs-2">
								<i class="fa <?if($content['personal_user_info']['is_verification']==0):?>fa-warning<?else:?>fa-check-circle<?endif;?>"></i>								
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label class="form-label"><a target="_blank" href="https://www.facebook.com/unifoxICO/"><?= __tr('personal.Subscribe to us on facebook and input you login') ?></a>:</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" type="text" value="<?php echo @$view['data']['fb_link']?>" name="fb_link"  />
							</div>
							<div class="col-xs-2">
								<?if(!isset($view['error']['fb_link']) and $view['data']['status']==2 ):?><i class="fa fa-warning"></i><?endif;?>
								<?if(isset($view['error']['fb_link']) and $view['data']['status']>1 ):?><i class="fa fa-check-circle"></i><?endif;?>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label class="form-label"><a target="_blank" href="https://t.me/Unifoxofficial"><?= __tr('personal.Subscribe to us on telegram and input you login') ?></a>:</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" type="text" value="<?php echo @$view['data']['telegram_link']?>" name="telegram_link" />
							</div>
							<div class="col-xs-2">
								<?if(!isset($view['error']['telegram_link']) and $view['data']['status']==2 ):?><i class="fa fa-warning"></i><?endif;?>
								<?if(isset($view['error']['telegram_link']) and $view['data']['status']>1 ):?><i class="fa fa-check-circle"></i><?endif;?>
							</div>
							
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label class="form-label"><a target="_blank" href="https://twitter.com/unifoxICO"><?= __tr('personal.Subscribe to us on twitter and input you login') ?></a>:</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" type="text" value="<?php echo @$view['data']['twitter_link']?>" name="twitter_link" />
							</div>
							<div class="col-xs-2">
								<?if(!isset($view['error']['twitter_link']) and $view['data']['status']==2 ):?><i class="fa fa-warning"></i><?endif;?>
								<?if(isset($view['error']['twitter_link']) and $view['data']['status']>1 ):?><i class="fa fa-check-circle"></i><?endif;?>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-4">
								<label class="form-label"><a target="_blank" href="https://youtu.be/QXQiMlt0-wk"><?= __tr('personal.Subscribe to us on youtube and input you login') ?></a>:</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" type="text" value="<?php echo @$view['data']['youtube_link']?>" name="youtube_link" />
							</div>
							<div class="col-xs-2">
								<?if(!isset($view['error']['youtube_link']) and $view['data']['status']==2 ):?><i class="fa fa-warning"></i><?endif;?>
								<?if(isset($view['error']['youtube_link']) and $view['data']['status']>1 ):?><i class="fa fa-check-circle"></i><?endif;?>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label class="form-label"><a target="_blank" href="https://www.reddit.com/user/UnifoxICO/"><?= __tr('personal.Subscribe to us on reddit and input you login') ?></a>:</label>
							</div>
							<div class="col-xs-6">
								<input class="form-control" type="text" name="rebit_link" value="<?php echo @$view['data']['rebit_link']?>" />
							</div>
							<div class="col-xs-2">
								<?if(!isset($view['error']['rebit_link']) and $view['data']['status']==2 ):?><i class="fa fa-warning"></i><?endif;?>
								<?if(isset($view['error']['rebit_link']) and $view['data']['status']>1 ):?><i class="fa fa-check-circle"></i><?endif;?>
							</div>
						</div>
						
						
						<?if($view['_button']):?>
							<div class="row" id="button-airpod-block">							
								<div class="col-xs-12 text-center">							
									<button id="send-airpod" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"><?= __tr('personal.Done') ?></button>
									<div class="loader-page"></div>
								</div>
							</div>						
						<?endif;?>
										
						<div class="row _program">
							<div class="col-xs-4">
                                <?= __tr('personal.Your personal status') ?>:
							</div>
							<div class="col-xs-6 color_red <?if($content['personal_user_info']['is_airdrop']==1):?>true_program<?endif;?>">							
								<?=$view['status_program']?>
							</div>
						</div>
						<div class="row" id="result_true" <?if($view['data']['status']==1):?>style="display:block;"<?endif?>>							
							<div class="col-xs-12 text-center">
                                <?= __tr('personal.Your request has been sent to the moderator for review') ?>.
							</div>
						</div>	
							
					</form>
					
					
				</div>
				<div class="clearfix"></div>					
			</div>
			<div class="row giftcard">
				<form action="/personal/airdrop" onsubmit="return false;" id="gift">
					<input type="hidden" name="giftcard-send" value="1"/>
					<input type="hidden" name="giftcard-wallet" value="<?php echo @$view['wallets']['wallet']?>"/>
					<div class="col-xs-12 text-center">	
						<div class="row text-center giftcard-title">
                            <?= __tr('personal.Claim GIFTCARD!') ?>
						</div>
						<div class="row text-center">
							<input type="text" name="giftcard" <?if($view['gift-code']!=""):?>value="<?=$view['gift-code']?>" disabled="disabled"<?endif;?>/>			
						</div>
						<?if($view['gift_send']):?>
							<div class="row text-center">
								<button id="send-gift" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom">Done</button>
								<div class="loader-page"></div>							
							</div>
						<?endif;?>
						<div class="row  giftcard-text">
                            <?= __tr('personal.When you submit gift card') ?>
						</div>
						
					</div>
				</form>	
			</div>
			<div class="row giftcard">
				<div class="col-xs-6">	
					
				</div>				
			</div>
			
		</div>
	</section>
</div>
*/?>
