<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.Bounty program') ?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-12">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?= __tr('personal.Bounty program') ?></h2>
			</header>
			<div class="content-body">    
				<div class="row">
					
					<div class="col-xs-12 anchor-con">
						<div class="option-identity-wrapper">
							<div class="option-icon">
								<img src="<?php echo $content['DOMAIN']?>/images/logo_b.png" class="tab-img-icon" style="padding:20px;width:80%;" alt="icon">
							</div>
							<div class="tab-head">
								<h4 class="bold mb-5 no-mt"><?= __tr('personal.General rules') ?></h4>
								<h4 class="no-mt"><small><?= __tr('personal.BountyRules') ?></small></h4>	
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
	</section>
</div>

<div class="col-lg-12" style="position:relative;">
	<section class="box has-border-left-3" id="bodybounty">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Bounty program') ?></h2>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-md-12">                                            

					<ul class="nav nav-tabs" id="foxBounty">					
						<?if($view['confimeted_type']['Facebook']):?>
							<li>
								<a href="#facebook-task" data-toggle="tab">
									<i class="fa fa-facebook"></i> <?= __tr('personal.Facebook') ?>
								</a>
							</li>
						<?endif;?>
						<?if($view['confimeted_type']['Twitter']):?>
							<li >
								<a href="#twitter-task" data-toggle="tab">
									<i class="fa fa-twitter"></i> <?= __tr('personal.Twitter') ?>
								</a>
							</li>
						<?endif;?>
						<?if($view['confimeted_type']['Youtube']):?>
							<li>
								<a href="#youtube-task" data-toggle="tab">
									<i class="fa fa-youtube"></i> <?= __tr('personal.Youtube') ?>
								</a>
							</li>
						<?endif;?>
						<?if($view['confimeted_type']['Telegram']):?>
							<li>
								<a href="#Telegram-task" data-toggle="tab">
									<i class="fa fa-send"></i> <?= __tr('personal.Telegram') ?>
								</a>
							</li>
						<?endif;?>
						<?if($view['confimeted_type']['Bitcointalk']):?>
							<li>
								<a href="#Bitcointalk-task" data-toggle="tab">
									<i class="fa fa-bitcoin" style="border:1px solid #000;width:18px;text-align:center;height:18px;border-radius:50%;padding-top:1px;"></i> <?= __tr('personal.Bitcointalk') ?>
								</a>
							</li>	
						<?endif;?>										
					</ul>
					<div class="tab-content">						
						<?if($view['confimeted_type']['Facebook']):?>
							<div class="tab-pane fade" id="facebook-task">
								<div class="row">
									<div class="col-xs-9 bounty-alltext">
										<h4 class="text-center"><?= __tr('personal.Facebook tasks') ?></h4>
										<?= __tr('personal.facebook_tasks_desc') ?>
									</div>
									<div class="clearfix"></div>
								</div>
								<?$key_form="Facebook";?>
								<?include 'bounty/task.html'?>	
							</div>
						<?endif;?>
						<?if($view['confimeted_type']['Twitter']):?>
							<div class="tab-pane fade" id="twitter-task">
								<div class="row">
									<div class="col-xs-9 bounty-alltext">
										<h4 class="text-center"><?= __tr('personal.Twitter tasks') ?></h4>
										<?= __tr('personal.twitter_tasks_desc') ?>
									</div>
									<div class="clearfix"></div>
								</div>
								
								<?$key_form="Twitter";?>
								<?include 'bounty/task.html'?>

							</div>
						<?endif;?>
						<?if($view['confimeted_type']['Youtube']):?>
						<div class="tab-pane fade" id="youtube-task">
							<div class="row">
								<div class="col-xs-9 bounty-alltext">
									<h4 class="text-center"><?= __tr('personal.Youtube tasks') ?></h4>
									<br/>
                                    <?= __tr('personal.youtube_tasks_desc') ?>
								</div>
								<div class="clearfix"></div>
							</div>
							<?$key_form="Youtube";?>
							<?include 'bounty/task.html'?>

						</div>
						<?endif;?>
						<?if($view['confimeted_type']['Telegram']):?>
						<div class="tab-pane fade" id="Telegram-task">
							<div class="row">
								<div class="col-xs-9 bounty-alltext">
									<h4 class="text-center"><?= __tr('personal.Telegram tasks') ?></h4>
									<br/>
                                    <?= __tr('personal.telegram_tasks_desc') ?>
								</div>
								<div class="clearfix"></div>
							</div>
							
							<?$key_form="Telegram";?>
							<?include 'bounty/task.html'?>

						</div>
						<?endif;?>
						<?if($view['confimeted_type']['Bitcointalk']):?>						
							<div class="tab-pane fade" id="Bitcointalk-task">
								<div class="row">
									<div class="col-xs-9 bounty-alltext">
										<h4 class="text-center"><?= __tr('personal.Bitcointalk tasks') ?></h4>
										<br/>
										<?= __tr('personal.Bitcointalk_tasks_desc') ?>
									</div>
									<div class="clearfix"></div>
								</div>
								
								<?$key_form="Bitcointalk";?>
								<?include 'bounty/task.html'?>

							</div>
						<?endif;?>
						
						
					</div>

				</div>
				   
				<div class="clearfix"></div>					
			</div>
			
			
		</div>
	</section>
	<div class="nonecontent"></div>	
</div>
<?if(!$view['isAirdrop']):?>
	<div class="modal fade col-xs-12" id="airdrop-none" data-backdrop="static" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">				
				<div class="modal-body">				
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="text-center" style="margin:20px 0px;">								
									<h4><?= __tr('personal.Bounty is unavailable without verification in Airdrop') ?></h4>	
								</div>
							</div>							
						</div>						
					</div>		
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" onclick="window.location.href='/personal/airdrop'">OK</button>
				</div>				
			</div>
		</div>
	</div>
<?endif;?>