<form action="" onsubmit="return false;">	
	<input type="hidden" name="wallet" value="<?php echo @$view['wallets']['wallet']?>"/>	
	<div class="col-lg-6 no-pl">
		<div class="form-group">
			<label class="form-label"></label>			
			<div class="controls">
				<input type="text" class="form-control" name="code_sale" placeholder="<?=__tr('personal.Please, input your promotion code here')?>"/>	
				<span class="errorv" id="code_sale-error"></span>				
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="pull-left result-text">
							
	</div>							
	<div class="pull-right">		
		<button type="button" class="btn btn-primary btn-corner right15" id="send"><i class="fa fa-check"></i> <?= __tr('personal.Done') ?></button>	
		<div class="loader-page" style="height:40px;"></div>								
	</div>
	<div class="clearfix"></div>
	<?/*
	
	<div class="col-lg-12 text-center">			
		<div class="row text-center">
			<input type="text" name="code_sale"/>
			<span class="errorv" id="code_sale-error"></span>			
		</div>		
		<div class="row text-center">
			<button id="send" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"><?= __tr('personal.Done') ?></button>
			<div class="loader-page"></div>							
		</div>		
		<div class="row  giftcard-text result-text">
			
		</div>
		<div class="row  giftcard-text text-info">
			
		</div>		
	</div>
	<div class="clearfix"></div>
	*/?>
</form>	

	