<div class="login-wrapper row">
	<div class="login loginpage col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xs-12 col-sm-6 col-lg-4" style="margin-top:40px;">    
		<div class="login-form-header">
			 
			 <div class="login-header">
				 <h2 class="bold color-white"><?= __tr('personal.Confirm transaction') ?></h2>
				 
			 </div>
		</div>
	   
		<div class="box login">

			<div class="content-body" style="padding-top:30px">
				
					
					<div class="row" id="processing">
						<div class="col-xs-12 text-center" style="font-size:20px;">							
							<?= __tr('personal.Processing') ?>
						</div>
					</div>
					<div class="row" id="status_error" style="display:none;color:red;">
						<div class="col-xs-12">							
							Error! <span id="error"><?= __tr('personal.Processing') ?></span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-xs-12">							
							<div class="loader-page" style="height:100px;"></div>
						</div>
					</div>
				
			</div>
		</div>	

	</div>
</div>
