
<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.FAQ') ?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.FAQ') ?></h2>
			
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="mb-20"><?= __tr('personal.General Questions') ?></h3>

					<!-- Bootstrap FAQ - START -->
					
					
					<div class="panel-group no-mb faq-panels" id="accordion">
					
						<?foreach($view['faq'] as $text):?>
						
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$text['id']?>"><?=$text['question']?></a>
						</h4>
							</div>
							<div id="collapse<?=$text['id']?>" class="panel-collapse collapse">
								<div class="panel-body">
									<?=$text['answer']?>
								</div>
							</div>
						</div>
						
						<?endforeach;?>
						
						
						<!-- bs faq end -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>