<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?=__tr('personal.Dashboard')?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<div class="col-lg-8">
	<section class="box" style="overflow:hidden">
		<header class="panel_header">
			<h2 class="title pull-left"><?=__tr('personal.Balance Statistic')?></h2>
			<div class="actions panel_actions pull-right">
				<a class="box_toggle fa fa-chevron-down"></a>
				<a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
				<a class="box_close fa fa-times"></a>
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-12">
					<div id="demoarea-chart">
						<div id="demoarea-container" style="width: 100%;height:310px; text-align: center; margin:0 auto;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="col-lg-4">
	<section class="box ">
		<header class="panel_header">
			<h2 class="title pull-left"><?=__tr('personal.Live crypto prices')?></h2>
			<div class="actions panel_actions pull-right">
				<a class="box_toggle fa fa-chevron-down"></a>
				
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-12 mt-5">
					<script>
						baseUrl = "https://widgets.cryptocompare.com/";
						var scripts = document.getElementsByTagName("script");
						var embedder = scripts[scripts.length - 1];
						(function() {
							var appName = encodeURIComponent(window.location.hostname);
							if (appName == "") {
								appName = "local";
							}
							var s = document.createElement("script");
							s.type = "text/javascript";
							s.async = true;
							var theUrl = baseUrl + 'serve/v1/coin/multi?fsyms=BTC,ETH,XMR,LTC,XRP,NEO,DASH&tsyms=USD,EUR,CNY,GBP';
							s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
							embedder.parentNode.appendChild(s);
						})();
					</script>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="clearfix"></div>
<?/*
<div class="col-lg-4">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left">Transfer Coins</h2>
			<div class="actions panel_actions pull-right">
				<a class="box_toggle fa fa-chevron-down"></a>
				<a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
				<a class="box_close fa fa-times"></a>
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="transfer-wraper">
						<div class="form-group no-mb">
							<label class="form-label">Amount</label>
							<span class="desc">minimum value "0.001 BTC"</span>

							<div class="input-group mb-10">
								<span class="input-group-addon"><img src="<?php echo $content['DOMAIN']?>/images/logo.svg" alt="icon"/></span>
								<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="enter amount">
								<div class="input-group-btn">
									<button type="button" class="btn btn-red dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
											FOX <span class="caret"></span>
									</button>

									<ul class="dropdown-menu dropdown-red no-spacing">
										<li><a href="#">FOX</a></li>
										<li><a href="#">Unicash</a></li>										
									</ul>
								</div>

							</div>

							<label class="form-label">wallet address</label>
							<span class="desc"></span>

							<div class="input-group">
								<span class="input-group-addon">										
								<img src="<?php echo $content['DOMAIN']?>/images/logo.svg" alt="icon"/>
								</span>
								<input type="text" class="form-control" placeholder="OxsD12F32xvW3deG5...">
							</div>

							<button type="button" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" style="width:100%"> Transfer Now</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>
*/?>
<div class="col-lg-6">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?=__tr('personal.Recent Transaction')?></h2>
			<div class="actions panel_actions pull-right">
				<a class="box_toggle fa fa-chevron-down"></a>
				
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="transaction-wraper">
						<?if(count($view['list_transaction'])>0):?>
							<?foreach($view['list_transaction'] as $m):?>
								<div class="transaction-info has-gradient-to-right-bottom">							
									<strong class="color-white"><?=$m['amount']?><span> <?=CURENCY?></span></strong>
								</div>
								<span class="transaction-opration"><i class="fa fa-arrow-right complete"></i></span>
								<div class="transaction-info">
									
									<strong><span><?=$m['to']?></span></strong>
								</div>
								<hr>
								
							<?endforeach;?>
							<div class="col-xs-12">
									<a href="/personal/transaction" class="all-transaction text-center block"><strong><i class="fa fa-plus"></i><?=__tr('personal.View all')?> </strong></a>
								</div>
						<?else:?>
							<div class="text-center" style="padding:69px 0px;"><?=__tr('personal.No transaction')?></div>
						<?endif;?>
						

						

						

						
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="col-lg-6">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?=__tr('personal.Wallet addresses')?></h2>
			<div class="actions panel_actions pull-right">
				<a class="box_toggle fa fa-chevron-down"></a>
				
			</div>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3">
					<img src="<?php echo $content['DOMAIN']?>/qr_code/<?php echo $view['fox_first']['qr_code']?>"/>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9">
					<div class="transfer-wraper">
						<div class="form-group no-mb">

							<label class="form-label"><?=CURENCY?> <?=__tr('personal.Wallet addresses')?></label>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom">
										<i class='cc fox-alt icon-white'></i>   
									</span>
								<p class="form-control-static with-border" id="wallet-index"><?php echo $view['fox_first']['wallet']?></p>
								<a href="javascript:void(0);" id="copy-to-buffer" class="input-group-addon" data-clipboard-action="copy" data-clipboard-target="p#wallet-index" ><i class="fa fa-copy text-dark"></i></a>
							</div>

							

							<div class="col-sm-6 ">
								<a href="/personal/wallets" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" style="width:100%"><?=__tr('personal.View all')?></a>
							</div>
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" style="width:100%"><?=__tr('personal.Settings')?></button>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>




<div class="clearfix"></div>