 <div class="page-sidebar-wrapper" id="main-menu-wrapper">


	<ul class='wraplist'>
		<li class='menusection'>Main</li>

        
			<?/*<li <?if($content['url_active']=='/personal'):?>class="open"<?endif;?>>
				<a href="/personal">
					<i class="fa fa-th-large"></i>
					<span class="title">Dashboard</span>
				</a>
			</li>
       */?>
		<li <?if($content['url_active']=='/personal/wallets' or $content['url_active']=='/personal/transaction'):?>class="open"<?endif;?>>
			<a href="/personal/wallets">
				<i class="img"><img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/wallet-o.png" style="width:16px" alt=""></i>
				<span class="title"><?= __tr('personal.menuMy Wallet') ?></span>
			</a>
			<ul class="sub-menu">
				<li >					
					<a <?if($content['url_active']=='/personal/transaction'):?>class="active"<?endif;?> href="/personal/transaction"><i
                                class="fa fa-tasks"></i><?= __tr('personal.menuTransaction') ?></a>
				</li>
				
			</ul>
		</li>
		<?/*<li <?if($content['url_active']=='/personal/profile'):?>class="open"<?endif;?>>
			<a href="/personal/profile">
				<i class="fa fa-lock"></i>
				<span class="title"><?= __tr('personal.menuProfile') ?></span>
			</a>
		</li>*/?>
		
			<li <?if($content['url_active']=='/personal/airdrop'):?>class="open"<?endif;?>>
				<a href="/personal/airdrop">
					<i class="fa fa-cubes"></i>
					<span class="title"><?= __tr('personal.menuAirdrop') ?></span>
				</a>
			</li>
			<li <?if($content['url_active']=='/personal/bounty'):?>class="open"<?endif;?>>
				<a href="/personal/bounty">
					<i class="fa fa-pie-chart"></i>
					<span class="title"><?= __tr('personal.menuBounty') ?></span>
				</a>
			</li>
			<li <?if($content['url_active']=='/personal/affiliate'):?>class="open"<?endif;?>>
				<a href="/personal/affiliate">
					<i class="fa fa-crosshairs"></i>
					<span class="title"><?= __tr('personal.menuAffailiate Program') ?></span>
				</a>
			</li>
		

		<li <?if($content['url_active']=='/personal/settings' or $content['url_active']=='/personal/account-confirmation'):?>class="open"<?endif;?>>
			<a href="javascript:;">
				<i class="fa fa-gear"></i>
				<span class="title"><?= __tr('personal.Profile Settings') ?></span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a <?if($content['url_active']=='/personal/settings'):?>class="active"<?endif;?> href="/personal/settings"><?= __tr('personal.Personal Information') ?></a>
				</li>
				<li>
					<a <?if($content['url_active']=='/personal/account-confirmation'):?>class="active"<?endif;?> href="/personal/account-confirmation"><?= __tr('personal.Account Verification') ?></a>
				</li>
			</ul>
		</li>
		
		<li href="javascript:;"<?if($content['url_active']=='/personal/faq'):?>class="open"<?endif;?>>
			<a href="javascript:;">
				<i class="fa fa-question-circle"></i>
				<span class="title"><?= __tr('personal.menuSupport') ?></span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li >
					<a <?if($content['url_active']=='/personal/faq'):?>class="active"<?endif;?> href="/personal/faq"><?= __tr('personal.menuFAQ') ?></a>
				</li>
				<li>
					<a class="" href="#"><?= __tr('personal.menuHelp center') ?></a>
				</li>
			</ul>
		</li>
		

		
		
	</ul>

</div>