
<div class="login-wrapper row">
		<div id="login" class="login loginpage col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xs-12 col-sm-6 col-lg-4">    
			<div class="login-form-header">
				 <img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/padlock.png" alt="login-icon" style="max-width:64px">
				 <div class="login-header">
					 <h4 class="bold color-white"><?= __tr('personal.Access recovery') ?>!</h4>
					 <h4><small><?= __tr('personal.Please enter new password') ?>.</small></h4>
				 </div>
			</div>
		   
			<div class="box login">

				<div class="content-body" style="padding-top:30px" id="Repaswd_new-modal" modal-id="Repaswd_new">

					<form method="post" action="/login" onsubmit="return false;" class="no-mb no-mt">
						<div class="row">
							<div class="col-xs-12">
								<input type="hidden" name="email" value="<?php echo $view['email']?>"/>
								<input type="hidden" name="code" value="<?php echo $view['code']?>"/>
									<h3>New</h3>
									<div class="form-group">
										<label class="form-label"><?= __tr('personal.login_password') ?></label>
										<div class="controls">
											<input type="password" class="ng-pristine form-control" name="password" placeholder="<?= __tr('personal.login_password') ?>"/>
										</div>
										<span class="error" rel="password"></span>	
										<span class="success" rel="password"></span>
									</div>
								
									<div class="form-group">
										<label class="form-label"><?= __tr('personal.login_r_password') ?></label>
										<div class="controls">
											<input type="password" class="ng-pristine form-control" name="password_confirmation" placeholder="<?= __tr('personal.login_r_password') ?>"/>
										</div>
										<span class="error" rel="password_confirmation"></span>	
										<span class="success" rel="password_confirmation"></span>
									</div>
								
								

								<div class="pull-left">									
									<button type="submit" class="btn btn-unfox mt-10 btn-corner right-15" onclick="RegistryUnifox.repasswordCreater()"><?= __tr('personal.Update password') ?></button>
									<a href="<?php echo LINK_LANG.'/signup'?>" class="btn mt-10 btn-corner signup"><?= __tr('personal.login_reg') ?></a>
								</div>
							</div>
						</div>
					</form>
				</div>
				
			</div>

			<p id="nav">
				<a class="pull-left" href="<?php echo LINK_LANG.'/signin'?>" title="Login"><?= __tr('personal.login_login') ?></a>
				<a class="pull-right" href="<?php echo LINK_LANG.'/signup'?>" title="Sign Up"><?= __tr('personal.login_reg') ?></a>
			</p>
			

		</div>
</div>

	<?/*
		<div class="card card-login mx-auto mt-5 form-reg" id="SignIn-modal" modal-id="SignIn">
		  <div class="card-header">Login</div>
		  <div class="card-body">
			<form method="post" action="/login" onsubmit="return false;">
			  <div class="form-group">
				<label for="email">Email address</label>
				<input class="form-control ng-pristine" id="email"  placeholder="Enter email"  name="email"/>
				
			  </div>
			 
			  <div class="form-group">
				<label for="password">Password</label>
				<input class="form-control ng-pristine" id="password" placeholder="Password" type="password" name="password"/>
				<span class="error" rel="password"></span>	
				<span class="success" rel="password"></span>
			  </div>
			  <div class="form-group">
				<div class="form-check">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="rpwd">Remember Password</label>
					
				</div>
			  </div>
			  <div class="text-center error" ><span class="error" rel="result"></span></div>	
			  <button type="submit" class="btn button-unfx button-reg btn-block" onclick="RegistryUnifox.enterAcp()">Login</button>
			</form>
			<div class="text-center">
			  <a class="d-block small mt-3" href="javascript:void(0);" onclick="RegistryUnifox.ModalAcpView('SignUp')">Register an Account</a>
			  
			</div>
			<div class="text-center">					
				<div class="ligin_w">
					<a href="javascript:void(0);" class="FacebookButton btn btn-lg btn-social btn-facebook">
						<i class="fa fa-facebook"></i> Sign in with Facebook
					</a>
					
				</div>					
			</div>
		  </div>
		</div>
		
		<div class="card card-login mx-auto mt-5 form-reg hide-block" id="SignUp-modal" modal-id="SignUp">
			<div class="card-header">Registaration</div>
			  <div class="card-body">
				<form method="post" action="/login" onsubmit="return false;">
				  <div class="form-group">
					<label for="email">Email address</label>
					<input class="form-control ng-pristine" id="email"  placeholder="Enter email"  name="email"/>
					<span class="error" rel="email"></span>	
					<span class="success" rel="email"></span>
				  </div>
				 
				  <div class="form-group">
					<label for="password">Password</label>
					<input class="form-control ng-pristine" id="password" placeholder="Password" type="password" name="password"/>
					<span class="error" rel="password"></span>	
					<span class="success" rel="password"></span>
				  </div>
				 
				  <div class="form-group">
					<label for="password">Confirm password </label>
					<input class="form-control ng-pristine" id="password_confirmation" placeholder="Password" type="password" name="password_confirmation"/>
					<span class="error" rel="password_confirmation"></span>	
					<span class="success" rel="password_confirmation"></span>
				 
				  </div>		  
				  <button type="submit" class="btn button-unfx button-reg btn-block" onclick="RegistryUnifox.createAcp()" >Registaration</button>
				</form>
				<div class="text-center">
				  <a class="d-block small mt-3" href="javascript:void(0);" onclick="RegistryUnifox.ModalAcpView('Registaration')">Login</a>
				 
				</div>
				<div class="text-center">					
					<div class="ligin_w">
						<a href="javascript:void(0);" class="FacebookButton btn btn-lg btn-social btn-facebook">
							<i class="fa fa-facebook"></i> Sign in with Facebook
						</a>
						
					</div>					
				</div>
			  
			</div>
		</div>
		<script>
	 	
</script>
	*/?>	
	


