
<div class="login-wrapper row">
		<div id="login" class="login loginpage col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-xs-12 col-sm-6 col-lg-8">  
			<div class="login-form-header">
				 <img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/signup.png" alt="login-icon" style="max-width:64px">
				 <div class="login-header">					 
					 <h4 class="bold color-white"><?= __tr('personal.login_reg_header') ?></h4>
					 <h4><small><?= __tr('personal.login_reg_subheader') ?></small></h4>
                    
				 </div>
			</div>
		   
			<div class="box login">

				<div class="content-body" style="padding-top:30px" id="SignUp-modal" modal-id="SignUp">

					<form method="post" action="/login" onsubmit="return false;" class="no-mb no-mt">
						<div class="row">
							<div class="col-xs-12">
								<div class="row" style="margin:20px auto;">
									<div class="col-lg-4">
										<div class="row">
											<div class="col-lg-6">
												<a href="javascript:void(0);" style="color:#000;text-decoration:underline;">Physical person</a>
											</div>
											<div class="col-lg-6">
												<a href="javascript:void(0);" >Companies</a>
											</div>
										</div>
									</div>
								</div>
							

								<div class="row">
									<div class="col-lg-6 ">
										<div class="form-group">
											<label class="form-label"><?= __tr('personal.login_user_name') ?></label>
											<div class="controls">
												<input type="text" class="ng-pristine form-control" name="name" placeholder="<?= __tr('personal.login_user_name') ?>"/>
											</div>
											<span class="error" rel="name"></span>	
											<span class="success" rel="name"></span>
										</div>
									</div>
									<div class="col-lg-6 ">
										<div class="form-group">
											<label class="form-label"><?= __tr('personal.login_email') ?></label>
											<div class="controls">
												<input type="text" class="ng-pristine form-control" name="email" placeholder="<?= __tr('personal.login_email') ?>"/>
											</div>
											<span class="error" rel="email"></span>	
											<span class="success" rel="email"></span>
										</div>
									</div>
									<div class="col-lg-6 ">
										<div class="form-group">
											<label class="form-label"><?= __tr('personal.login_password') ?></label>
											<div class="controls">
												<input type="password" class="ng-pristine form-control" name="password" placeholder="<?= __tr('personal.login_password') ?>"/>
											</div>
											<span class="error" rel="password"></span>	
											<span class="success" rel="password"></span>
										</div>
									</div>
									<div class="col-lg-6 ">
										<div class="form-group">
											<label class="form-label"><?= __tr('personal.login_r_password') ?></label>
											<div class="controls">
												<input type="password" class="ng-pristine form-control" name="password_confirmation" placeholder="<?= __tr('personal.login_r_password') ?>"/>
											</div>
											<span class="error" rel="password_confirmation"></span>	
											<span class="success" rel="password_confirmation"></span>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 ">
										<div class="form-group" style="margin-bottom: 5px;">
											<input type="checkbox" name="terms"> <label class="cterm"><?= str_replace('{LINK}','#',__tr('personal.I agree with terms and conditions'))?></label>
											<span class="error" rel="terms"></span>
										</div>
										
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 ">
										<div class="form-group" style="margin-bottom: 5px;">
											<input type="checkbox" name="police"> <label class="cterm"><?= str_replace('{LINK}','#',__tr('personal.I agree with privacy policy'))?></label>
											<span class="error" rel="police"></span>
										</div>
										
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 ">
										<div class="form-group" style="margin-bottom: 5px;">
											<input type="checkbox" name="notification"> <label class="cterm"><?=str_replace('{LINK}','#',__tr('personal.I agree with newsletter and notification'))?></label>
											<span class="error" rel="notification"></span>
										</div>
										
									</div>
								</div>

								<div class="pull-left">									
									<button type="submit" class="btn btn-unfox mt-10 btn-corner right-15" onclick="RegistryUnifox.createAcp()"><?= __tr('personal.login_reg') ?></button>
									<a href="<?php echo LINK_LANG.'/signin'?>" class="btn mt-10 btn-corner signup"><?= __tr('personal.login_signin') ?></a>
								</div>
								<div class="pull-right">
									<?/*<a href="javascript:void(0);" class="FacebookButton btn btn-social mt-10 btn-facebook">
										<i class="fa fa-facebook"></i> <?= __tr('personal.login_fb') ?>
									</a>*/?>
								</div>

							</div>
						</div>
					</form>
				</div>
				
				<div class="content-body" style="padding-top:30px" id="activate" style="display:none;">
					<div class="row">
						<div class="col-xs-12">
							<p>
								
							</p>
						</div>
					</div>		
				</div>
			</div>
<?/*
			<p id="nav">
				<a class="pull-left" href="<?php echo LINK_LANG.'/recovery'?>" title="Password Lost and Found"><?= __tr('personal.login_forgot') ?></a>
				<a class="pull-right" href="<?php echo LINK_LANG.'/signin'?>" title="Sign Up"><?= __tr('personal.login_login') ?></a>
			</p>
			

		</div>
</div>

	<?/*
		<div class="card card-login mx-auto mt-5 form-reg" id="SignIn-modal" modal-id="SignIn">
		  <div class="card-header">Login</div>
		  <div class="card-body">
			<form method="post" action="/login" onsubmit="return false;">
			  <div class="form-group">
				<label for="email">Email address</label>
				<input class="form-control ng-pristine" id="email"  placeholder="Enter email"  name="email"/>
				
			  </div>
			 
			  <div class="form-group">
				<label for="password">Password</label>
				<input class="form-control ng-pristine" id="password" placeholder="Password" type="password" name="password"/>
				<span class="error" rel="password"></span>	
				<span class="success" rel="password"></span>
			  </div>
			  <div class="form-group">
				<div class="form-check">
				  <label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="rpwd">Remember Password</label>
					
				</div>
			  </div>
			  <div class="text-center error" ><span class="error" rel="result"></span></div>	
			  <button type="submit" class="btn button-unfx button-reg btn-block" onclick="RegistryUnifox.enterAcp()">Login</button>
			</form>
			<div class="text-center">
			  <a class="d-block small mt-3" href="javascript:void(0);" onclick="RegistryUnifox.ModalAcpView('SignUp')">Register an Account</a>
			  
			</div>
			<div class="text-center">					
				<div class="ligin_w">
					<a href="javascript:void(0);" class="FacebookButton btn btn-lg btn-social btn-facebook">
						<i class="fa fa-facebook"></i> Sign in with Facebook
					</a>
					
				</div>					
			</div>
		  </div>
		</div>
		
		<div class="card card-login mx-auto mt-5 form-reg hide-block" id="SignUp-modal" modal-id="SignUp">
			<div class="card-header">Registaration</div>
			  <div class="card-body">
				<form method="post" action="/login" onsubmit="return false;">
				  <div class="form-group">
					<label for="email">Email address</label>
					<input class="form-control ng-pristine" id="email"  placeholder="Enter email"  name="email"/>
					<span class="error" rel="email"></span>	
					<span class="success" rel="email"></span>
				  </div>
				 
				  <div class="form-group">
					<label for="password">Password</label>
					<input class="form-control ng-pristine" id="password" placeholder="Password" type="password" name="password"/>
					<span class="error" rel="password"></span>	
					<span class="success" rel="password"></span>
				  </div>
				 
				  <div class="form-group">
					<label for="password">Confirm password </label>
					<input class="form-control ng-pristine" id="password_confirmation" placeholder="Password" type="password" name="password_confirmation"/>
					<span class="error" rel="password_confirmation"></span>	
					<span class="success" rel="password_confirmation"></span>
				 
				  </div>		  
				  <button type="submit" class="btn button-unfx button-reg btn-block" onclick="RegistryUnifox.createAcp()" >Registaration</button>
				</form>
				<div class="text-center">
				  <a class="d-block small mt-3" href="javascript:void(0);" onclick="RegistryUnifox.ModalAcpView('Registaration')">Login</a>
				 
				</div>
				<div class="text-center">					
					<div class="ligin_w">
						<a href="javascript:void(0);" class="FacebookButton btn btn-lg btn-social btn-facebook">
							<i class="fa fa-facebook"></i> Sign in with Facebook
						</a>
						
					</div>					
				</div>
			  
			</div>
		</div>
		<script>
	 	
</script>
	*/?>	
	


