<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?=__tr('personal.Personal Information')?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->


<div class="col-lg-12">
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Account Information')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">
					<div class="form-container settings">
						<form method="post" id="settings" onsubmit="return false;">
							<input type="hidden" name="save_settings" value="<?php echo $content['personal_user_info']['id']?>"/>	
							<div class="row">
								<div class="col-xs-12 mb-20">
									
									<div class="col-sm-12 avatar-img ">
										<div class="avatar-img-wrapper">
											<img src="<?php echo $content['personal_user_info']['img']?>"  style="max-width:100px;height:100%;<?if(!$content['personal_user_info']['img_isset']):?>padding:20px;<?endif?>">
										</div>
										<div class="form-group">
											<?if($content['personal_user_info']['img_isset']):?>
												<input type="hidden" name="img-file" value="<?php echo $content['personal_user_info']['img']?>"/>
											<?endif;?>
											<label class="btn btn-primary file" for="img"><?=__tr('personal.Upload File')?>
												<input type="file" accept="image/*" name="img" id="img" class="hide" />
											</label>
											<div class="desc" style="margin-left:0px;">"<?=__tr('personal.JPG, GIF or PNG Max size of 800K')?>"</div>											
										</div>
									</div>

								</div>
								<div class="col-xs-12">
									
									<div class="pull-left">
										
									</div>
									<div class="pull-right">
										<span style="color:#00ab00;font-size:16px;display:none;" id="change_saved"><i class="fa fa-check" style="font-size:16px;"></i> <?=__tr('personal.Changes saved')?> </span>
										<button type="button" class="btn btn-primary btn-corner right15" id="save"><i class="fa fa-check"></i><?=__tr('personal.Update')?> </button>
										
										<div class="loader-page"></div>
									</div>
									
								</div>
							</div>						
						</form>
					</div>
				</div>
			</div>
	</section>
</div>
<div class="col-lg-12" >
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Password')?></h2>
			</header>
			<div class="content-body">    
				<?include 'settings/password_form.html';?>
			</div>
	</section>
</div>
<div class="clearfix"></div>
<div class="col-lg-12" >
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Personal Information')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">				   
					<div class="form-container">
						<div class="row">
							<div class="col-xs-12">			
								<div class="col-xs-2">
									<label class="form-label">Email:</label>	
								</div>
								<div class="col-xs-6">
									<?php echo $content['personal_user_info']['email']?>
								</div>	
							</div>								
						</div>
						<?$key_type="personal_info";?>
						<?include 'settings/personal_.html';?>						
					</div>
				</div>
			</div>
	</section>
</div>

<div class="clearfix"></div>
<?/*
<div class="col-lg-12" >
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left">Address Information</h2>
			</header>
			<div class="content-body">    
				<div class="row">				   
					<div class="form-container">
						<?$key_type="adres";?>
						<?include 'settings/personal_.html';?>						
					</div>
				</div>
			</div>
	</section>
</div>

<div class="clearfix"></div>*/?>

<div class="col-lg-12" >
	<section class="box has-border-left-3">
			<header class="panel_header">
				<h2 class="title pull-left"><?=__tr('personal.Upload photo of your ID')?></h2>
			</header>
			<div class="content-body">    
				<div class="row">				   
					<div class="form-container confirma">
						<?$key_type="document";?>
						<?include 'settings/upload_.html';?>						
					</div>
				</div>
			</div>
	</section>
</div>
<div class="clearfix"></div>
