<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.My transactions') ?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->

<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Transactions list') ?></h2>
		</header>
		<div class="content-body">
			<div class="row">
				<div class="col-xs-12 transaction">				
					<?include 'transaction/list.html'?>
				</div>
				<div class="clearfix"></div>					
			</div>
			
		</div>
	</section>
</div>
