<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.My wallets') ?> :: <?=$view['info']["wallet"]?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->
<div class="col-lg-12">
	<?include 'wallets/new/wallets_menu.html';?>
</div>
<div class="col-lg-6" id="action_wallet_block">
	<?include 'wallets/'.$view['action']?>
</div>

<div class="col-lg-1 hidden-md mt-15">
	<div class="arrow-container text-center">
		<i class="fa fa-arrow-right mt-100 pt-30"></i>
		<i class="fa fa-arrow-right mt-100"></i>
		<i class="fa fa-arrow-right mt-100 mb-100"></i>
	</div>
</div>



<div class="col-lg-5" id="info_wallet_block">
	<?include 'wallets/new/wallet-info.html';?>	
</div>

<div class="clearfix"></div>
<div class="col-lg-12">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.List of transactions purse ').$view['info']["wallet"] ?></h2>
		</header>
		<div class="content-body" id="my_transaction">    
			<div class="row">
				<div class="col-xs-12 list">					
				</div>
				<div class="loader-page" style="height:100px;"></div>
			</div>
			
		</div>
		
	</section>
</div>
<div class="clearfix"></div>


<div class="modal fade col-xs-12" id="wallets-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

				<div class="loader-modal" ></div>

			</div>
			
		</div>
	</div>
</div>
