<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.My wallets') ?> :: <?=$view['info']["wallet"]?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<?include 'block/balance.html';?>
<div class="col-lg-12">
	
	<div style="background:red;color:#fff;text-align:center;"><?=$view['text']?></div>
	
</div>