<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title"><?= __tr('personal.My wallets') ?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>


<?include 'block/balance.html';?>
<!-- MAIN CONTENT AREA STARTS -->


<?foreach($view['wallets'] as $wallet):?>
	<?include 'wallets/item.html';?>	
<?endforeach;?>
<?/*
<div class="col-lg-4">
	<section class="box has-border-left-3" id="button-create" >
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Add new') ?> <?=CURENCY?> <?= __tr('personal.wallet') ?></h2>
		</header>
		<div class="content-body">    
			<div class="row">
				<div class="col-xs-12">
					<div class="text-center no-mt no-mb">
						<div class="img-affa-wrapper no-mb" style="padding:39px 20px">
						   <div class="">
							   <i class="fa fa-plus has-gradient-to-right-bottom icon-sm icon-rounded inviewport visible " style="width:50px;height:50px;"></i>
							   <h4 class="no-mb mt-30"><?= __tr('personal.Create new address') ?></h4>
						   </div>
						</div>							
					</div>
				</div>
			   
			</div>
			<div id="loader-create"></div>
		</div>
		
	</section>
</div>
*/?>
<div class="clearfix"></div>

<?/*<div class="col-lg-8">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?= __tr('personal.Transaction list') ?></h2>
		</header>
		<div class="content-body" id="my_transaction">    
			<div class="row">
				<div class="col-xs-12 list">					
				</div>
				<div class="loader-page" style="height:100px;"></div>
			</div>
			
		</div>
		
	</section>
</div>
<div class="clearfix"></div>*/?>


<div class="modal fade col-xs-12" id="wallets-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

				<div class="loader-modal" ></div>

			</div>
			
		</div>
	</div>
</div>