/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1100px) {
	.visitor-message div.leftb{width:100%;float:none;font-size: 11px;line-height:14px;}
	.visitor-message div.rightb{width:100%;float:none;text-align:left;line-height:25px;}
	.visitor-message div.rightb a{font-size:11px;}
}