<form action="/personal/airdrop" onsubmit="return false;" id="gift">
	
	<?/*<div class="col-lg-12 text-center">			
		<div class="row text-center">
						
		</div>
		<?if($view['gift_send']):?>
			<div class="row text-center">
				<button id="send-gift" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"><?= __tr('personal.Done') ?></button>
				<div class="loader-page"></div>							
			</div>
		<?endif;?>
		<div class="row  giftcard-text">
			<?= __tr('personal.When you submit gift card') ?>
		</div>		
	</div>
	<div class="clearfix"></div>*/?>
	
	<input type="hidden" name="giftcard-send" value="1"/>
	<input type="hidden" name="giftcard-wallet" value="<?php echo @$view['wallets']['wallet']?>"/>
	<?if($view['gift_send']):?>
		<div class="col-lg-8 no-pl">
			<div class="form-group">
				<label class="form-label"><?= __tr('personal.When you submit gift card') ?></label>			
				<div class="controls">
					<input type="text" class="form-control" name="giftcard" <?if($view['gift-code']!=""):?>value="<?=$view['gift-code']?>" disabled="disabled"<?endif;?>/>			
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	<?endif;?>	
	
	<div class="pull-left giftcard-text">
							
	</div>							
	<div class="pull-right">		
		<button type="button" class="btn btn-primary btn-corner right15" id="send-gift"><i class="fa fa-check"></i> <?= __tr('personal.Done') ?></button>	
		<div class="loader-page" style="height:40px;"></div>								
	</div>
	<div class="clearfix"></div>
	
</form>	