<?/*<div class="col-lg-12">
	<section class="box nobox marginBottom0">
		<div class="content-body">
			<div class="row text-center">
				<div class="col-lg-5 col-sm-7 col-xs-12 affilate">
					<div class="r4_counter db_box has-gradient-to-right-bottom">
						<div class="row">
							<div class="col-lg-6 program">
								<strong>Profile:</strong> <?if($content['personal_user_info']['is_verification']):?>verified<?else:?>not verified<?endif;?>
							</div>
							<div class="col-lg-6 program">
								<strong>Airdrop:</strong> <?if($content['personal_user_info']['is_airdrop']):?>registred<?else:?>not registred<?endif;?> 
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 program">
								<strong>Token bought:</strong> 
							</div>
							<div class="col-lg-6 program">
								<strong>Bounty stakes:</strong>
							</div>
						</div>						
					</div>
				</div>			
			</div>
			<!-- End .row -->
		</div>
	</section>
</div>
<div class="clearfix"></div>
*/?>
<div class="col-lg-12">
	<section class="box nobox marginBottom0">
		<div class="content-body">
			<div class="row">

                <div class="col-lg-4 col-sm-4 col-xs-12">
					<div class="r4_counter db_box has-gradient-to-right-bottom">
						<div class="icon-after cc BTC-alt"></div>
						<i class='pull-left cc fox-alt icon-md icon-white mt-10'></i>
						<div class="stats">
							<h3 class="color-white mb-5"><span id="my_total_balance"><?php echo $view['fox']['balance']?></span> <?=CURENCY?></h3>
							<span><?=__tr('personal.Wallet')?> <?=CURENCY?> <?=__tr('personal.balance')?></span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-sm-4 col-xs-12 affilate">
					<div class="r4_counter db_box has-gradient-to-right-bottom">
						<div class="row">
							<div class="col-lg-12 program">
								<strong><?=__tr('personal.Profile')?>:</strong> <?if($content['personal_user_info']['is_verification']):?><?=__tr('personal.verified')?><?else:?><?=__tr('personal.not verified')?><?endif;?>
							</div>

						</div>
						<div class="row">
							<div class="col-lg-12 program">
								<strong><?=__tr('personal.Token bought')?>: <span id="my_bought_balance"></span></strong>
							</div>

						</div>						
					</div>
				</div>

                <div class="col-lg-4 col-sm-4 col-xs-12 affilate">
                    <div class="r4_counter db_box has-gradient-to-right-bottom">
                        <div class="row">

                            <div class="col-lg-12 program">
                                <strong><?=__tr('personal.Airdrop')?>:</strong> <?if($content['personal_user_info']['is_airdrop']):?><?=__tr('personal.registred')?><?else:?><?=__tr('personal.not registred')?><?endif;?>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12 program">
                                <strong><?=__tr('personal.Bounty stakes')?>: <span id="my_stakes_balance"></span> <?=__tr('personal.stakes')?></strong>
                            </div>
                        </div>
                    </div>
                </div>




<?/*
						
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="r4_counter db_box has-gradient-to-right-bottom">
						<div class="icon-after cc BTC-alt"></div>
						<i class='pull-left cc unicash-alt icon-md icon-white mt-10'></i>
						<div class="stats">
							<h3 class="color-white mb-5">0 </h3>
							<span>Token #2</span>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="r4_counter db_box has-gradient-to-right-bottom">
						<div class="icon-after cc BTC-alt"></div>
						<i class='pull-left cc BTC-alt icon-md icon-white mt-10'></i>
						<div class="stats">
							<h3 class="color-white mb-5">0 </h3>
							<span>Token #3</span>
						</div>
					</div>
				</div>
				
				*/?>
				
				

			</div>
			<!-- End .row -->
		</div>
	</section>
</div>
<div class="clearfix"></div>