<?/*
array(5) {
  ["leftPaging"]=>
  array(2) {
    ["start"]=>
    int(1)
    ["stop"]=>
    int(7)
  }
  ["rightPaging"]=>
  array(2) {
    ["start"]=>
    float(299)
    ["stop"]=>
    float(302)
  }
  ["active_page"]=>
  int(1)
  ["count_page"]=>
  float(302)
  ["url"]=>
  string(13) "/admin/users/"
}*/

?>

<ul class="pagination pagination-sm pull-right">	
	<?for($i=$view['leftPaging']['start'];$i<=$view['leftPaging']['stop'];$i++):?>
		<?$act='';$link_pag='&page='.$i;
			if($view['active_page']==$i)
				$act='class="active"';			
			if($i==1)
				$link_pag='';
		 ?>		
		<li <?php echo $act;?>><a href="<?php echo $view['url'].$link_pag?>"><?=$i?></a></li>
	<?endfor;?>
	<?if($view['rightPaging']):?>
		<?if($view['rightPaging']['start']!=($view['leftPaging']['stop']+1)):?>
			<li><a>...</a></li>
		<?endif;?>
		<?for($i=$view['rightPaging']['start'];$i<=$view['rightPaging']['stop'];$i++):?>
			<?$act='';$link_pag='&page='.$i;
				if($view['active_page']==$i)
					$act='class="active"';			
				if($i==1)
					$link_pag='';
			 ?>		
			<li <?php echo $act;?>><a href="<?php echo $view['url'].$link_pag?>"><?=$i?></a></li>
		<?endfor;?>
	<?endif;?>
</ul>