<div class="verification adm">		
		<div class="row">
			<div class="col-xs-4">
				<label class="form-label">Email confirmation (<i><?=$view['user_info']['email']?></i>):</label>							
			</div>
			<div class="col-xs-5 param-val">
				<?if($view['is_verification']['is_email']==0):?>
					False
				<?else:?>
					True
				<?endif;?>
			</div>
			
		</div>
		<?if($view['user_info']['is_company']==1 and  $view['is_verification']['is_company_info']!=0):?>
			<div class="row">
				<div class="pull-left">
					<h3>Company Info</h3>
				</div>
				<div class="pull-right">
					Status:
					<?if($view['is_verification']['is_company_info']==1):?><span style="color:green;">CONFIRMED</span><?endif;?>
					<?if($view['is_verification']['is_company_info']==2):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_company_info']==3):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_company_info']==0):?><span style="color:red;">NOT CONFIRMED</span><?endif?>						
				</div>				
			</div>
			<?$type_data='company_info';?>	
			<? include 'item_type.html';?>
		<?endif;?>
		
		<?if($view['is_verification']['is_personal_info']!=0):?>
			<div class="row">
				<div class="pull-left">
					<h3>Personal info</h3>
				</div>
				<div class="pull-right">
					Status:
					<?if($view['is_verification']['is_personal_info']==1):?><span style="color:green;">CONFIRMED</span><?endif;?>
					<?if($view['is_verification']['is_personal_info']==2):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_personal_info']==3):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_personal_info']==0):?><span style="color:red;">NOT CONFIRMED</span><?endif?>					
				</div>				
			</div>
			<?$type_data='personal_info';?>
			<? include 'item_type.html';?>
		<?endif;?>

			
		<?if($view['is_verification']['is_document']!=0):?>
			<div class="row">
				<div class="pull-left">
					<h3>Documents upload</h3>
				</div>
				<div class="pull-right">
					Status: 
					<?if($view['is_verification']['is_document']==1):?><span style="color:green;">CONFIRMED</span><?endif;?>
					<?if($view['is_verification']['is_document']==2):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_document']==3):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_document']==0):?><span style="color:red;">NOT CONFIRMED</span><?endif?>					
				</div>
			</div>
			<?$type_data='document';?>	
			<? include 'item_type.html';?>
		<?endif;?>
		<?if($view['is_verification']['is_adres']!=0):?>
			<div class="row">
				<div class="pull-left">
					<h3>Address</h3>
				</div>
				<div class="pull-right">
					Status:
					<?if($view['is_verification']['is_adres']==1):?><span style="color:green;">CONFIRMED</span><?endif;?>
					<?if($view['is_verification']['is_adres']==2):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_adres']==3):?><span style="color:green;">IN PROCESS</span><?endif;?>
					<?if($view['is_verification']['is_adres']==0):?><span style="color:red;">NOT CONFIRMED</span><?endif?>						
				</div>				
			</div>
			<?$type_data='adres';?>	
			<? include 'item_type.html';?>
		<?endif;?>
		
		<?/*<div class="row" style="border:0px;margin-top:20px;">
			<h4>Verification 
			<?if($view['this_v_status']==1):?>
				<span style="color:green;">Verified</span>
			<?else:?>
				<span style="color:red;">Not verified</span>
			<?endif;?>
			</h4>
		</div>*/?>
		
		<?/*
		<div class="row">
			<h3>Upload documents</h3>
		</div>
		<?foreach($view['file_key'][] as $v):?>
			<div class="row">
				<div class="col-xs-2">
					<label class="form-label"><?=$view['info_key_name'][$v]?>:</label>							
				</div>
				<div class="col-xs-5 param-val">
					<?if(isset($view['data'][$v]) and $view['data'][$v]['user_name']!=''):?>
						<div class="admin_file">
							<a target="_blank" href="<?=$view['img_path'].$view['data'][$v]['file']?>"><img src="<?=$view['img_path'].$view['data'][$v]['file']?>"/></a>
						</div>
					<?endif;?>
												
				</div>
				<div class="col-xs-2">
					<input tabindex="5" type="checkbox" id="<?=$v?>_true" name="<?=$v?>_true" class="icheck-minimal-blue" <?if(isset($view['error'][$v])):?>checked<?endif;?>>
					<label class="icheck-label form-label" for="<?=$v?>_true">True</label>
				</div>
			</div>
		<?endforeach;?>
		*/?>
		
		
		
	
</div>
