
	<form action="/admin" method="post">
		<input name="verification_id" type="hidden" value="<?php echo @$view['data']['id']?>"/>
		<input name="verification_type" type="hidden" value="<?=$type_data?>"/>
		<input name="id_user" type="hidden" value="<?php echo @$view['data']['id_user']?>"/>
		
		<?if(count($view['info_key_list'][$type_data]['input'])>0):?>	
			<?foreach($view['info_key_list'][$type_data]['input'] as $v):?>
				<div class="row">
					<div class="col-xs-2">
						<label class="form-label"><?=$view['info_key_name'][$v]?>:</label>							
					</div>
					<div class="col-xs-5 param-val">
						<?php echo @$view['data'][$v]?>
					</div>
					<div class="col-xs-2">
						<select name="<?=$v?>_confirmation" class="param-val">							
							<option value="0" <?if(!isset($view['error'][$v])):?>selected<?endif;?>>not confirmed</option>
							<option value="1" <?if(isset($view['error'][$v])):?>selected<?endif;?>>confirmed</option>
						</select>
						<?/*<input tabindex="5" type="checkbox" id="<?=$v?>_true" name="" class="icheck-minimal-blue" <?if(isset($view['error'][$v])):?>checked<?endif;?>>
						<label class="icheck-label form-label" for="<?=$v?>_true">True</label>*/?>
					</div>
				</div>
			<?endforeach;?>
		<?endif;?>
		<?if(count($view['info_key_list'][$type_data]['file'])>0):?>	
			<?foreach($view['info_key_list'][$type_data]['file'] as $v):?>
				<div class="row">
					<div class="col-xs-2">
						<label class="form-label"><?=$view['info_key_name'][$v]?>:</label>							
					</div>
					<div class="col-xs-5 param-val">
						<?if(isset($view['data'][$v]) and $view['data'][$v]['user_name']!=''):?>
							<div class="admin_file">
								<a target="_blank" href="<?=$view['img_path'].$view['data'][$v]['file']?>"><img src="<?=$view['img_path'].$view['data'][$v]['file']?>"/></a>
							</div>
						<?endif;?>
													
					</div>
					<div class="col-xs-2">
						<select name="<?=$v?>_confirmation" class="param-val">							
							<option value="0" <?if(!isset($view['error'][$v])):?>selected<?endif;?>>no confirmed</option>
							<option value="1" <?if(isset($view['error'][$v])):?>selected<?endif;?>>confirmed</option>
						</select>
						<?/*
						<input tabindex="5" type="checkbox" id="<?=$v?>_true" name="<?=$v?>_true" class="icheck-minimal-blue" <?if(isset($view['error'][$v])):?>checked<?endif;?>>
						<label class="icheck-label form-label" for="<?=$v?>_true">True</label>*/?>
					</div>
				</div>
			<?endforeach;?>
		<?endif;?>
		<?if($view['is_verification']['is_'.$type_data]!=3):?>
			<div class="row no-btm">	
				<div class="col-xs-12 text-center">	
					<button class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"> Save </button>
				</div>			
			</div>
		<?endif;?>
	</form>
	