

<table class="table table-striped table-hover">
	<?if($view['obj']['count_row']>0):?>
		<tr>
			<thead>
				<th>id user</th>
				<th>email</th>
				<th>id request</th>
				<th style="text-align:right;">date</th>
				<th></th>
			</thead>
		</tr>
	<?foreach($view['obj']['list'] as $data):?>
		<tr>
			<?$name=$data['email']=="" ? $data['name'] : $data['email'];?>
			<td style="width:10%;"><?php echo $data['id_user'];?></td>		
			<td style="width:40%;"><?php echo $name;?></td>			
			<td style="width:10%;"><?php echo $data['id'];?></td>	
			<td style="width:20%;text-align:right;"><span class="msg_time"><?=date('d.m.Y',$data['date_update'])?></span></td>
			<td style="width:20%;text-align:right;"><a href="/admin/?ID_VERIFICATION=<?=$data['id']?>"><i class="fa fa-pencil"></i></a></td>
		</tr>
	<?endforeach?>
	
	<?if($view['obj']['count_page']>1):?>
		<tr >
			<td  colspan=5>
				<ul class="pagination pagination-sm pull-right">	
					<?for($i=1;$i<($view['obj']['count_page']+1);$i++):?>
						<?$act='';$link_pag='&page='.$i;
							if($view['obj']['active_page']==$i)
								$act='class="active"';			
							if($i==1)
								$link_pag='';
						 ?>
						<??>
						<li <?php echo $act;?>><a href="/admin<?php echo $view['link_get'].$link_pag?>"><?=$i?></a></li>
					<?endfor;?>
				 </ul>
			</td>			
		</tr>
	<?endif?>
	
	<?else:?>
		<tr >
			<td class="open-view" colspan=5>
				No request
			</td>			
		</tr>
	<?endif;?>
	
</table>