<form id="adres_send_form">
	<input type="hidden" name="verification_type" value="adres"/>
	<input type="hidden" name="verification_id" value="<?php echo @$view['data']['id']?>"/>
	<div class="row">
		<div class="col-xs-12">			
			<?foreach($view['info_type_key']['adres']['file'] as $input):?>					
				<div class="col-xs-5 mb-20">			
					<div class="col-sm-12 avatar-img ">
						<div class="avatar-img-wrapper">
							<?$file=$content['DOMAIN']."/css/personal/images/icons/id-card.png"?>
							<?$pp='padding:20px'?>
							<?if(isset($view['data'][$input]) and $view['data'][$input]['user_name']!=''):?>
								<?$file=$view['foto_path']."/".$view['data'][$input]['file']?>
								<?$pp=''?>
								<input type="hidden" name="<?=$input?>-file" value="<?=$view['data'][$input]['user_name']?>"/>
							<?endif;?>
							<img src="<?=$file?>" style="max-width:100px;height:100%;<?=$pp;?>" alt="">
						</div>
						<?$status_edit=true;?>
						<?
							if($view['is_verification']['is_adres']==1)
								$status_edit=false;	
							if($view['is_verification']['is_adres']==2)
								$status_edit=false;								
						?>
						<div class="form-group">
							<?if($status_edit):?>
								<label class="btn btn-primary file" for="<?=$input?>"><?=__tr('personal.Upload File')?>
									<input type="file" accept="image/*" name="<?=$input?>" id="<?=$input?>" class="hide document" />
								</label>
								<?if(!isset($view['error'][$input]) and $view['is_verification']['is_adres']==3):?>
									<span class="error" id="<?=$input?>-error"><?=__tr('personal.Invalid file')?></span>
								<?endif;?>
								<div class="desc" style="margin-left:0px;">"<?=__tr('personal.JPG, GIF or PNG Max size of 3MB')?>"</div>
							<?else:?>
								<div class="desc" style="margin-left:0px;margin-top:-50px;"><?=@$view['data'][$input]['user_name']?></div>
							<?endif;?>
								
						</div>
					</div>
				</div>
				
				
			<?endforeach;?>
			<div style="clear:both;"></div>
			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="col-lg-6 no-pl">
				<div class="form-group">
					<label class="form-label"><?= __tr('personal.Country') ?> </label>
					
					<div class="controls">
						<select class="form-control m-bot15" name="country" <?if(!isset($view['error']['country']) and $view['is_verification']['is_adres']==3 ):?>style="border-color:red;"<?endif;?>>
							<option value=""><?= __tr('personal.Select country') ?></option>
							<?foreach($view['list_country'] as $k=>$v):?>
								<option value="<?=$k?>" <?if($k==$view['data']['country']):?> selected="true" <?endif;?>><?php echo $v;?></option>
							<?endforeach;?>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-6 no-pr">
				<div class="form-group">
					<label class="form-label"><?= __tr('personal.City') ?></label>
					<span class="desc"></span>
					<div class="controls">						
						<input class="form-control" type="text" maxlength="60"  name="city" value="<?php echo @$view['data']['city']?>" <?if(!isset($view['error']['city']) and $view['is_verification']['is_adres']==3 ):?>style="border-color:red;"<?endif;?>/>
					</div>
				</div>
			</div>
			<div class="col-lg-6 no-pl">
				<div class="form-group">
					<label class="form-label"><?= __tr('personal.Address') ?> </label>
					<span class="desc"></span>
					<div class="controls">
						<i class=""></i>
						<input class="form-control" type="text" value="<?php echo @$view['data']['adres']?>" name="adres" <?if(!isset($view['error']['adres']) and $view['is_verification']['is_adres']==3 ):?>style="border-color:red;"<?endif;?>/>
					</div>
				</div>
			</div>
			
			<div class="clearfix"></div>
			<?if($view['is_verification']['is_adres']==0 or $view['is_verification']['is_adres']==3):?>
				
				<div class="pull-left">
					<?if($view['is_verification']['is_adres']==0):?>
						<h4><i class="fa fa-info-circle color-primary complete f-s-14"></i><small> <?=__tr('personal.Note that the Address image must be in high resolution and all info is clear')?></small></h4>
					<?endif;?>
					<?if($view['is_verification']['is_adres']==3):?>
						<h4><i class="fa fa-exclamation-triangle" style="color:red;"></i><small style="color:red;"> <?=__tr('personal.Some fields are invalid')?></small></h4>
				<?endif?>
				</div>
				
				
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-corner right15" id="save"><i class="fa fa-check"></i> <?=__tr('personal.Proof Address')?></button>	
					<div class="loader-page"></div>	
				</div>
				
			<?elseif($view['is_verification']['is_adres']==2):?>	
				<div class="pull-left">
					<h5><i class="fa fa-info-circle color-primary" style="font-size:15px;"></i> <?= __tr('personal.Your request has been sent to the moderator for review')?></h5>
				</div>
				<div class="pull-right">
					
				</div>
			<?elseif($view['is_verification']['is_adres']==1):?>
				<h5 class="bold no-mb">		
					<i class="fa fa-check-circle-o complete f-s-14"></i> Verified									
				</h5>		
			<?endif;?>
			
		</div>
	</div>
</form>