<form id="document_send_form">
	<input type="hidden" name="verification_type" value="document"/>
	<input type="hidden" name="verification_id" value="<?php echo @$view['data']['id']?>"/>
	<div class="row confirma">
		<div class="col-xs-12">
			
			<?foreach($view['info_type_key']['document']['file'] as $input):?>
				<?if($input=='selfi'):?>
					<div style="clear:both;"><h4 ><?=__tr('personal.Upload selfie with documents')?></h4></div>
				<?endif;?>
				<div class="col-xs-10 mb-20">			
					<div class="col-sm-12 avatar-img ">
						<div class="avatar-img-wrapper">
							<?$file=$content['DOMAIN']."/css/personal/images/icons/id-card.png"?>
							<?$pp='padding:20px'?>
							<?if(isset($view['data'][$input]) and $view['data'][$input]['user_name']!=''):?>
								<?$file=$view['foto_path']."/".$view['data'][$input]['file']?>
								<?$pp=''?>
								<input type="hidden" name="<?=$input?>-file" value="<?=$view['data'][$input]['user_name']?>"/>
							<?endif;?>
							<img src="<?=$file?>" style="max-width:100px;height:100%;<?=$pp?>" alt="">
						</div>
						
						<?$status_edit=true;?>
						<?
							if($view['is_verification']['is_document']==1)
								$status_edit=false;	
							if($view['is_verification']['is_document']==2)
								$status_edit=false;
								
						?>
						
						<div class="form-group">
							<?if(isset($view['key_name'][$input])):?>
								<div class="desc_name"><?=__tr('personal.'.$view['key_name'][$input])?></div>
							<?endif?>
							<div class="file_uploaders">
								<?if($status_edit):?>
									<label class="btn btn-primary file" for="<?=$input?>"><?=__tr('personal.Upload File')?>
										<input type="file" accept="image/*" name="<?=$input?>" id="<?=$input?>" class="hide document" />
									</label>
									<?if(!isset($view['error'][$input]) and $view['is_verification']['is_document']==3):?>
										<span class="error" id="<?=$input?>-error"><?=__tr('personal.Invalid file')?></span>
									<?endif;?>
									<div class="desc" style="margin-left:0px;">"<?=__tr('personal.JPG, GIF or PNG Max size of 3MB')?>"</div>
								<?else:?>
									<div class="desc" style="margin-left:0px;margin-top:35px;"><?=@$view['data'][$input]['user_name']?></div>
								<?endif;?>
							</div>	
						</div>
						
					</div>
				</div>
				<div class="col-xs-2">
					
				</div>
			<?endforeach;?>
			<div class="clearfix"></div>
			<?if($view['is_verification']['is_document']==0 or $view['is_verification']['is_document']==3):?>
				<div class="pull-left">
					<?if($view['is_verification']['is_document']==0):?>
						<h4><i class="fa fa-info-circle color-primary complete f-s-14"></i><small><?=__tr('personal.Note that ID image must be in high resolution and information must be clear')?></small></h4>
					<?endif;?>
					<?if($view['is_verification']['is_document']==3):?>
						<h4><i class="fa fa-exclamation-triangle" style="color:red;"></i><small style="color:red;"><?=__tr('personal.Some fields are invalid')?> </small></h4>
					<?endif;?>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-corner right15" id="save"><i class="fa fa-check"></i><?=__tr('personal.Update')?> </button>
					<div class="loader-page"></div>	
				</div>
			<?elseif($view['is_verification']['is_document']==2):?>	
				<div class="pull-left">
					<h5><i class="fa fa-info-circle color-primary" style="font-size:15px;"></i> <?= __tr('personal.Your request has been sent to the moderator for review')?></h5>
				</div>
				<div class="pull-right">
					
				</div>
			<?elseif($view['is_verification']['is_document']==1):?>
				<h5 class="bold no-mb">		
					<i class="fa fa-check-circle-o complete f-s-14"></i> <?=__tr('personal.Verified')?>									
				</h5>
			<?endif;?>			
		</div>
	</div>
</form>