<div class="row">
<form id="email_verified">
	<div class="col-xs-12">
		<div class="option-identity-wrapper no-mb">							
			<div class="tab-head left15">
				<h3 class="bold no-mt"><?= __tr('personal.Email Authentication') ?></h3>
				<p><?= __tr('personal.EmailAuthenticationInfo') ?></p>
				<h4 class=""><small> <?= __tr('personal.email') ?>: <?=$content['personal_user_info']['email']?></small> <a class="edit-mail"><i class="fa fa-pencil"></i> <?= __tr('personal.Edit') ?></a></h4>
				<div class="clearfix"></div>
				
				<div id="edit-mail-form" style="display:none;">
					<div class="col-sm-9 no-pl">
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.New email') ?></label>
							<span class="desc"></span>
							<div class="controls">
								<input type="text" class="form-control"  name="new_mail_adres" placeholder="email" />
							</div>
						</div>
					</div>
					<div class="col-sm-3 no-pr">											
						<button type="button" class="btn btn-primary mt-30 btn-corner" id="save-mail"><i class="fa fa-check"></i><?= __tr('personal.Save') ?> </button>
						<div class="loader-page"></div>	
					</div>
				</div>
				<div style="display:none;" id="authenticate-new">
					<div style="color:#6fc334;"><?= __tr('personal.To activate the new email address, a code was sent to it.</br> If the message does not arrive within 20 minutes, check the "Spam" tab.') ?></div>
					<div class="col-sm-9 no-pl">
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.Authentication link') ?></label>
							<span class="desc"></span>
							<div class="controls">
								<input type="text" class="form-control"  name="code_mail_new" placeholder="Email 2fa code">
							</div>
						</div>
					</div>
					<div class="col-sm-3 no-pr">											
						<button type="button" class="btn btn-primary mt-30 btn-corner"><i class="fa fa-check"></i> <?= __tr('personal.Authenticate') ?></button>
						<div class="loader-page"></div>	
					</div>
				</div>
				
				<?if($view['is_verification']['is_email']==0):?>									
					<div style="display:none;" id="authenticate">
						<div style="color:#6fc334;"><?= __tr('personal.To activate the email address, a message was sent to your email address with further instructions.</br> If the message does not arrive within 20 minutes, check the "Spam" tab.') ?></div>
						<div class="col-sm-9 no-pl">
							<div class="form-group">
								<label class="form-label"><?= __tr('personal.Authentication link') ?></label>
								<span class="desc"></span>
								<div class="controls">
									<input type="text" class="form-control"  name="code_mail" placeholder="Email 2fa code">
								</div>
							</div>
						</div>
						<div class="col-sm-3 no-pr">											
							<button type="button" class="btn btn-primary mt-30 btn-corner"><i class="fa fa-check"></i> <?= __tr('personal.Authenticate') ?></button>
						</div>
					</div>
					<div id="get-authenticate-code">						
						<div class="col-sm-9 no-pl">
							<div class="form-group">
								<label class="form-label"><?= __tr('personal.Authentication link') ?></label>
								<span class="desc"></span>
								<div>											
									<button type="button" class="btn btn-primary btn-corner" id="get-codes" ><i class="fa fa-check"></i> <?= __tr('personal.Get link') ?></button>
									<button type="button" class="btn btn-primary btn-corner" id="show-input" ><i class="fa fa-check"></i> <?= __tr('personal.I have a link') ?></button>
									<div class="loader-page"></div>	
								</div>
							</div>
						</div>										
					</div>									
				<?else:?>
					<div class="clearfix"></div>
					<h5 class="bold no-mb">		
						<i class="fa fa-check-circle-o complete f-s-14"></i> <?= __tr('personal.Verified') ?>									
					</h5>
				<?endif;?>
				
			</div>
		</div>
	</div>
	</form>	
</div>