<form id="personal_send_form">
	<input type="hidden" name="verification_type" value="personal_info"/>
	<input type="hidden" name="verification_id" value="<?php echo @$view['data']['id']?>"/>
	<div class="row">
		<div class="col-xs-12">
			
			<div class="col-lg-6 no-pl">
				<div class="form-group">
					<label class="form-label"><?= __tr('personal.Name') ?> </label>					
					<div class="controls">
						<input class="form-control" type="text" value="<?php echo @$view['data']['name']?>" name="name" <?if(!isset($view['error']['name']) and $view['is_verification']['is_personal_info']==3 ):?>style="border-color:red;"<?endif;?>/>
					</div>
				</div>
			</div>
			<div class="col-lg-6 no-pl">
				<div class="form-group">
					<label class="form-label"><?= __tr('personal.Birthday') ?> </label>					
					<div class="controls">
						<input class="form-control" type="date" maxlength="10" name="birthdate" value="<?php echo @$view['data']['birthdate']?>"  <?if(!isset($view['error']['birthdate']) and $view['is_verification']['is_personal_info']==3 ):?>style="border-color:red;"<?endif;?>   />
					</div>
				</div>
			</div>
			
			<?if($view['is_verification']['is_personal_info']==0 or $view['is_verification']['is_personal_info']==3):?>
				<div class="pull-left">
<!--					--><?//if($view['is_verification']['is_personal_info']==0):?>
<!--						<h4><i class="fa fa-info-circle color-primary complete f-s-14"></i><small>--><?//= __tr('personal.Note that the ID image must be in high resolution and all info is clear') ?><!--</small></h4>-->
<!--					--><?//endif?>
					<?if($view['is_verification']['is_personal_info']==3):?>
						<h4 ><i class="fa fa-exclamation-triangle" style="color:red;"></i><small style="color:red;"> <?= __tr('personal.Some fields are invalid') ?></small></h4>
					<?endif?>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-primary btn-corner right15" id="save"><i class="fa fa-check"></i><?= __tr('personal.Update') ?> </button>
					<div class="loader-page"></div>	
				</div>
			<?elseif($view['is_verification']['is_personal_info']==2):?>	
				<div class="pull-left">
					<h5><i class="fa fa-info-circle color-primary" style="font-size:15px;"></i> <?= __tr('personal.Your request has been sent to the moderator for review')?></h5>
				</div>
				<div class="pull-right">
					
				</div>
			<?elseif($view['is_verification']['is_personal_info']==1):?>
				<h5 class="bold no-mb">		
					<i class="fa fa-check-circle-o complete f-s-14"></i> <?= __tr('personal.Verified') ?> 									
				</h5>			
			<?endif;?>
			
		</div>
	</div>
</form>