<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="text-center">				
				<table class="table table-striped">
					<tr>
						<th style="text-align:center;">id user</th>
						<th style="text-align:center;">Date</th>
					</tr>	
					<?if(count($view)>0):?>
						<?foreach($view as $v):?>
							<tr>
								<td><?=$v['id_user']?></td>
								<td><?=date('d-m-Y G:i',$v['date'])?></td>
							</tr>
						<?endforeach;?>
					<?else:?>
						<tr>
							<td colspan="2">No data</td>
						</tr>
					<?endif;?>	
				</table>					
			</div>
		</div>	
	</div>
</div>