<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="text-center">
				<div>Email: <?=$view['email']?></div>
				<table class="table table-striped">
					<tr>
						<th style="text-align:center;">wallet</th>
						<th style="text-align:center;">Balance</th>
					</tr>	
					<?if(count($view['wallets'])>0):?>
						<?foreach($view['wallets'] as $v):?>
							<tr>
								<td><?=$v['wallet']?></td>
								<td><?=$v['balance']?></td>
							</tr>
						<?endforeach;?>
					<?else:?>
						<tr>
							<td colspan="2">No wallets</td>
						</tr>
					<?endif;?>	
				</table>					
			</div>
		</div>	
	</div>
</div>