<section class="box has-border-left-3">
	<header class="panel_header">
		<h2 class="title pull-left"><?= __tr('personal.Buy').' '.CURENCY  ?></h2>			
	</header>
	<div class="content-body">    
		<div class="row">
			<div class="col-xs-12">
				<div class="transfer-wraper">
					<form id="buy_fox">
						<input type="hidden" name="rate" value="0" />
						<input type="hidden" name="wallet" value="<?=$view['info']['wallet']?>" />
						<input type="hidden" name="t_type" value="" />
						<div class="form-group no-mb">
							<label class="form-label"><?= __tr('personal.Choose payment method') ?></label>
							<div class="input-group mb-10">
								<span class="input-group-addon" data-row="buy_icon" ><i class="fa fa-institution"></i></span>
								
								<div class="input-group-btn"  style="width:100%">									
									<button type="button" class="btn btn-red dropdown-toggle" style="width:100%;text-align:left" data-toggle="dropdown" aria-expanded="true" id="method_buy_value"> 
										<span  data-row="buy_selected"></span> <span class="caret" style="position: absolute;right: 10px;top: 14px;"></span>
									</button>								
									<ul class="dropdown-menu dropdown-red no-spacing" style="width:100%" id="method_buy_list">										
										<?foreach($view['type_buy'] as $method):?>
											<?if($method['active']):?>
												<li><a data-type="<?=$method['currency_form']?>" href="javascript:void(0);"><?=$method['name']?></a></li>
											<?endif?>
										<?endforeach?>									
									</ul>
								</div>
								<span class="error" id="type"></span>
							</div>
							<label class="form-label" style="margin-top:10px;" data-row="amount_label"><?= __tr('personal.Amount') ?></label>
							<span class="desc"><?= __tr('personal.minimum value') ?> "<span data-row="buy_minvalue"></span>"</span>
							<div class="input-group mb-10">							
								<span class="input-group-addon has-gradient-to-right-bottom" data-row="buy_icon_input"><i class="fa fa-money"></i></span>
								<input class="form-control" data-row="input_placeholder" placeholder="enter amount" type="text" name="value"/>
								<span class="error" id="value"></span>
							</div>
							
							<div class="input-group total">
								<?= __tr('personal.Total amount in FOX')?>: <span data-row="total_amount_value"></span>
							</div>
							
							<div>	
								<button type="button" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" disabled="true" id="buy" style="width:100%"><?= __tr('personal.Go to payment') ?></button>	
							</div>	
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</section>