<div class="row">
	<div class="col-xs-12">
		<div class="row result" style="display:block;">
			<div class="col-xs-12" >				
				<div class="text text-center" style="word-wrap: break-word;word-break: break-all;font-size:15px;">
                   <strong><?= __tr('personal.BTC adsress')?></strong>: <span id="btc_address"><?=$view['wallet_to']?></span>
				</div>
				<div class="text text-center" style="word-wrap: break-word;word-break: break-all;font-size:15px;">
                    <strong><?= __tr('personal.Amount BTC')?></strong>: <span id="btc_amount"><?=$view['sum']?></span>
				</div>
				
				<div class="img_result" id="qr_mode">
					<img src="<?=$view['qr_mode']?>"/>
				</div>			
				<div class="text text-center" id="text_buy">
                    <?=$view['text']?>
				</div>					
			</div>
		</div>
	</div>
</div>	