<section class="box has-border-left-3">
	<header class="panel_header">
		<h2 class="title pull-left"><?= __tr('personal.Buy') ?></h2>			
	</header>
	<div class="content-body">    
		<div class="row">
			<div class="col-xs-12">
				<div class="transfer-wraper">
					<form id="r_fox">
						
						<input type="hidden" name="wallet" value="<?=$view['info']['wallet']?>" />
						
						<div class="form-group no-mb">
							<label class="form-label"><?= __tr('personal.Amount') ?></label>
							<span class="desc"><?= __tr('personal.minimum value') ?> "0.001 <?=CURENCY?>"</span>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom"><i class="cc fox-alt icon-white"></i></span>
								<input class="form-control"  placeholder="enter amount" type="text" name="value"/>
								<span class="error" id="value"></span>
							</div>
							
						</div>
							
					
					</form>					
				</div>
				<div class="row result">
					<div class="col-xs-12" ><div ><?= __tr('personal.QR-code data') ?>:<br/> <span id="transaction" style="font-size:13px;"></span></div></div>
					<div class="col-xs-12" style="margin-top:20px;" id="qr_mode"></div>			
				</div>
				
			</div>
		</div>
	</div>
</section>