<div class="row">
	<div class="col-xs-12">
		<div class="row result_confirmation">
			<div class="col-xs-12" >				
				<div class="text-center">
					<i class="fa fa-send icon-xlg icon-bordered icon-primary" style="color:#5B6AD7;"></i>
				</div>
				<div class="text text-center" style="margin-top:20px;">
                    <?= __tr('personal.To complete the transfer, a message has been sent to your email with further instructions.');?>
				</div>
					
				<div class="text-center">
					
				</div>	
			</div>
		</div>
		
		<div class="row result_confirmation_error">
			<div class="col-xs-12" >				
				<div class="text-center">
					<i class="fa fa-warning icon-xlg icon-bordered icon-danger"></i>
				</div>
				<div class="header_result text-center" style="margin-top:20px;">
                    Error!
				</div>
				<div class="text text-center" style="margin-top:20px;">
                    
				</div>
					<?/*Transaction ID: <span id="txhash" style="font-size:13px;"></span>*/?>
				<div class="text-center">
					<div class="loader-page" style="header:40px;"></div>
				</div>
				
			</div>
		</div>
		
		<div class="row result">
			<div class="col-xs-12" >				
				
				<div class="img_result">
					<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/congrat_form.png" />
				</div>		
				
				<div class="header_result text-center"><?= __tr('personal.Congratulations') ?>!</div>
				<div class="text text-center">
                    <?= __tr('personal.Your money was successfully sent') ?>
				</div>
					<?/*Transaction ID: <span id="txhash" style="font-size:13px;"></span>*/?>
				<div class="text-center">
					<button type="button" class="btn btn-info has-gradient-to-right-bottom btn-form" data-dismiss="modal"><?= __tr('personal.Close') ?></button>
				</div>
				
			</div>
		</div>
		<?if(isset($view['transaction'])):?>
			<div class="loader-page" id="transaction_result" style="height:100px;display:block;"></div>
		<?endif;?>
	</div>
</div>	