<section class="box has-border-left-3">
	<header class="panel_header">
		<h2 class="title pull-left"><?= __tr('personal.Send').' '.CURENCY?></h2>			
	</header>
	<div class="content-body">    
		<div class="row">
			<div class="col-xs-12">
				<div class="transfer-wraper">
					<form id="send_fox">					
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.wallet address') ?></label>							
							<div class="input-group mb-10">
								<span class="input-group-addon "><img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/wallet-o.png"></span>
								<input class="form-control"  placeholder="OxsD12F32xvW3deG5..." type="text" name="wallet2"/>								
								<span class="error" id="wallet2"></span>
							</div>							
						</div>						
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.Amount') ?></label>
							<span class="desc"><?= __tr('personal.minimum value') ?> "0.0001 <?=CURENCY?>"</span>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom"><i class="cc fox-alt icon-white"></i></span>
								<input class="form-control"  placeholder="enter amount" type="text" name="value"/>
								<span class="error" id="value"></span>
							</div>							
						</div>						
						<div class="text-center marengor"><div><?= __tr('personal.OR') ?></div></div>
						<div class="form-group text-center">							
							<a style="text-decoration:underline;" href="javascript:void(0);" id="addres">Paste QR-code data</a>							
						</div>						
						<div class="form-group" id="adres_ins">
							<div class="input-group mb-10">
								<span class="input-group-addon"></span>
								<input class="form-control"  placeholder="OxsD12F32xvW3deG5..." type="text" name="adress"/>	
								<span class="error" id="adress"></span>	
							</div>							
						</div>						
						<div class="form-group">	
							
							<div class="input-group mb-10">								
								<input type="hidden" name="wallet" value="<?=$view['info']['wallet']?>" />
								<span class="error" id="wallet"></span>
							</div>
							
						</div>
						
						<div>	
							<button type="button" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" id="send" <?if($content['personal_user_info']['is_admin']==0):?>disabled="true"<?endif;?> style="width:100%"><?= __tr('personal.Send') ?></button>	
						</div>
					</form>					
				</div>
			</div>
		</div>
	</div>
</section>