<section class="box nobox marginBottom0 menuWallets">
	<div class="content-body">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="r4_counter db_box has-gradient-to-right-bottom menu_element<?if($view['type']=='buy'):?> active<?endif;?>" data-action="buy" data-link="href" data-href="/personal/wallets/<?=$view['info']['wallet']?>">
					<?/*<div class="icon-after">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/buy-icon-sw.png" alt="">
					</div>*/?>
					<i class='pull-left ico-icon icon-md icon-primary' style="margin-left:-15px;">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/buy-wallet.png" class="ico-icon-o" alt="">							
					</i>
					<div class="stats" style="padding: 0 20px;">
						<h3 class="mb-5"><?= __tr('personal.Buy') ?></h3>							
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="r4_counter db_box has-gradient-to-right-bottom menu_element<?if($view['type']=='send'):?> active<?endif;?>" data-action="send" data-link="href" data-href="/personal/wallets/<?=$view['info']['wallet']?>?act=send">
					<?/*<div class="icon-after">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/sell-icon-sw.png" alt="">
					</div>*/?>
					<i class='pull-left ico-icon icon-md icon-primary' style="margin-left:-15px;">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/send-wallet.png" class="ico-icon-o" alt="">							
					</i>
					<div class="stats" style="padding: 0 20px;">
						<h3 class="mb-5"><?= __tr('personal.Send') ?></h3>						
					</div>
				</div>
			</div>	
			
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="r4_counter db_box has-gradient-to-right-bottom menu_element<?if($view['type']=='recieve'):?> active<?endif;?>" data-action="recieve" data-link="href" data-href="/personal/wallets/<?=$view['info']['wallet']?>?act=recieve">
					<?/*<div class="icon-after">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/exchange-icon-sw.png" alt="">
					</div>*/?>
					<i class='pull-left ico-icon icon-md icon-primary' style="margin-left:-15px;">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/receive-wallet.png" class="ico-icon-o" alt="">
						
					</i>
					<div class="stats" style="padding: 0 20px;">
						<h3 class="mb-5"><?= __tr('personal.Recieve') ?></h3>
						
					</div>
				</div>
			</div>
			<?/*
			<div class="col-lg-3 col-sm-6 col-xs-12">
				<div class="r4_counter db_box has-gradient-to-right-bottom disabled">
					<div class="icon-after">
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/exchange-icon-lg.png" alt="">
					</div>
					<i class='pull-left ico-icon icon-md icon-primary mt-20'>
						<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/exchange-icon-sw.png" class="ico-icon-o" alt="">							
					</i>
					<div class="stats" style="padding: 0 20px;border-left: 1px solid #eeebeb;">
						<h3 class="mb-5"><?= __tr('personal.Sell') ?></h3>							
					</div>
				</div>
			</div>
*/?>			
		</div>
		<!-- End .row -->
	</div>
</section>