<?$name_walet=$view['info']["alias"]=="" ? CURENCY.' '.__tr('personal.wallet') : $view['info']["alias"];?>
<section class="box has-border-left-3" style="overflow: inherit;">
	<header class="panel_header">
		<h2 class="title pull-left"><?=$name_walet?></h2>			
	</header>
	<div class="content-body">
	
		<?if(count($view['wallets'])>1):?>
			<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:20px;">
				<div class="form-group">
					<label class="form-label"><?= __tr('personal.List of my wallets') ?></label>
					<div class="input-group mb-10">
						<span class="input-group-addon has-gradient-to-right-bottom"><i class='cc fox-alt icon-white'></i></span>
						
						<div class="input-group-btn"  style="width:100%">									
							<button type="button" class="btn btn-red dropdown-toggle" style="width:100%;text-align:left" data-toggle="dropdown" aria-expanded="true" > 
								<?php echo $view['info']['alias']?> (<?php echo substr($view['info']['wallet'],0,20)?>...) <span class="caret" style="position: absolute;right: 10px;top: 14px;"></span>
							</button>								
							<ul class="dropdown-menu dropdown-red no-spacing" style="width:100%" id="my_wallets_list">								
								<?foreach($view['wallets'] as $n):?>
									<li><a  href="<?=LINK_LANG?>/personal/wallets/<?=$n['wallet']?>"><?=$n['alias']?> (<?=substr($n['wallet'],0,20)?>...)</a></li>
								<?endforeach?>									
							</ul>
						</div>
						<span class="error" id="type"></span>
					</div>
				</div>
			</div>
		<?endif;?>
	
		<div class="row">
			<div class="col-xs-12 mt-20 mb-30">
				<h2 class="mb text-center bold"> <span id="wallet_balance_<?php echo $view['info']['wallet']?>"><?=$view['info']["balance"].'</span> '.CURENCY?></h2>		
			</div>
			<div class="clearfix"></div>	
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="<?php echo $content['DOMAIN']?>/qr_code/<?php echo $view['info']['qr_code']?>" id="img_q"/>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9">
				<div class="transfer-wraper">
					<div class="form-group no-mb">
						<label class="form-label"><?=CURENCY?> <?=__tr('personal.Wallet addresses')?></label>
						<div class="input-group mb-10">
							<span class="input-group-addon has-gradient-to-right-bottom">
									<i class='cc fox-alt icon-white'></i>   
								</span>
							<p class="form-control-static with-border" id="wallet-index"><?php echo $view['info']['wallet']?></p>
							<a href="javascript:void(0);" id="copy-to-buffer" class="input-group-addon" data-clipboard-action="copy" data-clipboard-target="p#wallet-index" ><i class="fa fa-copy text-dark"></i></a>
						</div>
					</div>		
				</div>
			</div>
			
		</div>
	</div>
</section>	