<? include $view['PATH_TPL'].'header.html'?>
<tr>
	<td style="color:#08142f;font-size:14px;line-height:22px;">
		To confirm the email address, copy the code.
		<br /><br />
		<strong>
			Code:<br/>
		</strong>
		<div style="background:#2EC3F3;color:#fff;text-decoration:none;padding:5px;font-size:17px;font-weight: 600;" ><?=$view['code']?></div>
	</td>
</tr>
	

<? include $view['PATH_TPL'].'footer.html'?>