<? include $view['PATH_TPL'].'header.html'?>
<tr>
	<td style="color:#08142f;font-size:14px;line-height:22px;">
		 To activate your account, click the "Activate account" button.
		<br /><br />
		<a style="background:#2EC3F3;color:#fff;text-decoration:none;padding:5px;font-weight: 600;" href="<?php echo $view['DOMEN_NAME'].$view['link'];?>">Activate account</a>
	</td>
</tr>
	

<? include $view['PATH_TPL'].'footer.html'?>