<? include $view['PATH_TPL'].'header.html'?>
<tr>
	<td style="color:#08142f;font-size:14px;line-height:22px;">
		Received new applications from users for verification.
		<br /><br />
		Number of applications: <?=$view['count_request']?>
		<br/>
		<a href="<?=$view['link']?>" style="background:#2EC3F3;color:#fff;text-decoration:none;padding:5px;font-size:17px;font-weight: 600;" >Show</a>
	</td>
</tr>
<? include $view['PATH_TPL'].'footer.html'?>