<? include $view['PATH_TPL'].'header.html'?>
<tr>
	<td style="color:#08142f;font-size:14px;line-height:22px;">
		Transaction ID:<?php echo $view['transaction']?><br/>
		Amount UXC:<?php echo $view['amount_ufx']?> UXC<br/>
		Price :<?php echo $view['sum']?> <?php echo $view['type']?><br/>			
		<br /><br />
		
		<a href="<?php echo $view['qr_mode']?>">Link to qr-code</a>
	</td>
</tr>
	

<? include $view['PATH_TPL'].'footer.html'?>
									
									
