									<tr>
										<td style="color:#08142f;font-size:14px;line-height:22px;padding:30px 0px;">
											Thank you,<br />
											ico.unifox.io
										</td>
									</tr>
									<tr>
                                        <td style="padding:10px 0px; ">                                           
                                            &copy; <?=date('Y')?> ico.unifox.io.
                                        </td>
                                    </tr>

									
								</table>						

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
