<? include $view['PATH_TPL'].'header.html'?>
<tr>
	<td style="color:#08142f;font-size:14px;line-height:22px;">
		 A request to reset your ico.unifox.io password has been made. If you did not make this request, simply ignore this email, otherwise just click the button below:
		<br /><br />
		<a href="<?php echo $view['DOMEN_NAME'].$view['link'];?>">Recovery access</a>
	</td>
</tr>
	

<? include $view['PATH_TPL'].'footer.html'?>
									
									
