<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title">Affilate program <?if(isset($view['header_info'])):?><small><?=$view['header_info']?></small><?endif;?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<div class="col-lg-12">
	<section class="box nobox ">
		<div class="content-body">
			<div class="row">
				<div class="col-md-12 col-sm-8 col-xs-12">
					<div class="mail_content adm">
						<div class="row">
							<div class="col-xs-12">	
								<?if($view['template']=='list'):?>
									<span class='pull-right mail_count_nav text-muted'><strong><?=$view['obj']['active_page'];?></strong> to <strong><?=$view['obj']['limit_row'];?></strong> of <?=$view['obj']['all_counts'];?></span>
								<?endif;?>
								
							</div>

							<div class="col-xs-12">
								<?php include 'affilate/'.$view['template'].'.html';?>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
</div>





<div class="clearfix"></div>