<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title">User profile request <?if(isset($view['header_info'])):?>:: <small><?=$view['header_info']?></small><?endif;?></h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<div class="col-lg-12">
	<section class="box nobox ">
		<div class="content-body">
			<div class="row">

				<div class="col-md-2 col-sm-4 col-xs-12">

					<ul class="list-unstyled mail_tabs">
						<li>
							<a href="/admin">
								<i class="fa fa-inbox"></i> All <?if($view['filter']['count']['all']>0):?><span class=" pull-right"><?=$view['filter']['count']['all']?></span><?endif?>
							</a>
						</li>
						<li class="">
							<a href="/admin?new=1">
								<i class="fa fa-send-o"></i> New <?if($view['filter']['count']['new']>0):?><span class="badge badge-primary pull-right"><?=$view['filter']['count']['new']?></span><?endif?>
							</a>
						</li>
						
					</ul>

				</div>

				<div class="col-md-10 col-sm-8 col-xs-12">
					<div class="mail_content">
						<div class="row">
							<div class="col-xs-12">	
								<?if($view['template']=='list'):?>
									<span class='pull-right mail_count_nav text-muted'><strong><?=$view['obj']['active_page'];?></strong> to <strong><?=$view['obj']['limit_row'];?></strong> of <?=$view['obj']['all_counts'];?></span>
								<?endif;?>
								
							</div>

							<div class="col-xs-12">
								<?php include 'profile/'.$view['template'].'.html';?>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
</div>





<div class="clearfix"></div>