 <div class="page-sidebar-wrapper" id="main-menu-wrapper">


	<ul class='wraplist'>		
		<?if($content['personal_user_info']['is_admin']==1):?>
			<li class='menusection'>Request</li>
			<li <?if($content['url_active']=='/admin'):?>class="open"<?endif;?>>
				<a href="/admin">
					<i class="fa fa-lock"></i>
					<span class="title">Account Confirmation request</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/airdrop'):?>class="open"<?endif;?>>
				<a href="/admin/airdrop/">
					<i class="fa fa-cubes"></i>
					<span class="title">Airdrop request</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/bounty'):?>class="open"<?endif;?>>
				<a href="/admin/bounty">
					<i class="fa fa-cubes"></i>
					<span class="title">User Bounty</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/affiliate'):?>class="open"<?endif;?>>
				<a href="/admin/affiliate/">
					<i class="fa fa-cubes"></i>
					<span class="title">Affiliate program</span>
				</a>
			</li>
			<li class='menusection'>Admin</li>	
			<li <?if($content['url_active']=='/admin/users'):?>class="open"<?endif;?>>
				<a href="/admin/users">
					<i class="fa fa-users"></i>
					<span class="title">Users</span>
				</a>
			</li>
			<li class='menusection'>Sell&Buy FOX </li>	
			<li <?if($content['url_active']=='/admin/requestbuy'):?>class="open"<?endif;?>>
				<a href="/admin/requestbuy">
					<i class="fa fa-users"></i>
					<span class="title">Request Buy FOX</span>
				</a>
			</li>	
		<?endif;?>
		<?if($content['personal_user_info']['is_admin']==2):?>
			<li class='menusection'>Request</li>			
			<li <?if($content['url_active']=='/admin/airdrop'):?>class="open"<?endif;?>>
				<a href="/admin/airdrop/">
					<i class="fa fa-cubes"></i>
					<span class="title">Airdrop request</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/bounty'):?>class="open"<?endif;?>>
				<a href="/admin/bounty">
					<i class="fa fa-cubes"></i>
					<span class="title">User Bounty</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/affiliate'):?>class="open"<?endif;?>>
				<a href="/admin/affiliate/">
					<i class="fa fa-cubes"></i>
					<span class="title">Affiliate program</span>
				</a>
			</li>
		<?endif;?>
		<?if($content['personal_user_info']['is_admin']==3):?>
			<li class='menusection'>Request</li>			
			<li <?if($content['url_active']=='/admin'):?>class="open"<?endif;?>>
				<a href="/admin">
					<i class="fa fa-lock"></i>
					<span class="title">Account Confirmation request</span>
				</a>
			</li>
		<?endif;?>	
		<?if($content['personal_user_info']['is_admin']==4):?>
			<li class='menusection'>Request</li>
			<li <?if($content['url_active']=='/admin'):?>class="open"<?endif;?>>
				<a href="/admin">
					<i class="fa fa-lock"></i>
					<span class="title">Account Confirmation request</span>
				</a>
			</li>	
			<li <?if($content['url_active']=='/admin/airdrop'):?>class="open"<?endif;?>>
				<a href="/admin/airdrop/">
					<i class="fa fa-cubes"></i>
					<span class="title">Airdrop request</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/bounty'):?>class="open"<?endif;?>>
				<a href="/admin/bounty">
					<i class="fa fa-cubes"></i>
					<span class="title">User Bounty</span>
				</a>
			</li>
			<li <?if($content['url_active']=='/admin/affiliate'):?>class="open"<?endif;?>>
				<a href="/admin/affiliate/">
					<i class="fa fa-cubes"></i>
					<span class="title">Affiliate program</span>
				</a>
			</li>
		<?endif;?>
			
	</ul>

</div>