<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title">Request Buy FOX</h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<div class="col-lg-12">
	<section class="box nobox ">
		<div class="content-body">
			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="mail_content">
						<div class="row">
							<div class="col-xs-12">
								<table class="table table-striped table-hover request">
									<thead>
										<tr>
											<th style="width:5%;">
												Id
											</th>
											<th style="width:5%;">
												Id user
											</th>
											<th style="width:5%;">
												Type
											</th>
											<th style="width:10%;">
												Wallet/Invoice
											</th>
											<th style="width:10%;">
												Wallet FOX
											</th>
											<th style="width:10%;">
												Amount FOX
											</th>
											<th style="width:10%;">
												Amount currency
											</th>
											<th style="width:7%;">
												Date create
											</th>
											<th style="width:7%;">
												Date payment
											</th>
											<th style="width:10%;">
												Status
											</th>											
											<th style="width:5%;">
												Action
											</th>						
											
										</tr>
									</thead>
									<?/*
									 ["id"]=> string(1) "8" ["wallet_fox"]=> string(18) "qweqweqweqweqweqwe" ["generate_wallet"]=> string(33) "1kmHv8NbqjK5gDrpP24DaXKwuhg7cug4X" ["currency"]=> string(3) "BTC" ["amount"]=> string(10) "0.00010000" ["amount_fox"]=> string(10) "5.00000000" ["rate"]=> string(12) "100.00000000" ["time_add"]=> string(10) "1530025871" ["time_payment_receive"]=> string(0) "" ["time_fox_send"]=> string(0) "" ["status"]=> string(1) "1" }
									*/?>
									
									
								<?if($view['request']['all_counts']>0):?>
									<?foreach($view['request']['list'] as $data):?>
										<?$date_add=$data['time_add']=="" ? "-" : date('Y-m-d G:i',$data['time_add']);?>
										<?$date_payment=$data['time_payment_receive']=="" ? "-" : date('Y-m-d G:i',$data['time_payment_receive']);?>
										<?$date_send_fox=$data['time_fox_send']=="" ? "-" : date('Y-m-d G:i',$data['time_fox_send']);?>
										<?
											$id_user=getWalletUser($view['DB'],$data['wallet_fox']);
											//$data['status']=2;
										?>
										<tr data-id="<?=$data['id']?>" style="font-size:13px;">	   
											<td ><?=$data['id']?></td>	
											<td ><?if(!$id_user):?>-<?else:?><a target="_blank" href="/admin/?ID_USER=<?=$id_user?>"><?=$id_user?></a><?endif;?>
											
											</td>	
											<td ><?=$data['currency']?></td>		
											<td ><?=$data['generate_wallet']?></td>		
											<td ><?=$data['wallet_fox']?></td>		
											<td ><?=$data['amount_fox']?></td>		
											<td ><?=$data['amount'].' '.$data['currency']?></td>		
											<td ><?=$date_add?></td>		
											<td ><?=$date_payment?></td>		
											<td ><?=$view['status'][$data['status']]?></td>			
											<td >
												<?if($data['status']==2):?>
													<form id="sender_fox" onsubmit="return false;">
														<?foreach($data as $k=>$v):?>
															<input type="hidden" name="<?=$k?>" value="<?=$v?>" />
														<?endforeach;?>
														<button class="btn btn-primary" id="sender">Send FOX</button>
													</form>
												<?endif;?>	
											</td>			
											
										</tr>
									<?endforeach?>
									<?if($view['request']['count_page']>1):?>
										<tr >
											<td  colspan=11>
												<ul class="pagination pagination-sm pull-right">	
													<?for($i=1;$i<($view['request']['count_page']+1);$i++):?>
														<?$act='';$link_pag='&page='.$i;
															if($view['request']['active_page']==$i)
																$act='class="active"';			
															if($i==1)
																$link_pag='';
														 ?>
														
														<li <?php echo $act;?>><a href="/admin/requestbuy/<?php echo $view['link_get'].$link_pag?>"><?=$i?></a></li>
													<?endfor;?>
												 </ul>
											</td>			
										</tr>
									<?endif?>									
								<?else:?>
									<tr >
										<td class="open-view" colspan=10>
											No request
										</td>			
									</tr>	
								<?endif;?>	
							</table>	
								
								
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>
</div>
<div class="clearfix"></div>

<div class="modal fade col-xs-12" id="wallets-send" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

				<div class="loader-modal" ></div>

			</div>
			
		</div>
	</div>
</div>