

<? foreach($view['persons'] AS $person): ?>
    <form method="POST" >
        <input type="hidden" name="id" value="<?=$person['id']?>" >

        <table>
            <tr>
                <th>Имя</th>
                <td>
                    <input class="form-control" type="text" name="name" value="<?=$person['name'];?>"  >
                </td>
            </tr>

            <tr>
                <th>department</th>
                <td>
                    <input class="form-control" type="text" readonly name="department" value="<?=$person['department'];?>"  >
                </td>
            </tr>

            <tr>
                <th>photo</th>
                <td>
                    <input class="form-control" type="text" name="photo" value="<?=$person['photo'];?>"  >
                </td>
            </tr>

            <tr>
                <th>linkedin</th>
                <td>
                    <input class="form-control" type="text" name="linkedin" value="<?=$person['linkedin'];?>"  >
                </td>
            </tr>

        </table>
        <br>
        <br>
        <br>
        <table class="lang" style="width: 100%" >
            <tr>
                <th>EN</th>
                <th>CZ</th>
                <th>RU</th>
            </tr>

            <tr>
                <td>
                    <input type="text" name="job_en" value="<?=$person['en']['job'];?>" >
                </td>
                <td>
                    <input type="text" name="job_cz" value="<?=$person['cz']['job'];?>" >
                </td>
                <td>
                    <input type="text" name="job_ru" value="<?=$person['ru']['job'];?>" >
                </td>
            </tr>


            <tr>
                <td>
                    <input type="text" name="comment_en" value="<?=$person['en']['comment'];?>" >
                </td>
                <td>
                    <input type="text" name="comment_cz" value="<?=$person['cz']['comment'];?>" >
                </td>
                <td>
                    <input type="text" name="comment_ru" value="<?=$person['ru']['comment'];?>" >
                </td>
            </tr>

        </table>

        <br>
        <br>

        <input type="submit" value="Сохранить" >


    </form>
<hr>
    <br>
    <br>
    <br>
    <br>

<? endforeach; ?>


<style>
    table {
        width: 75%;
        border-collapse: collapse;
    }

    table td, table th {
        /*border: 1px solid black;*/
        padding: 10px;
    }

    input {
        margin-bottom: 15px;
    }

    .lang {
        width: 100%;

    }

    .lang input {
        width: 100%;
    }


</style>
