<div class='col-xs-12'>
	<div class="page-title">

		<div class="pull-left">
			<!-- PAGE HEADING TAG - START -->
			<h1 class="title">Users list</h1>
			<!-- PAGE HEADING TAG - END -->
		</div>

	</div>
</div>
<div class="col-lg-6" >
	<section class="box">
		<header class="panel_header">
			<h2 class="title pull-left">Search users</h2>
		</header>
		<div class="content-body">
			
			<div class="row">
				<form method="get" action="/admin/users">
					<div class="col-lg-6">
						<div class="form-group">
							<label class="form-label">Row:</label>							
							<div class="controls">
								<select name="type" class="form-control">
									<?foreach($view['searcher_type'] as $v):?>
										<option value="<?=$v?>" <?if($view['searcher'] and $view['searcher']['type']==$v):?> selected="selected"<?endif;?>><?=$v?></option>
									<?endforeach?>
								</select>	
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label class="form-label">Search word:</label>							
							<div class="controls">
								<input class="form-control" type="text" value="<?if($view['searcher']):?><?=$view['searcher']['search']?><?endif;?>" name="search" />							
							</div>
						</div>
					</div>
					<div class="pull-left">
						<?if($view['searcher']):?>
							<a href="/admin/users" style="margin-left:20px;" class="btn btn-primary btn-corner right15"><i class="fa fa-times"></i>Cancel</a>
						<?endif;?>						
					</div>							
					<div class="pull-right" >						
						<button type="submit" class="btn btn-primary btn-corner right15"><i class="fa fa-check"></i>Search</button>								
					</div>
				</form>
			</div>
		</div>
	</section>
</div>

<div class="col-lg-12">
	<section class="box nobox ">
		<div class="content-body">
			<div class="row">

				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="mail_content">
						<div class="row">
							<div class="col-xs-12">	
								<?if($view['template']=='list'):?>
									<span class='pull-right mail_count_nav text-muted'><strong><?=$view['obj']['active_page'];?></strong> to <strong><?=$view['obj']['limit_row'];?></strong> of <?=$view['obj']['all_counts'];?></span>
								<?endif;?>
								
							</div>

							<div class="col-xs-12">
								<table class="table table-striped table-hover list">
									<thead>
										<tr>
											<th style="width:10%;">
												Id
											</th>
											<th style="width:15%;">
												Email
											</th>
											<th style="width:20%;">
												Name
											</th>
											<th style="width:20%;">
												Active
											</th>
											<th style="width:20%;">
												Date registry
											</th>
											<th style="width:10%;">
												Prifile status
											</th>
											<th style="width:5%;">
												Inputs
											</th>
											<th style="width:5%;">
												Wallets
											</th>											
											
										</tr>
									</thead>
								<?if($view['obj']['all_counts']>0):?>
									<?foreach($view['obj']['list'] as $data):?>
										<tr data-id="<?=$data['id']?>">											
											<td ><?=$data['id']?></td>		
											<td ><?=$data['email']?></td>		
											<td ><?=$data['name']?></td>		
											<td ><?if($data['activate']):?>yes<?else:?>no<?endif;?></td>		
											<td ><?=$data['created_at']?></td>			
											<td ><?if($data['is_verification']):?><span style="color:green;">verificated</span><?else:?><span style="color:red;">not verificated</span><?endif;?></td>
											<td><a class="show" href="javascript:void(0);">show</a></td>		
											<td><a class="wallets" href="javascript:void(0);">show</a></td>		
											
										</tr>
									<?endforeach?>
									<?if($view['obj']['count_page']>1):?>
										<tr >
											<td  colspan=8>
												<ul class="pagination pagination-sm pull-right">	
													<?for($i=1;$i<($view['obj']['count_page']+1);$i++):?>
														<?$act='';$link_pag='&page='.$i;
															if($view['obj']['active_page']==$i)
																$act='class="active"';			
															if($i==1)
																$link_pag='';
														 ?>
														
														<li <?php echo $act;?>><a href="/admin/users/<?php echo $view['link_get'].$link_pag?>"><?=$i?></a></li>
													<?endfor;?>
												 </ul>
											</td>			
										</tr>
									<?endif?>									
								<?else:?>
									<tr >
										<td class="open-view" colspan=8>
											No users
										</td>			
									</tr>	
								<?endif;?>	
							</table>	
								
								
							</div>
						</div>
						<div class="row" style="margin-top:20px;">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<a class="btn btn-primary btn-corner right15" href="/admin/users?action=create_list" target="_blank">Download active users</a>
							</div>
						</div>
					</div>
				</div>

			</div>
			
		</div>
	</section>
</div>
<div class="clearfix"></div>



<div class="modal fade col-xs-12" id="user-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

				<div class="loader-modal" ></div>

			</div>
			
		</div>
	</div>
</div>