<div class="row result_confirmation_error" style="display:block;">
	<div class="col-xs-12" >				
		<div class="text-center">
			<i class="fa fa-warning icon-xlg icon-bordered icon-danger"></i>
		</div>
		<div class="header_result text-center" style="margin-top:20px;">
			Error!
		</div>
		<div class="text text-center" style="margin-top:20px;">
			<?=__tr('personal.Please confirm your account')?>
		</div>			
		<div class="text-center">
			<a href="<?=LINK_LANG?>/personal/account-confirmation"> <?=__tr('personal.Account Confirmation')?></a>
		</div>
		
	</div>
</div>