<div class="row">
	<div class="col-xs-12">
		<div class="row" id="mideModalForm">
			<div class="text-center">
				<?foreach($view['type_'] as $c):?><button class="btn buy_fox" data-type="<?=$c?>"><?=$c?></button><?endforeach;?>				
				<div class="row rate">
					<?= __tr('personal.Rate') ?>: <span id="rate_show"></span>
				</div>
				<form id="buy_fox" onsubmit="return false;">
					<input type="hidden" name="rate" value="0" />
					<input type="hidden" name="wallet" value="<?=$view['w']?>" />
					<input type="hidden" name="t_type" value="" />
					
					
					<div class="form-ufx">
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.Amount') ?></label>
							<span class="desc"><?= __tr('personal.minimum value') ?> "<?=$view['min_fox_buy']?> <?=CURENCY?>"</span>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom"><i class="cc fox-alt icon-white"></i></span>
								<input class="form-control"  placeholder="enter amount" type="text" name="value"/>
								
							</div>
							<span class="error" id="value"></span>
						</div>
						<div class="form-group total">
                            <?= __tr('personal.Total amount') ?>: <span id="total_amount"></span>
						</div>
						
						<div class="form-group text-center">							
							<button  class="btn btn-info has-gradient-to-right-bottom btn-form" id="buy"><?= __tr('personal.Go to payment') ?></button>
						</div>
					</div>					
				</form>
					
			</div>
		</div>
		<div class="row result">
			<div class="col-xs-12" >				
				<div class="text text-center" style="word-wrap: break-word;word-break: break-all;font-size:15px;">
                   <strong><?= __tr('personal.BTC adsress')?></strong>: <span id="btc_address"></span>
				</div>
				<div class="text text-center" style="word-wrap: break-word;word-break: break-all;font-size:15px;">
                    <strong><?= __tr('personal.Amount BTC')?></strong>: <span id="btc_amount"></span>
				</div>
				
				<div class="img_result" id="qr_mode">
					
				</div>		
				
				<?/*<div class="header_result text-center"><?= __tr('personal.Congratulations') ?>!</div>*/?>
				<div class="text text-center" id="text_buy">
                    
				</div>
					<?/*Transaction ID: <span id="txhash" style="font-size:13px;"></span>*/?>
				<?/*<div class="text-center">
					<button type="button" class="btn btn-info has-gradient-to-right-bottom btn-form" data-dismiss="modal"><?= __tr('personal.Close') ?></button>
				</div>*/?>
				
			</div>
		</div>
		<?/*
		<div class="row result">
			<div class="col-xs-4" id="qr_mode"></div>
			<div class="col-xs-8" >	<div>Transaction complete</div> <div >Transaction ID: <span id="transaction"></span></div></div>
		</div>*/?>	
	</div>
	
</div>
<script>
	WalletsBuy.init(<?=$view['min_fox_buy']?>);
	WalletsBuy.showType('<?=$view['type_'][0]?>');
</script>