<?if(isset($view['create_w'])):?>
	<? $wallet=$view['create_w'];?>
<?endif;?>
<?$name_walet=$wallet["alias"]=="" ? CURENCY.' '.__tr('personal.wallet') : $wallet["alias"];?>
<div class="col-lg-4 wallets-item">
	<section class="box has-border-left-3">
		<header class="panel_header">
			<h2 class="title pull-left"><?=$name_walet?></h2>
			
		</header>
		<div class="content-body">    
			<div class="row">
				<div class="col-xs-12">
					<div class="text-center no-mt no-mb">
						<div class="transfer-wraper">
							
							<div class="form-group cryptonia no-mb">
								<label class="form-label mt-10"><?=__tr('personal.wallet address')?></label>
								<span class="desc"></span>

								<div class="input-group mb-10">
									<span class="input-group-addon has-gradient-to-right-bottom">
										<i class="cc fox-alt icon-white"></i>   
									</span>
									<p class="form-control-static with-border" id="wallet-index-<?=$wallet["wallet"]?>"><?php echo $wallet["wallet"]?></p>
									<a href="javascript:void(0);" class="input-group-addon" id="copy-to-buffer"  data-clipboard-action="copy" data-clipboard-target="p#wallet-index-<?=$wallet["wallet"]?>"><i class="fa fa-copy text-dark"></i></a>
								</div>
<?/*
								<span class="desc">1 BTC</span>
								<label class="form-label"> = 12.734 USD</label><br>
								
								<span class="desc">Total selling amount</span>
								<label class="form-label">54,634 $</label><br>
								
								<span class="desc">Total buying buy</span>
								<label class="form-label">534,263 $</label><br>
*/?>
								<div class="mt-10 balance">
									<strong class="form-label bold"><?=__tr('personal.Balance')?>: </strong>
									<span class="desc color-primary f-s-14"> <?php echo $wallet['balance']?> <?=CURENCY?></span>
								</div>
								<div class="col-sm-3 no-pl">
									<button href="javascript:void(0);" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" id="button-buy" data-wallet="<?php echo $wallet["wallet"]?>" style="width:100%">Buy</button>
								</div>
								
								<?if($content['personal_user_info']['is_admin']==1):?>
							
									<div class="col-sm-3">
										<a href="javascript:void(0);" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" id="button-send" data-wallet="<?php echo $wallet["wallet"]?>" style="width:100%">Send</a>
									</div>
									
									<div class="col-sm-3 no-pr">
										<a href="#" class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom" id="button-reciev" data-wallet="<?php echo $wallet["wallet"]?>" style="width:100%">Receive</a>
									</div>
								<?endif;?>
								
							</div>
							   
							
						</div>
					   
					</div>
				</div>
			   
			</div>
		</div>
	</section>
</div>