<div class="row">
	<div class="col-xs-12">
		<div class="row" id="mideModalForm">
			<div class="text-center">				
				<form id="r_fox" onsubmit="return false;">
					
					<input type="hidden" name="wallet" value="<?=$view['w']?>" />				
					
					<div class="form-ufx">
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.Amount') ?></label>
							<span class="desc"><?= __tr('personal.minimum value') ?> "0.001 <?=CURENCY?>"</span>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom"><i class="cc fox-alt icon-white"></i></span>
								<input class="form-control"  placeholder="enter amount" type="text" name="value"/>
								
							</div>
							<span class="error" id="value"></span>
						</div>					
					</div>					
				</form>					
			</div>
		</div>
		<div class="row result">
			<div class="col-xs-12" ><div ><?= __tr('personal.QR-code data') ?>:<br/> <span id="transaction" style="font-size:13px;"></span></div></div>
			<div class="col-xs-12" style="margin-top:20px;" id="qr_mode"></div>			
		</div>	
	</div>
	
</div>
<script>
	WalletsResive.init();
	
</script>