<div class="row">
	<div class="col-xs-12">
		<div class="row" id="mideModalForm" <?if(isset($view['transaction'])):?>style="display:none;"<?endif;?>>
			<div class="text-center">				
				<form id="send_fox" onsubmit="return false;">						
					
					<div class="form-ufx">						
						
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.wallet address') ?></label>
							
							<div class="input-group mb-10">
								<span class="input-group-addon "><img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/wallet-o.png"></span>
								<input class="form-control"  placeholder="OxsD12F32xvW3deG5..." type="text" name="wallet2"/>								
							</div>
							<span class="error" id="wallet2"></span>
						</div>
						
						<div class="form-group">
							<label class="form-label"><?= __tr('personal.Amount') ?></label>
							<span class="desc"><?= __tr('personal.minimum value') ?> "0.0001 <?=CURENCY?>"</span>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom"><i class="cc fox-alt icon-white"></i></span>
								<input class="form-control"  placeholder="enter amount" type="text" name="value"/>
								
							</div>
							<span class="error" id="value"></span>
						</div>
						
						<div class="text-center marengor"><div><?= __tr('personal.OR') ?></div></div>
						<div class="form-group text-center">							
							<a style="text-decoration:underline;" href="javascript:void(0);" id="addres">Paste QR-code data</a>							
						</div>
						
						
						<div class="form-group" id="adres_ins">
							<div class="input-group mb-10">
								<span class="input-group-addon"></span>
								<input class="form-control"  placeholder="OxsD12F32xvW3deG5..." type="text" name="adress"/>	
								
							</div>
							<span class="error" id="adress"></span>	
						</div>
						
						<div class="form-group">	
							
							<div class="input-group mb-10">								
								<input type="hidden" name="wallet" value="<?=$view['w']?>" />
								
							</div>
							<span class="error" id="wallet"></span>
						</div>
						
						<div class="form-group text-center">							
							<button class="btn btn-info has-gradient-to-right-bottom btn-form" id="send"><?= __tr('personal.Send') ?></button>
						</div>
					</div>					
				</form>
					
			</div>
		</div>
		<div class="row result">
			<div class="col-xs-12" >				
				
				<div class="img_result">
					<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/congrat_form.png" />
				</div>		
				
				<div class="header_result text-center"><?= __tr('personal.Congratulations') ?>!</div>
				<div class="text text-center">
                    <?= __tr('personal.Your money was successfully sent') ?>
				</div>
					<?/*Transaction ID: <span id="txhash" style="font-size:13px;"></span>*/?>
				<div class="text-center">
					<button type="button" class="btn btn-info has-gradient-to-right-bottom btn-form" data-dismiss="modal"><?= __tr('personal.Close') ?></button>
				</div>
				
			</div>
		</div>
		<div class="row result_confirmation">
			<div class="col-xs-12" >				
				<div class="text-center">
					<i class="fa fa-send icon-xlg icon-bordered icon-primary" style="color:#5B6AD7;"></i>
				</div>
				<div class="text text-center" style="margin-top:20px;">
                    To complete the transfer, a message has been sent to your email with further instructions.
				</div>
					<?/*Transaction ID: <span id="txhash" style="font-size:13px;"></span>*/?>
				<div class="text-center">
					
				</div>
				
			</div>
		</div>
		<div class="row result_confirmation_error">
			<div class="col-xs-12" >				
				<div class="text-center">
					<i class="fa fa-warning icon-xlg icon-bordered icon-danger"></i>
				</div>
				<div class="header_result text-center" style="margin-top:20px;">
                    Error!
				</div>
				<div class="text text-center" style="margin-top:20px;">
                    
				</div>
					<?/*Transaction ID: <span id="txhash" style="font-size:13px;"></span>*/?>
				<div class="text-center">
					<div class="loader-page" style="header:40px;"></div>
				</div>
				
			</div>
		</div>
		<?if(isset($view['transaction'])):?>
			<div class="loader-page" id="transaction_result" style="height:100px;display:block;"></div>
		<?endif;?>
		
	</div>
	
</div>

<script>
	WalletsSend.init();
	<?if(isset($view['transaction'])):?>
		WalletsSend.sendStatus('<?=$view['transaction']?>');
	<?endif;?>
	
</script>