<div class="row">
	<div class="col-xs-12">
		<div class="row" id="mideModalForm">
			<div class="text-center">				
				<form id="send_fox_<?=$view['id_r']?>" onsubmit="return false;">							
					
					<div class="form-ufx">						
						
						<div class="form-group">
							<label class="form-label">Your wallet</label>
							
							<div class="input-group mb-10">
								<span class="input-group-addon "><img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/wallet-o.png"></span>
								<?if($view['array_w']):?>
									<select name="wallet" class="form-control">
										<?foreach($view['wallets'] as $v):?>
											<option value="<?=$v['wallet']?>"><?=$v['wallet']?>   balance <?=$v['balance']?></option>
										<?endforeach;?>
									</select>
								<?else:?>
									<input class="form-control to-enable"  type="text" name="wallet" value="<?=$view['wallets']?>"/>	
								<?endif;?>	
							</div>
							<span class="error" id="wallet"></span>
						</div>
						<div class="form-group">
							<label class="form-label">wallet address</label>
							
							<div class="input-group mb-10">
								<span class="input-group-addon "><img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/wallet-o.png"></span>
								<input class="form-control to-enable to-edit"  type="text" name="wallet2" value="<?=$view['wallet_to']?>"/>								
							</div>
							<span class="error" id="wallet2"></span>
						</div>
						
						<div class="form-group">
							<label class="form-label">Amount</label>
							<span class="desc"></span>
							<div class="input-group mb-10">
								<span class="input-group-addon has-gradient-to-right-bottom"><i class="cc fox-alt icon-white"></i></span>
								<input class="form-control to-enable to-edit"  placeholder="enter amount" type="text" name="value" value="<?=$view['amount']?>"/>
								
							</div>
							<span class="error" id="value"></span>
						</div>					
						
						<div class="form-group text-center">							
							<button class="btn btn-info has-gradient-to-right-bottom btn-form" id="send">Send</button>
							<div class="loader-page" style="height:40px;"></div>
						</div>
					</div>					
				</form>
					
			</div>
		</div>
		<div class="row result">
			<div class="col-xs-12" >				
				
				<div class="img_result">
					<img src="<?php echo $view['content']['DOMAIN']?>/css/personal/images/icons/congrat_form.png" />
				</div>		
				
				<div class="header_result text-center"><?= __tr('personal.Congratulations') ?>!</div>
				<div class="text text-center">
					Your money was successfully sent
				</div>
					Transaction ID: <span id="txhash" style="font-size:13px;"></span>
				<div class="text-center">
					<button type="button" class="btn btn-info has-gradient-to-right-bottom btn-form" data-dismiss="modal">Close</button>
				</div>
				
			</div>
		</div>		
	</div>
	
</div>

<script>
	RequestModalFOX.init(<?=$view['id_r']?>);
</script>