<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="text-center">			
				<form id="passwordchange-form" onsubmit="return false;">
					<input type="hidden" name="passwordchange" value="1" />
					<div class="form-password">
						<div class="form-group">
							<label ><?= __tr('personal.Current Password') ?></label>
							<span class="desc"></span>
							<div class="mb-10">								
								<input class="form-control"  placeholder="<?= __tr('personal.Current Password') ?>" type="password" name="cpassword"/>								
							</div>							
						</div>
						<div class="form-group">
							<label ><?= __tr('personal.New Password') ?></label>
							<span class="desc"></span>
							<div class="mb-10">								
								<input class="form-control"  placeholder="<?= __tr('personal.New Password') ?>" type="password" name="newpassword"/>								
							</div>							
						</div>
						<div class="form-group">
							<label><?= __tr('personal.Confirm Password') ?></label>
							<span class="desc"></span>
							<div class="mb-10">								
								<input class="form-control"  placeholder="<?= __tr('personal.Confirm Password') ?>" type="password" name="renewpassword"/>								
							</div>							
						</div>
						<div class="form-group text-center" style="margin-top:30px;">							
							<button  class="btn btn-info has-gradient-to-right-bottom btn-form" id="save_pwd"><?= __tr('personal.Save') ?></button>
							<button  class="btn btn-info has-gradient-to-right-bottom btn-form" id="cancel_pwd"><?= __tr('personal.Cancel') ?></button>
							<div class="loader-page" style="height:40px;"></div>
						</div>
						
						
					</div>					
				</form>
					
			</div>
		</div>
			
	</div>
	
</div>
<script>
	SettingsPasswordFOX.initForm();
</script>