<div class="security-option-wrapper">
	<img src="<?php echo $content['DOMAIN']?>/css/personal/images/icons/pass-hint.png" class="tab-img-icon" alt="icon">
	<div class="tab-head">
		<h4 class="bold mb-5"><?=__tr('personal.Change password')?> </h4>
<!--		<h4 class="no-mt"><small>--><?//=__tr('personal.ChangepasswordInfo')?><!--</small></h4>-->
		<a href="javascript:void(0);" id="password-form" class="btn btn-primary btn-corner right15"><i class="fa fa-wrench complete color-white"></i><?=__tr('personal.Change now')?></a>
	</div>
</div>

<div class="modal fade col-xs-12" id="password-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

				<div class="loader-modal" ></div>

			</div>
			
		</div>
	</div>
</div>