<?foreach($view['list'][$key_type] as $v):?>
	<div class="row">
		<div class="col-xs-12">			
			<div class="col-xs-2">
				<label class="form-label"><?=$view['list_name'][$v]?>:</label>	
			</div>
			<div class="col-xs-6">
				<?
					$val=@$view['info'][$v];
					if($val=="")
						$val='none';
				?>
				
				<?php echo $val?>
			</div>	
		</div>
		
	</div>
<?endforeach?>