<?foreach($view['list'][$key_type] as $input):?>
	<?if(isset($view['info'][$input]) and $view['info'][$input]['user_name']!=''):?>
		
		<div style="clear:both;margin-left:15px;"><h4 ><?=$view['list_name'][$input]?></h4></div>
		<div class="row">
			<div class="col-xs-12">			
				<div class="col-xs-10 mb-20">			
					<div class="col-sm-12 avatar-img ">
						<div class="avatar-img-wrapper">						
							<?$file=$view['foto_path']."/".$view['info'][$input]['file']?>
							<img src="<?=$file?>" style="max-width:100px;height:100%;" alt="">						
						</div>					
					</div>
				</div>
			</div>		
		</div>
	<?endif;?>	
<?endforeach?>